<style>
  .menu {
    width: 486px;
    padding: 40px 40px 40px 60px;
    background: #fff;
    height: 100vh;
    transform: translateX(-486px);
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.71);
    backdrop-filter: blur(3.5px);
    display: none;
    z-index: 100;
  }
  .menu-cover.active {
    display: block;
  }
  .menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
  .menu-close-wrapp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: max-content;
  }
  .menu-links {
    width: 100%;
    height: max-content;
    margin: auto 0;
  }
  .menu-links a {
    display: block;
    color: #3C1F1B;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 30px;
  }
  .menu-links a:last-child {
    margin-bottom: 0;
  }
  .menu-links a:hover {
    text-decoration: underline;
  }
  .menu-links a:active {
    text-decoration: underline;
    opacity: .7;
  }
  .menu-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;
    margin-top: auto;
  }
  .menu-socials a {
    transition: .3s;
  }
  .menu-socials svg {
    height: 24px;
    width: auto;
  }
  .menu-socials a:hover {
    opacity: .85;
  }
  .menu-socials a:active {
    opacity: .7;
  }
  a.menu-close svg {
    height: 20px;
    display: block;
    width: 20px;
  }
  a.menu-close:hover {
    opacity: .85;
  }
  a.menu-close:active {
    opacity: .7;
  }
  @media (max-width: 750px) {
    .menu {
        padding: 40px 15px 100px 15px;
        width: 100%;
        transform: translateX(-100%);
    }
    .menu-links a {
      margin: 0 auto 20px auto;
      width: max-content;
    }
    .menu-links a:last-child {
      margin: 0 auto;
    }
    .menu-socials {
        width: 100%;
        justify-content: center;
    }
}
</style>
<div class="menu-cover"></div>
<div class="menu">
  <div class="menu-wrapper">
    <div class="menu-close-wrapp">
      <a href="javascript:void(0)" class="menu-close">
        {% render 'icon-close' %}
      </a>
    </div>
    <div class="menu-links">
      <a href="https://legitgrails.com/pages/choose-your-brand" class="body-text">Authenticate now</a>
      <a href="https://certificates-legitgrails.com/" target="_blank" class="body-text">Verify your certificate</a>
      <a href="https://legitgrails.com/pages/guides" class="body-text">Authentication guides</a>
      <a href="https://legitgrails.com/pages/business-solutions" class="body-text">Business solutions</a>
      <a href="https://academy.legitgrails.com" target="_blank" class="body-text">Authentication courses</a>
      <a href="https://legitgrails.com/pages/our-authentication-experts" class="body-text">Our experts</a>
      <a href="https://www.trustpilot.com/review/legitgrails.com" target="_blank" class="body-text">Reviews</a>
    </div>
    <div class="menu-socials">
      <a href="https://www.instagram.com/legitgrails/" target="_blank">
              <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.0013 0.64209C11.656 0.64209 11.1107 0.66109 9.404 0.738757C7.70067 0.816757 6.538 1.08642 5.52067 1.48209C4.46833 1.89076 3.57567 2.43742 2.68633 3.32709C1.79633 4.21642 1.24967 5.10909 0.839666 6.16109C0.443 7.17876 0.173 8.34176 0.0963332 10.0444C0.0199999 11.7511 0 12.2968 0 16.6421C0 20.9874 0.0193336 21.5311 0.096667 23.2378C0.175 24.9411 0.444667 26.1038 0.84 27.1211C1.249 28.1734 1.79567 29.0661 2.68533 29.9554C3.57433 30.8454 4.467 31.3934 5.51867 31.8021C6.53667 32.1978 7.69967 32.4674 9.40267 32.5454C11.1093 32.6231 11.6543 32.6421 15.9993 32.6421C20.345 32.6421 20.8887 32.6231 22.5953 32.5454C24.2987 32.4674 25.4627 32.1978 26.4807 31.8021C27.5327 31.3934 28.424 30.8454 29.313 29.9554C30.203 29.0661 30.7497 28.1734 31.1597 27.1214C31.553 26.1038 31.823 24.9408 31.903 23.2381C31.9797 21.5314 31.9997 20.9874 31.9997 16.6421C31.9997 12.2968 31.9797 11.7514 31.903 10.0448C31.823 8.34142 31.553 7.17876 31.1597 6.16142C30.7497 5.10909 30.203 4.21642 29.313 3.32709C28.423 2.43709 27.533 1.89042 26.4797 1.48209C25.4597 1.08642 24.2963 0.816757 22.593 0.738757C20.8863 0.66109 20.343 0.64209 15.9963 0.64209H16.0013ZM14.566 3.52542C14.992 3.52476 15.4673 3.52542 16.0013 3.52542C20.2733 3.52542 20.7797 3.54076 22.4667 3.61742C24.0267 3.68876 24.8733 3.94942 25.4373 4.16842C26.184 4.45842 26.7163 4.80509 27.276 5.36509C27.836 5.92509 28.1827 6.45842 28.4733 7.20509C28.6923 7.76842 28.9533 8.61509 29.0243 10.1751C29.101 11.8618 29.1177 12.3684 29.1177 16.6384C29.1177 20.9084 29.101 21.4151 29.0243 23.1018C28.953 24.6618 28.6923 25.5084 28.4733 26.0718C28.1833 26.8184 27.836 27.3501 27.276 27.9098C26.716 28.4698 26.1843 28.8164 25.4373 29.1064C24.874 29.3264 24.0267 29.5864 22.4667 29.6578C20.78 29.7344 20.2733 29.7511 16.0013 29.7511C11.729 29.7511 11.2227 29.7344 9.536 29.6578C7.976 29.5858 7.12933 29.3251 6.565 29.1061C5.81833 28.8161 5.285 28.4694 4.725 27.9094C4.165 27.3494 3.81833 26.8174 3.52767 26.0704C3.30867 25.5071 3.04767 24.6604 2.97667 23.1004C2.9 21.4138 2.88467 20.9071 2.88467 16.6344C2.88467 12.3618 2.9 11.8578 2.97667 10.1711C3.048 8.61109 3.30867 7.76442 3.52767 7.20042C3.81767 6.45376 4.165 5.92042 4.725 5.36042C5.285 4.80042 5.81833 4.45376 6.565 4.16309C7.129 3.94309 7.976 3.68309 9.536 3.61142C11.012 3.54476 11.584 3.52476 14.566 3.52142V3.52542ZM24.542 6.18209C23.482 6.18209 22.622 7.04109 22.622 8.10142C22.622 9.16142 23.482 10.0214 24.542 10.0214C25.602 10.0214 26.462 9.16142 26.462 8.10142C26.462 7.04142 25.602 6.18209 24.542 6.18209ZM16.0013 8.42542C11.4637 8.42542 7.78467 12.1044 7.78467 16.6421C7.78467 21.1798 11.4637 24.8571 16.0013 24.8571C20.539 24.8571 24.2167 21.1798 24.2167 16.6421C24.2167 12.1044 20.539 8.42542 16.0013 8.42542ZM16.0013 11.3088C18.9467 11.3088 21.3347 13.6964 21.3347 16.6421C21.3347 19.5874 18.9467 21.9754 16.0013 21.9754C13.0557 21.9754 10.668 19.5874 10.668 16.6421C10.668 13.6964 13.0557 11.3088 16.0013 11.3088Z" fill="#3C1F1B"/>
              </svg>
            </a>
            <a href="https://www.tiktok.com/@legitgrails" target="_blank">
              <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.2937 8.13871C24.696 7.79696 23.2493 6.95383 22.1644 5.73223C21.0795 4.51063 20.4131 2.97444 20.2625 1.3476V0.64209H14.7512V22.5144C14.7478 23.4827 14.4411 24.4256 13.8741 25.2107C13.3072 25.9957 12.5085 26.5833 11.5904 26.891C10.6723 27.1987 9.6808 27.211 8.75533 26.9261C7.82985 26.6412 7.01689 26.0736 6.43068 25.3029C5.83537 24.5193 5.50514 23.5664 5.48787 22.5824C5.4706 21.5985 5.7672 20.6346 6.33464 19.8306C6.90209 19.0266 7.71089 18.4242 8.64375 18.1109C9.57662 17.7975 10.5851 17.7894 11.5228 18.0878V12.4885C9.43165 12.1995 7.30243 12.5712 5.43297 13.5519C3.56351 14.5325 2.04732 16.0729 1.09646 17.9577C0.145612 19.8425 -0.19234 21.9774 0.129879 24.0637C0.452098 26.15 1.41837 28.0834 2.89354 29.5935C4.30033 31.0329 6.10414 32.0205 8.07472 32.4301C10.0453 32.8398 12.0932 32.6529 13.9571 31.8934C15.821 31.1339 17.4163 29.8362 18.5394 28.166C19.6625 26.4957 20.2624 24.5287 20.2625 22.516V11.3399C22.4898 12.9322 25.1603 13.786 27.8983 13.7812V8.30509C27.3591 8.30575 26.8213 8.24999 26.2937 8.13871Z" fill="#3C1F1B"/>
              </svg>
            </a>
            <a href="https://www.youtube.com/@legitgrails" target="_blank">
              <svg width="47" height="33" viewBox="0 0 47 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M45.6665 5.63927C45.1398 3.67126 43.593 2.12469 41.625 1.59788C38.0617 0.64209 23.7662 0.64209 23.7662 0.64209C23.7662 0.64209 9.47083 0.64209 5.90732 1.59788C3.93932 2.12469 2.39275 3.67126 1.86594 5.63927C0.910157 9.20276 0.910156 16.6421 0.910156 16.6421C0.910156 16.6421 0.910157 24.0815 1.86594 27.645C2.39275 29.613 3.93932 31.1595 5.90732 31.6862C9.47083 32.6421 23.7662 32.6421 23.7662 32.6421C23.7662 32.6421 38.0617 32.6421 41.625 31.6862C43.593 31.1595 45.1398 29.613 45.6665 27.645C46.6223 24.0815 46.6223 16.6421 46.6223 16.6421C46.6223 16.6421 46.6185 9.20276 45.6665 5.63927Z" fill="#3C1F1B"/>
              <path d="M19.1904 23.4987L31.0663 16.6427L19.1904 9.78662V23.4987Z" fill="white"/>
              </svg>
            </a>
            <a href="https://www.facebook.com/legitgrails/" target="_blank">
              <svg width="18" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.4203 32.6421V18.0465H16.3175L17.0522 12.3566H11.4203V8.72444C11.4203 7.07761 11.8757 5.95531 14.24 5.95531L17.2504 5.95408V0.864858C16.7298 0.797202 14.9427 0.64209 12.8627 0.64209C8.51936 0.64209 5.54582 3.29323 5.54582 8.16092V12.3566H0.633789V18.0465H5.54582V32.6421H11.4203Z" fill="#3C1F1B"/>
              </svg>
            </a>
            <a href="https://ee.linkedin.com/company/legitgrails" target="_blank">
              <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.8986 0.64209H4.62584C3.46854 0.64209 2.35863 1.10183 1.54029 1.92017C0.721946 2.73851 0.262207 3.84842 0.262207 5.00573L0.262207 28.2785C0.262207 29.4358 0.721946 30.5457 1.54029 31.364C2.35863 32.1824 3.46854 32.6421 4.62584 32.6421H27.8986C29.0559 32.6421 30.1658 32.1824 30.9841 31.364C31.8025 30.5457 32.2622 29.4358 32.2622 28.2785V5.00573C32.2622 3.84842 31.8025 2.73851 30.9841 1.92017C30.1658 1.10183 29.0559 0.64209 27.8986 0.64209ZM11.1713 25.9657C11.1715 26.0545 11.1543 26.1424 11.1205 26.2244C11.0867 26.3065 11.037 26.381 10.9744 26.4439C10.9117 26.5067 10.8373 26.5566 10.7553 26.5906C10.6734 26.6246 10.5855 26.6421 10.4968 26.6421H7.62221C7.53332 26.6423 7.44526 26.625 7.36309 26.5911C7.28092 26.5572 7.20626 26.5074 7.14341 26.4445C7.08056 26.3817 7.03075 26.307 6.99684 26.2248C6.96293 26.1427 6.9456 26.0546 6.94584 25.9657V13.9148C6.94584 13.7354 7.0171 13.5634 7.14395 13.4366C7.27079 13.3097 7.44282 13.2385 7.62221 13.2385H10.4968C10.6758 13.2389 10.8474 13.3104 10.9738 13.4372C11.1003 13.564 11.1713 13.7357 11.1713 13.9148V25.9657ZM9.05857 12.0966C8.51917 12.0966 7.99188 11.9367 7.54338 11.637C7.09488 11.3373 6.74532 10.9114 6.5389 10.413C6.33248 9.9147 6.27847 9.36634 6.3837 8.8373C6.48893 8.30826 6.74868 7.82231 7.1301 7.44089C7.51151 7.05947 7.99747 6.79973 8.52651 6.69449C9.05554 6.58926 9.60391 6.64327 10.1023 6.84969C10.6006 7.05611 11.0265 7.40567 11.3262 7.85417C11.6259 8.30267 11.7858 8.82996 11.7858 9.36936C11.7858 10.0927 11.4985 10.7864 10.987 11.2978C10.4756 11.8093 9.78189 12.0966 9.05857 12.0966ZM26.1968 26.013C26.197 26.0947 26.1811 26.1757 26.1499 26.2512C26.1187 26.3268 26.073 26.3954 26.0152 26.4532C25.9574 26.511 25.8887 26.5568 25.8132 26.588C25.7376 26.6191 25.6567 26.6351 25.5749 26.6348H22.484C22.4023 26.6351 22.3213 26.6191 22.2458 26.588C22.1702 26.5568 22.1016 26.511 22.0438 26.4532C21.986 26.3954 21.9402 26.3268 21.9091 26.2512C21.8779 26.1757 21.862 26.0947 21.8622 26.013V20.3675C21.8622 19.5239 22.1095 16.673 19.6568 16.673C17.7568 16.673 17.3695 18.6239 17.2931 19.5003V26.0203C17.2931 26.1836 17.2289 26.3404 17.1142 26.4568C16.9996 26.5731 16.8437 26.6397 16.6804 26.6421H13.6949C13.6134 26.6421 13.5326 26.626 13.4573 26.5947C13.3819 26.5634 13.3135 26.5176 13.2559 26.4599C13.1983 26.4021 13.1527 26.3335 13.1216 26.2581C13.0906 26.1827 13.0747 26.1018 13.0749 26.0203V13.8621C13.0747 13.7805 13.0906 13.6997 13.1216 13.6243C13.1527 13.5488 13.1983 13.4803 13.2559 13.4225C13.3135 13.3647 13.3819 13.3189 13.4573 13.2876C13.5326 13.2564 13.6134 13.2403 13.6949 13.2403H16.6804C16.8453 13.2403 17.0035 13.3058 17.1201 13.4224C17.2367 13.539 17.3022 13.6972 17.3022 13.8621V14.913C18.0077 13.853 19.0531 13.0385 21.284 13.0385C26.2258 13.0385 26.1931 17.653 26.1931 20.1875L26.1968 26.013Z" fill="#3C1F1B"/>
              </svg>
            </a>
            <a href="mailto:support@legitgrails.com">
              <svg width="43" height="33" viewBox="0 0 43 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.2076 21.4566C24.1446 22.1652 22.9099 22.5398 21.6369 22.5398C20.364 22.5398 19.1293 22.1652 18.0663 21.4566L0.558404 9.7843C0.461753 9.71968 0.366892 9.65242 0.273926 9.5826L0.273926 28.7089C0.273926 30.9018 2.05348 32.6421 4.20714 32.6421H39.0666C41.2595 32.6421 42.9998 30.8626 42.9998 28.7089V9.58252C42.9067 9.65252 42.8116 9.71992 42.7148 9.78463L25.2076 21.4566Z" fill="#3C1F1B"/>
              <path d="M1.94708 7.70122L19.455 19.3736C20.1177 19.8155 20.8773 20.0363 21.6368 20.0363C22.3965 20.0363 23.1561 19.8154 23.8189 19.3736L41.3267 7.70122C42.3745 7.00317 42.9999 5.83488 42.9999 4.57396C42.9999 2.40587 41.236 0.64209 39.068 0.64209H4.2058C2.03779 0.642173 0.273928 2.40595 0.273928 4.57605C0.273278 5.19458 0.425722 5.80366 0.717664 6.34896C1.00961 6.89425 1.43197 7.35882 1.94708 7.70122Z" fill="#3C1F1B"/>
              </svg>
            </a>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded",
  function (){
  $( "a.menu-close" ).on( "click", function() {
    $(".menu").removeClass("active");
    $(".menu-cover").removeClass("active");
  });
  $( "a.header_menu" ).on( "click", function() {
    $(".menu").addClass("active");
    $(".menu-cover").addClass("active");
  });
  $(document).mouseup( function(e){
		var menu = $( ".menu" ); 
		if ( !menu.is(e.target)
		    && menu.has(e.target).length === 0 ) { 
			$(".menu").removeClass("active");
            $(".menu-cover").removeClass("active");
		}
	});
    }
  )
</script>