<style>
.product_hero-disclaimer {
    color: rgba(60, 31, 27, 0.30);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .account-pricing_hero-items {
    justify-content: space-between;
    gap: 30px;
}
.account-pricing_hero-item {
    width: calc(25% - 26.25px);
}
.account-pricing_hero-item-text {
    width: calc(100% - 45px);
}
@media(max-width: 1250px) {
    .account-pricing_hero-item {
    width: calc(50% - 15px);
}
}
  @media(max-width: 950px) {
    .product_hero-disclaimer {
      max-width: 100%;
    }
}
@media(max-width: 600px) {
.account-pricing_hero-item {
    width: 100%;
}
.account-pricing_hero-item svg {
width: 25px;
height: 25px;
}
.account-pricing_hero-item-text {
    width: calc(100% - 40px);
}
}
</style>

  <div class="container rebranding_container">
    <div class="block-flex-wrap block-gap-50 w-100">
        <div class="block-flex-wrap block-gap-15 w-100 tac">
            <h1 class="h1-heading-ss w-100">
                Explore the Value of 
                <span class="h1-heading-pp">
                    LegitGrails Credits
                </span>
            </h1>
            <p class="body-text w-100">
                LegitGrails offers a transparent, efficient credit system tailored for any business.
            </p>
        </div>
        <div class="account-pricing_hero-items block-flex-wrap block-flex-start-center">
            <div class="account-pricing_hero-item block-flex-wrap block-gap-15">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="30" height="30" rx="15" fill="#3C1F1B"/>
<path d="M14.565 21.895V20.665C12.27 20.5 11.085 18.925 11.085 17.125H12.495C12.495 18.445 13.32 19.375 14.565 19.54V15.49L14.205 15.385C12.585 14.95 11.37 13.96 11.37 12.28C11.37 10.69 12.78 9.565 14.595 9.445V8.23H15.42V9.445C17.475 9.61 18.555 10.87 18.645 12.535H17.235C17.115 11.38 16.44 10.72 15.42 10.57V14.305L15.57 14.35C17.235 14.77 18.915 15.46 18.915 17.515C18.915 19.39 17.46 20.53 15.39 20.665V21.895H14.565ZM17.505 17.725C17.505 16.54 16.845 16.12 15.39 15.715V19.555C16.71 19.435 17.505 18.76 17.505 17.725ZM12.78 12.265C12.78 13.105 13.245 13.69 14.595 14.095V10.555C13.485 10.66 12.78 11.275 12.78 12.265Z" fill="white"/>
</svg>
                <div class="account-pricing_hero-item-text block-flex-wrap block-gap-5">
                    <h3 class="h3-heading-pp">
                        Easy conversion
                    </h3>
                    <p class="body-text w-100">
                        1 USD = 1 Credit. Easy conversion and value tracking
                    </p>
                </div>
            </div>
            <div class="account-pricing_hero-item block-flex-wrap block-gap-15">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.9997 6.05302C10.0633 6.05302 6.05273 10.0702 6.05273 15C6.05273 19.9295 10.07 23.9467 14.9998 23.9467C19.9293 23.9467 23.9465 19.9295 23.9465 15C23.9465 10.0702 19.9362 6.05295 14.9998 6.05295L14.9997 6.05302ZM19.4868 12.8552L14.0872 17.948C14.0378 17.9965 13.9792 18.0347 13.915 18.0604C13.8507 18.0862 13.7819 18.099 13.7127 18.098C13.6403 18.0987 13.5685 18.0845 13.5018 18.0564C13.435 18.0282 13.3748 17.9867 13.3247 17.9344L10.499 15.034C10.2921 14.8191 10.2966 14.4774 10.5096 14.2683C10.6119 14.1678 10.7497 14.1117 10.8931 14.1123C11.0365 14.1128 11.1739 14.1699 11.2754 14.2712L13.7266 16.7905L18.7377 12.0652C18.9558 11.8583 19.3003 11.8677 19.5072 12.0857C19.7141 12.3037 19.7048 12.6483 19.4868 12.8552Z" fill="#3C1F1B"/>
<path d="M27.8483 18.2613L30 15L27.8483 11.7384C27.7852 11.6414 27.7542 11.5271 27.7598 11.4115L27.9775 7.5033L24.4984 5.73994C24.3955 5.68809 24.3119 5.60455 24.2601 5.50163L22.5033 2.02217L18.5951 2.24005C18.4796 2.24571 18.3651 2.21468 18.2683 2.1514L14.9999 0L11.7383 2.1514C11.6415 2.21461 11.5272 2.24562 11.4117 2.23998L7.5033 2.02217L5.73994 5.50163C5.68809 5.60455 5.60455 5.68809 5.50163 5.73994L2.02217 7.49636L2.24005 11.4049C2.24562 11.5204 2.21472 11.6347 2.15174 11.7317L0 15L2.15174 18.2613C2.21473 18.3583 2.2456 18.4726 2.23998 18.5881L2.02223 22.4964L5.5017 24.2531C5.60462 24.305 5.68816 24.3885 5.74001 24.4914L7.4967 27.9709L11.4049 27.7527H11.432C11.5382 27.754 11.642 27.7847 11.7318 27.8413L14.9931 29.9931L18.2548 27.8413C18.3517 27.7784 18.4659 27.7474 18.5813 27.7528L22.4898 27.9709L24.2464 24.4914C24.2982 24.3885 24.3818 24.305 24.4847 24.2531L27.9639 22.4964L27.7461 18.5881C27.7519 18.4723 27.787 18.3598 27.8482 18.2613H27.8483ZM14.9999 25.0361C9.46432 25.0361 4.9636 20.5353 4.9636 15C4.96353 9.46426 9.46432 4.96353 15 4.96353C20.5357 4.96353 25.0361 9.46432 25.0361 15C25.0362 20.5353 20.5356 25.0361 14.9999 25.0361Z" fill="#3C1F1B"/>
</svg>
                <div class="account-pricing_hero-item-text block-flex-wrap block-gap-5">
                    <h3 class="h3-heading-pp">
                        Flexible usage
                    </h3>
                    <p class="body-text w-100">
                        Credits valid for all authentication services
                    </p>
                </div>
            </div>
            <div class="account-pricing_hero-item block-flex-wrap block-gap-15">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.897 1.03256L11.3133 3.11581C11.2421 3.20439 11.1455 3.269 11.0365 3.30094C10.9274 3.33287 10.8112 3.3306 10.7035 3.29442L8.14167 2.49907C7.75427 2.37883 7.34462 2.34812 6.94362 2.40928C6.54262 2.47043 6.16074 2.62184 5.82679 2.85209C5.48982 3.08314 5.21397 3.39254 5.02293 3.7537C4.8319 4.11487 4.73139 4.51701 4.73004 4.92558V7.50139C4.73004 7.70093 4.58074 7.86698 4.3826 7.92977L1.82074 8.72512C1.43087 8.84378 1.07463 9.05307 0.781176 9.33585C0.487721 9.61864 0.265388 9.96688 0.13237 10.3521C0.000710328 10.7395 -0.0334081 11.1535 0.0330349 11.5572C0.0994778 11.961 0.264433 12.3422 0.513301 12.667L2.09563 14.7516C2.15062 14.8227 2.18045 14.9101 2.18045 15C2.18045 15.0899 2.15062 15.1773 2.09563 15.2484L0.513301 17.333C0.264433 17.6578 0.0994778 18.039 0.0330349 18.4428C-0.0334081 18.8465 0.000710328 19.2605 0.13237 19.6479C0.265388 20.0331 0.487721 20.3814 0.781176 20.6641C1.07463 20.9469 1.43087 21.1562 1.82074 21.2749L4.3826 22.0702C4.58074 22.133 4.73004 22.2991 4.73004 22.4986V25.0744C4.73004 25.8935 5.1333 26.6665 5.82679 27.1479C6.16074 27.3782 6.54262 27.5296 6.94362 27.5907C7.34462 27.6519 7.75427 27.6212 8.14167 27.5009L10.7035 26.7056C10.8112 26.6694 10.9274 26.6671 11.0365 26.6991C11.1455 26.731 11.2421 26.7956 11.3133 26.8842L12.897 28.9674C13.3868 29.6121 14.1668 30 14.9998 30C15.8328 30 16.6128 29.6121 17.1026 28.9674L18.6863 26.8842C18.7575 26.7956 18.8541 26.731 18.9631 26.6991C19.0722 26.6671 19.1884 26.6694 19.2961 26.7056L21.858 27.5009C22.2454 27.6212 22.655 27.6519 23.056 27.5907C23.457 27.5296 23.8389 27.3782 24.1728 27.1479C24.8663 26.6665 25.2696 25.8935 25.2696 25.0744V22.4986C25.2696 22.2991 25.4189 22.133 25.617 22.0702L28.1789 21.2749C28.5688 21.1562 28.925 20.9469 29.2184 20.6641C29.5119 20.3814 29.7342 20.0331 29.8673 19.6479C29.9989 19.2605 30.033 18.8465 29.9666 18.4428C29.9001 18.039 29.7352 17.6578 29.4863 17.333L27.904 15.2484C27.849 15.1773 27.8192 15.0899 27.8192 15C27.8192 14.9101 27.849 14.8227 27.904 14.7516L29.4863 12.667C29.7352 12.3422 29.9001 11.961 29.9666 11.5572C30.033 11.1535 29.9989 10.7395 29.8673 10.3521C29.7342 9.96688 29.5119 9.61864 29.2184 9.33585C28.925 9.05307 28.5688 8.84378 28.1789 8.72512L25.617 7.92977C25.4189 7.86698 25.2696 7.70093 25.2696 7.50139V4.92558C25.2696 4.10651 24.8663 3.33349 24.1728 2.85209C23.8389 2.62184 23.457 2.47043 23.056 2.40928C22.655 2.34812 22.2454 2.37883 21.858 2.49907L19.2961 3.29442C19.1884 3.3306 19.0722 3.33287 18.9631 3.30094C18.8541 3.269 18.7575 3.20439 18.6863 3.11581L17.1026 1.03256C16.6128 0.387907 15.8328 0 14.9998 0C14.1668 0 13.3868 0.387907 12.897 1.03256ZM20.2575 17.6358C19.9647 17.3426 19.5915 17.1427 19.1852 17.0617C18.7788 16.9806 18.3575 17.0218 17.9746 17.1803C17.5917 17.3387 17.2644 17.6071 17.0341 17.9516C16.8038 18.2961 16.6809 18.7012 16.6809 19.1156C16.6809 19.53 16.8038 19.935 17.0341 20.2795C17.2644 20.624 17.5917 20.8925 17.9746 21.0509C18.3575 21.2093 18.7788 21.2506 19.1852 21.1695C19.5915 21.0884 19.9647 20.8886 20.2575 20.5953C20.6495 20.2027 20.8697 19.6705 20.8697 19.1156C20.8697 18.5607 20.6495 18.0285 20.2575 17.6358ZM19.1928 9.32651L9.32632 19.193C9.22911 19.2902 9.15201 19.4056 9.0994 19.5326C9.04679 19.6597 9.01971 19.7958 9.01971 19.9333C9.01971 20.0707 9.04679 20.2069 9.0994 20.3339C9.15201 20.4609 9.22911 20.5763 9.32632 20.6735C9.42353 20.7707 9.53894 20.8478 9.66595 20.9004C9.79296 20.953 9.92908 20.9801 10.0666 20.9801C10.204 20.9801 10.3402 20.953 10.4672 20.9004C10.5942 20.8478 10.7096 20.7707 10.8068 20.6735L20.6733 10.807C20.8696 10.6107 20.9799 10.3444 20.9799 10.0667C20.9799 9.7891 20.8696 9.52283 20.6733 9.32651C20.477 9.13019 20.2107 9.0199 19.9331 9.0199C19.6554 9.0199 19.3892 9.13019 19.1928 9.32651ZM12.7031 9.40465C12.5087 9.21023 12.2778 9.05601 12.0238 8.9508C11.7698 8.84558 11.4976 8.79142 11.2226 8.79142C10.9477 8.79142 10.6754 8.84558 10.4214 8.9508C10.1674 9.05601 9.93656 9.21023 9.74214 9.40465C9.54772 9.59907 9.3935 9.82988 9.28828 10.0839C9.18306 10.3379 9.12891 10.6102 9.12891 10.8851C9.12891 11.1601 9.18306 11.4323 9.28828 11.6863C9.3935 11.9404 9.54772 12.1712 9.74214 12.3656C10.1348 12.7582 10.6673 12.9788 11.2226 12.9788C11.7779 12.9788 12.3104 12.7582 12.7031 12.3656C13.0957 11.9729 13.3163 11.4404 13.3163 10.8851C13.3163 10.3298 13.0957 9.79729 12.7031 9.40465Z" fill="#3C1F1B"/>
</svg>
                <div class="account-pricing_hero-item-text block-flex-wrap block-gap-5">
                    <h3 class="h3-heading-pp">
                        Volume benefits
                    </h3>
                    <p class="body-text w-100">
                        Buy more credits, get bigger bonus rewards
                    </p>
                </div>
            </div>
            <div class="account-pricing_hero-item block-flex-wrap block-gap-15">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.2729 5.71537L21.9883 6.99997L24.2172 9.09927L25.4426 7.84894C25.998 7.2822 25.9719 6.36758 25.3849 5.83353L25.205 5.66981C24.6521 5.16673 23.8015 5.18679 23.2729 5.71537Z" fill="#3C1F1B"/>
<path d="M13.4652 2.86462V5.25212L16.5351 5.21836V2.86462H17.3562C18.1293 2.86462 18.7561 2.23783 18.7561 1.46465V1.39997C18.7561 0.626789 18.1293 0 17.3562 0H12.6441C11.8709 0 11.2441 0.626789 11.2441 1.39997V1.46465C11.2441 2.23784 11.8709 2.86462 12.6441 2.86462H13.4652Z" fill="#3C1F1B"/>
<ellipse cx="14.9996" cy="17.2885" rx="12.7115" ry="12.7115" fill="#3C1F1B"/>
<path d="M15 10.1134V17.2888H22.1753" stroke="#F2F2EA" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                <div class="account-pricing_hero-item-text block-flex-wrap block-gap-5">
                    <h3 class="h3-heading-pp">
                        Never expire
                    </h3>
                    <p class="body-text w-100">
                        Our credits, like authenticity, never expire
                    </p>
                </div>
            </div>
        </div>
        <p class="tiny-text product_hero-disclaimer">LegitGrails operates independently and is not associated with any brands it authenticates</p>
    </div>
  </div>
{% schema %}
  {
    "name": "Account Hero",
    "class": "account-pricing_hero rebranding-section",
    "settings": []
  }
{% endschema %}