<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss ivory-text tac">Fast, Accurate <span class="h2-heading-pp">Authentication for Your Business</span></h2>
      <p class="body-text ivory-text w-100 tac block-max-width">
        Scale your business with fast authentications, 550+ brand coverage, <br>
and 99.3% expert-backed accuracy — all in one seamless Account.
</p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="https://legitgrails.com/pages/schedule-a-call" class="rebranding_btn m-0">Talk to our team</a>
      <a href="https://account.legitgrails.com/" target="_blank" class="rebranding_btn rebranding_btn-main m-0">Explore Account</a>
    </div>
</div>
</div>

{% schema %}
  {
    "name": "Account CTA",
    "class": "rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}