<style>
    .app-landing_cta-wrapp {
        position: relative;
        width: 100%;
        max-width: 1100px;
        margin: auto;
        border-radius: 12px;
        border: 1px solid #EAEAEA;
        background: var(--White, #FFF);
        box-shadow: 0 52px 15px 0 rgba(108, 77, 72, 0.00), 0 33px 13px 0 rgba(108, 77, 72, 0.01), 0 19px 11px 0 rgba(108, 77, 72, 0.03), 0 8px 8px 0 rgba(108, 77, 72, 0.04), 0 2px 5px 0 rgba(108, 77, 72, 0.05);
    }
    .app-landing_cta-wrapp-text {
        width: calc(100% - 500px);
        padding: 50px 40px;
    }
    .app-landing_cta-wrapp-image {
        width: 450px;
        position: absolute;
        right: 40px;
        bottom: 0;
        z-index: 1;
    }
    .app-landing_cta-wrapp-image-wrapp {
        height: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
    }
    .app-landing_cta-wrapp-image-wrapp svg {
        width: 587px;
        z-index: -1;
        margin-top: -38px;
        margin-left: 0;
    }
    @media(max-width: 1250px) {
        .app-landing_cta-wrapp-text {
            width: calc(100% - 450px);
            padding: 50px 40px;
        }
    }
    @media(max-width: 950px) {
        .app-cta {
            padding-top: 0;
        }
        .app-landing_cta-wrapp-text {
            width: 100%;
            padding: 50px 40px;
            text-align: center;
            justify-content: center;
        }
        .app-landing_cta-wrapp-image {
            position: relative;
            margin: auto;
            right: 0;
            width: 100%;
            max-width: 400px;
        }
        .app-landing_cta-wrapp-image-wrapp svg {
            width: 587px;
            z-index: -1;
            margin-top: -38px;
            margin-left: 0;
            margin-bottom: -171px;
            display: none;
        }
        .app-landing_cta-wrapp-image-wrapp {
                bottom: 0;
            left: 50%;
            right: auto;
            margin-left: -300px;
            width: 600px;
            height: max-content;
        }
        .app-landing_cta-wrapp {
                border: 0;
            background: none;
            box-shadow: none;
            border-radius: 0;
        }
        .app-landing_cta-wrapp-image-wrapp {
            display: none;
        }
        .app-cta {
            padding: 0;
        }
    }
    @media(max-width: 750px) {
        .app-landing_cta-wrapp-text {
            width: 100%;
            padding: 30px 20px 50px 20px;
        }
    }
</style>

<div class="rebranding_container">
    <div class="app-landing_cta-wrapp block-flex-wrap">
        <div class="app-landing_cta-wrapp-text block-flex-wrap block-gap-20">
            <div class="block-flex-wrap block-gap-15 w-100">
                <h2 class="h2-heading-ss w-100">
                    Get
                    <span class="h2-heading-pp">
                        Loyalty Rewards
                    </span>
                </h2>
                <p class="body-text w-100">
                    Our loyalty program rewards you as you grow—unlock exclusive discounts and perks just by using LegitGrails
                </p>
            </div>
            <a href="">
                <svg width="202" height="60" viewBox="0 0 202 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_5214_6736)">
                <path d="M200.712 52.9145C200.712 56.0777 198.137 58.6589 194.98 58.6589H7.06999C3.88849 58.6589 1.31299 56.0777 1.31299 52.9145V7.08572C1.31299 3.89719 3.88849 1.34131 7.06999 1.34131H194.955C198.137 1.34131 200.687 3.9225 200.687 7.08572C200.687 10.2489 200.687 52.9145 200.687 52.9145H200.712Z" fill="#3C1F1B"/>
                <path d="M194.98 60H7.07C3.15625 60 0 56.8368 0 52.9144V7.08562C0 3.16322 3.1815 0 7.07 0H194.955C198.869 0 202.025 3.18853 202.025 7.08562V52.9144C202.025 56.8115 198.844 60 194.955 60H194.98Z" fill="#FFEEE5"/>
                <path d="M200.712 52.9145C200.712 56.0777 198.137 58.6589 194.98 58.6589H7.06999C3.88849 58.6589 1.31299 56.0777 1.31299 52.9145V7.08572C1.31299 3.89719 3.88849 1.34131 7.06999 1.34131H194.955C198.137 1.34131 200.687 3.9225 200.687 7.08572C200.687 10.2489 200.687 52.9145 200.687 52.9145H200.712Z" fill="#FFEEE5"/>
                <path d="M45.1218 29.6837C45.0713 24.8503 49.0861 22.4969 49.2628 22.3957C46.9903 19.0806 43.4806 18.6504 42.2686 18.5998C39.3143 18.2961 36.4611 20.3712 34.9713 20.3712C33.4816 20.3712 31.1333 18.6251 28.6336 18.6757C25.4268 18.7263 22.4221 20.5737 20.7808 23.4585C17.3973 29.3548 19.9223 37.984 23.1796 42.7415C24.7956 45.0696 26.7146 47.6761 29.1891 47.5749C31.6131 47.4737 32.5221 46.0313 35.4763 46.0313C38.4306 46.0313 39.2386 47.5749 41.7888 47.5243C44.3896 47.4737 46.0561 45.1962 47.6216 42.8427C49.4901 40.1856 50.2476 37.5538 50.2981 37.402C50.2476 37.402 45.2228 35.4535 45.1723 29.6584L45.1218 29.6837ZM40.3243 15.4619C41.6373 13.817 42.5211 11.5901 42.2686 9.33789C40.3748 9.41381 38.0013 10.6538 36.6378 12.2481C35.4258 13.6652 34.3401 15.968 34.6431 18.1443C36.7641 18.2961 38.9608 17.0562 40.3243 15.4619Z" fill="#130706"/>
                <path d="M80.3709 47.2715H76.9622L75.0937 41.4005H68.6297L66.8622 47.2715H63.5544L69.9679 27.3052H73.9322L80.3709 47.2715ZM74.5382 38.9459L72.8464 33.7329C72.6697 33.2015 72.3414 31.9362 71.8364 29.9623H71.7859C71.5839 30.8227 71.2809 32.0627 70.8517 33.7329L69.1852 38.9459H74.5382ZM96.8339 39.8822C96.8339 42.3369 96.1774 44.2601 94.8392 45.6772C93.6524 46.9425 92.1627 47.5751 90.4204 47.5751C88.6782 47.5751 87.1379 46.8919 86.3047 45.5254V53.0918H83.1232V37.5794C83.1232 36.0357 83.0727 34.4668 82.9969 32.8472H85.7997L85.9764 35.1247H86.0269C87.0874 33.4039 88.7034 32.5435 90.8749 32.5435C93.0464 32.5435 93.9807 33.2268 95.1169 34.568C96.2532 35.9092 96.8087 37.6806 96.8087 39.8822H96.8339ZM93.5767 40.0087C93.5767 38.6169 93.2737 37.4528 92.6424 36.5418C91.9607 35.6055 91.0264 35.1247 89.8649 35.1247C88.7034 35.1247 88.3499 35.3778 87.7187 35.9092C87.0874 36.4406 86.6582 37.1239 86.4562 37.959C86.3804 38.2879 86.3299 38.5916 86.3047 38.9206V41.3246C86.3047 42.3622 86.6329 43.2479 87.2642 43.9817C87.8954 44.6903 88.7287 45.0699 89.7639 45.0699C90.7992 45.0699 91.9102 44.6144 92.5667 43.6781C93.2484 42.7417 93.5767 41.5271 93.5767 40.0087ZM113.373 39.8822C113.373 42.3369 112.716 44.2601 111.378 45.6772C110.191 46.9425 108.701 47.5751 106.959 47.5751C105.217 47.5751 103.677 46.8919 102.843 45.5254V53.0918H99.6619V37.5794C99.6619 36.0357 99.6114 34.4668 99.5357 32.8472H102.338L102.515 35.1247H102.566C103.626 33.4039 105.242 32.5435 107.414 32.5435C109.585 32.5435 110.519 33.2268 111.656 34.568C112.792 35.9092 113.347 37.6806 113.347 39.8822H113.373ZM110.115 40.0087C110.115 38.6169 109.787 37.4528 109.156 36.5418C108.474 35.6055 107.54 35.1247 106.378 35.1247C105.217 35.1247 104.863 35.3778 104.232 35.9092C103.601 36.4406 103.172 37.1239 102.97 37.959C102.869 38.3638 102.818 38.6675 102.818 38.9206V41.3246C102.818 42.3622 103.146 43.2479 103.778 43.9817C104.409 44.6903 105.242 45.0699 106.277 45.0699C107.313 45.0699 108.424 44.6144 109.08 43.6781C109.762 42.7417 110.09 41.5271 110.09 40.0087H110.115ZM131.83 41.6789C131.83 43.3744 131.25 44.7662 130.063 45.8291C128.775 46.9931 126.957 47.5751 124.634 47.5751C122.311 47.5751 120.771 47.1703 119.483 46.3352L120.215 43.6781C121.604 44.5131 123.144 44.918 124.836 44.918C126.528 44.918 126.982 44.6397 127.639 44.1083C128.321 43.5768 128.649 42.843 128.649 41.932C128.649 41.0209 128.371 40.4389 127.816 39.8822C127.26 39.3255 126.351 38.8193 125.063 38.3385C121.579 37.0226 119.837 35.1247 119.837 32.6194C119.837 30.1142 120.443 29.6333 121.68 28.5958C122.917 27.5583 124.533 27.0269 126.578 27.0269C128.624 27.0269 129.911 27.3558 131.098 27.9632L130.29 30.5697C129.154 29.9623 127.891 29.6587 126.452 29.6587C125.013 29.6587 124.432 29.937 123.801 30.4937C123.271 30.9999 122.993 31.5819 122.993 32.3158C122.993 33.0496 123.296 33.7582 123.902 34.2643C124.432 34.7451 125.392 35.2512 126.806 35.808C128.523 36.4912 129.785 37.301 130.593 38.2373C131.401 39.1736 131.805 40.3124 131.805 41.7042L131.83 41.6789ZM142.435 35.2765H138.926V42.2609C138.926 44.0323 139.557 44.918 140.794 44.918C142.031 44.918 141.829 44.8674 142.208 44.7662L142.284 47.1956C141.653 47.4233 140.819 47.5498 139.809 47.5498C138.799 47.5498 137.562 47.1703 136.855 46.3858C136.148 45.6266 135.795 44.3107 135.795 42.514V35.2512H133.699V32.8472H135.795V30.2154L138.926 29.2791V32.8725H142.435V35.2765ZM158.267 39.9581C158.267 42.1597 157.636 43.9817 156.373 45.3988C155.06 46.8666 153.293 47.6005 151.121 47.6005C148.95 47.6005 147.334 46.8919 146.071 45.5001C144.809 44.1083 144.203 42.3369 144.203 40.1859C144.203 38.0349 144.859 36.1369 146.147 34.6945C147.435 33.2774 149.177 32.5688 151.374 32.5688C153.571 32.5688 155.187 33.2774 156.449 34.6692C157.686 36.0357 158.292 37.7818 158.292 39.9328L158.267 39.9581ZM154.959 40.034C154.959 38.7181 154.682 37.5794 154.101 36.6431C153.419 35.5043 152.485 34.9223 151.222 34.9223C149.96 34.9223 148.975 35.5043 148.293 36.6431C147.713 37.5794 147.435 38.7434 147.435 40.1099C147.435 41.4765 147.713 42.5646 148.293 43.5009C148.975 44.6397 149.935 45.2217 151.197 45.2217C152.46 45.2217 153.369 44.6397 154.076 43.4756C154.656 42.514 154.959 41.3752 154.959 40.034ZM168.645 35.6814C168.317 35.6308 167.988 35.5802 167.635 35.6055C166.524 35.6055 165.64 36.0357 165.034 36.8708C164.504 37.63 164.226 38.5663 164.226 39.705V47.2715H161.045V37.4022C161.045 35.8839 161.019 34.3908 160.944 32.8725H163.721L163.847 35.6308H163.923C164.251 34.6945 164.782 33.91 165.514 33.3533C166.17 32.8472 166.978 32.5941 167.812 32.5941C168.115 32.5941 168.367 32.5941 168.62 32.6447V35.7067L168.645 35.6814ZM182.936 39.4014C182.936 39.8822 182.911 40.363 182.81 40.8438H173.24C173.266 42.2609 173.745 43.3491 174.629 44.1083C175.437 44.7662 176.472 45.1205 177.76 45.1205C179.048 45.1205 180.462 44.8927 181.623 44.4372L182.128 46.6641C180.765 47.2462 179.174 47.5498 177.306 47.5498C175.437 47.5498 173.316 46.8919 172.054 45.576C170.791 44.2601 170.16 42.4887 170.16 40.2871C170.16 38.0855 170.741 36.3141 171.927 34.8716C173.165 33.328 174.831 32.5688 176.952 32.5688C179.073 32.5688 180.588 33.328 181.649 34.8716C182.482 36.0863 182.911 37.6047 182.911 39.4014H182.936ZM179.881 38.5663C179.881 37.6047 179.704 36.7949 179.25 36.1116C178.694 35.2259 177.836 34.7704 176.7 34.7704C175.563 34.7704 174.806 35.2006 174.149 36.0863C173.619 36.7696 173.291 37.6047 173.215 38.5663H179.856H179.881Z" fill="#130706"/>
                <path d="M67.6952 20.2447C66.8115 20.2447 66.0287 20.1941 65.3975 20.1182V10.4767C66.2812 10.3502 67.1902 10.2743 68.0992 10.2743C71.7605 10.2743 73.4522 12.071 73.4522 15.0318C73.4522 17.9925 71.4575 20.27 67.6952 20.27V20.2447ZM68.2507 11.5142C67.7457 11.5142 67.3417 11.5396 66.9882 11.6155V18.9541C67.165 18.9795 67.5437 19.0048 68.0487 19.0048C70.4475 19.0048 71.811 17.6382 71.811 15.0824C71.811 12.5265 70.5737 11.5396 68.2507 11.5396V11.5142ZM78.7042 20.3207C76.6337 20.3207 75.2955 18.777 75.2955 16.6766C75.2955 14.5762 76.659 12.9314 78.8052 12.9314C80.9515 12.9314 82.214 14.3991 82.214 16.5501C82.214 18.7011 80.8 20.2954 78.7042 20.2954V20.3207ZM78.78 14.0954C77.6437 14.0954 76.9115 15.1583 76.9115 16.6513C76.9115 18.1444 77.6437 19.1819 78.7547 19.1819C79.8657 19.1819 80.598 18.0431 80.598 16.626C80.598 15.2089 79.8657 14.1207 78.78 14.1207V14.0954ZM94.0057 13.0832L91.809 20.1688H90.3697L89.4607 17.1068C89.2335 16.3477 89.0315 15.5885 88.9052 14.8293H88.88C88.7537 15.5885 88.5517 16.373 88.3245 17.1068L87.3397 20.1688H85.8752L83.8047 13.0832H85.4207L86.2287 16.4489C86.4055 17.2587 86.5822 18.0178 86.7085 18.7264H86.7337C86.86 18.1191 87.0367 17.3852 87.3145 16.4742L88.3245 13.1085H89.6122L90.5717 16.4236C90.799 17.2334 91.001 18.0178 91.1272 18.7517H91.1777C91.2787 18.0178 91.4302 17.2587 91.6575 16.4236L92.516 13.1085H94.0562L94.0057 13.0832ZM102.136 20.1435H100.571V16.0693C100.571 14.8293 100.091 14.1967 99.1567 14.1967C98.2225 14.1967 97.5912 15.0064 97.5912 15.9175V20.1182H96.0257V15.0571C96.0257 14.4244 96.0257 13.7665 95.9752 13.0326H97.364L97.4397 14.1207H97.4902C97.9195 13.3616 98.778 12.8808 99.7375 12.8808C101.227 12.8808 102.187 14.0195 102.187 15.8668V20.0929L102.136 20.1435ZM106.454 20.1435H104.888V9.81876H106.454V20.1435ZM112.186 20.3207C110.115 20.3207 108.777 18.777 108.777 16.6766C108.777 14.5762 110.14 12.9314 112.287 12.9314C114.433 12.9314 115.695 14.3991 115.695 16.5501C115.695 18.7517 114.281 20.2954 112.186 20.2954V20.3207ZM112.236 14.0954C111.1 14.0954 110.368 15.1583 110.368 16.6513C110.368 18.1444 111.1 19.1819 112.211 19.1819C113.322 19.1819 114.054 18.0431 114.054 16.626C114.054 15.1836 113.322 14.1207 112.236 14.1207V14.0954ZM121.882 20.1435L121.755 19.3337H121.705C121.225 19.9917 120.518 20.3207 119.634 20.3207C118.372 20.3207 117.463 19.435 117.463 18.2456C117.463 16.4995 118.978 15.5885 121.579 15.5885V15.462C121.579 14.5256 121.074 14.0701 120.114 14.0701C119.155 14.0701 118.801 14.2473 118.271 14.6016L117.943 13.564C118.599 13.1591 119.407 12.9567 120.367 12.9567C122.21 12.9567 123.144 13.9436 123.144 15.8921V18.4986C123.144 19.2072 123.169 19.7639 123.245 20.1941H121.831L121.882 20.1435ZM121.68 16.626C119.937 16.626 119.054 17.0562 119.054 18.0431C119.054 19.0301 119.508 19.1566 120.139 19.1566C120.771 19.1566 121.68 18.5493 121.68 17.7142V16.626ZM130.82 20.1435L130.744 19.0048H130.694C130.239 19.8652 129.482 20.2954 128.421 20.2954C126.73 20.2954 125.467 18.8023 125.467 16.6766C125.467 14.5509 126.78 12.9061 128.548 12.9061C130.315 12.9061 130.164 13.235 130.542 13.8677H130.568V9.79346H132.133V18.2203C132.133 18.9035 132.133 19.5362 132.184 20.1182H130.795L130.82 20.1435ZM130.593 15.9934C130.593 15.0064 129.936 14.1461 128.952 14.1461C127.967 14.1461 127.083 15.1836 127.083 16.626C127.083 18.0684 127.815 19.0301 128.926 19.0301C130.037 19.0301 130.618 18.1697 130.618 17.1574V15.9681L130.593 15.9934ZM142.107 20.3207C140.036 20.3207 138.698 18.777 138.698 16.6766C138.698 14.5762 140.062 12.9314 142.208 12.9314C144.354 12.9314 145.617 14.3991 145.617 16.5501C145.617 18.7517 144.203 20.2954 142.107 20.2954V20.3207ZM142.183 14.0954C141.046 14.0954 140.314 15.1583 140.314 16.6513C140.314 18.1444 141.046 19.1819 142.157 19.1819C143.268 19.1819 144.001 18.0431 144.001 16.626C144.001 15.1836 143.268 14.1207 142.183 14.1207V14.0954ZM154.075 20.1435H152.51V16.0693C152.51 14.8293 152.03 14.1967 151.096 14.1967C150.162 14.1967 149.53 15.0064 149.53 15.9175V20.1182H147.965V15.0571C147.965 14.4244 147.965 13.7665 147.914 13.0326H149.303L149.379 14.1207H149.429C149.859 13.3616 150.717 12.8808 151.677 12.8808C153.166 12.8808 154.126 14.0195 154.126 15.8668V20.0929L154.075 20.1435ZM164.63 14.2473H162.913V17.6889C162.913 18.5746 163.216 19.0048 163.822 19.0048C164.428 19.0048 164.327 18.9795 164.529 18.9288L164.579 20.1182C164.276 20.2447 163.872 20.2954 163.367 20.2954C162.13 20.2954 161.398 19.6121 161.398 17.8154V14.2473H160.363V13.0579H161.398V11.7673L162.938 11.3118V13.0832H164.655V14.2726L164.63 14.2473ZM172.937 20.1435H171.372V16.1199C171.372 14.8546 170.892 14.222 169.958 14.222C169.023 14.222 168.392 14.7787 168.392 15.8921V20.1688H166.827V9.84407H168.392V14.0954H168.417C168.922 13.3363 169.629 12.9567 170.538 12.9567C172.028 12.9567 172.937 14.1207 172.937 15.9681V20.1688V20.1435ZM181.446 17.0056H176.725C176.75 18.3468 177.634 19.106 178.947 19.106C180.26 19.106 180.285 18.9795 180.84 18.777L181.093 19.8652C180.436 20.1688 179.628 20.2954 178.719 20.2954C176.523 20.2954 175.21 18.9035 175.21 16.7272C175.21 14.5509 176.548 12.9314 178.543 12.9314C180.537 12.9314 181.472 14.2726 181.472 16.297C181.472 16.5248 181.472 16.7779 181.421 17.0056H181.446ZM180.007 15.8668C180.007 14.7787 179.452 13.9942 178.442 13.9942C177.432 13.9942 176.826 14.7787 176.725 15.8668H179.982H180.007Z" fill="#130706"/>
                </g>
                <rect x="0.5" y="0.5" width="201" height="59" rx="9.5" stroke="url(#paint0_linear_5214_6736)"/>
                <defs>
                <linearGradient id="paint0_linear_5214_6736" x1="-2.83621e-07" y1="60" x2="206.326" y2="27.2742" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF8452"/>
                <stop offset="1" stop-color="#E64508"/>
                </linearGradient>
                <clipPath id="clip0_5214_6736">
                <rect width="202" height="60" rx="10" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </a>
        </div>
        <img class="app-landing_cta-wrapp-image" src="{{ "app-landing_cta.webp" | asset_url }}">
        <div class="app-landing_cta-wrapp-image-wrapp">
            <svg width="575" height="575" viewBox="0 0 575 575" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="287.5" cy="287.5" rx="287.5" ry="287.5" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 575)" fill="url(#paint0_radial_5217_6821)"/>
            <defs>
            <radialGradient id="paint0_radial_5217_6821" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(287.5 287.5) rotate(90) scale(287.5 287.5)">
            <stop stop-color="#F24F14"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "App CTA",
    "class": "app-cta rebranding-section",
    "settings": []
  }
{% endschema %}