<div class="product_checkout-left">
    <div class="blok-4-wrapper">
        <p class="block-title font-title">4 خطوات بسيطة لفحص أصالة أي منتج</p>
        <div class="blok-4-wrapper__left">
            <div class="blok-4-wrapper__left-line"><span></span> <span></span></div>
            <div class="blok-4-wrapper__left-items">
                <div class="blok-4-wrapper__left-item font-description"><span> <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.99372 9.45926C8.3139 9.45926 8.57757 9.20187 8.57757 8.89425V2.81724L8.52734 1.88812L8.91657 2.3464L9.80176 3.28181C9.9022 3.39481 10.0466 3.45759 10.1847 3.45759C10.4735 3.45759 10.7058 3.24414 10.7058 2.95536C10.7058 2.80469 10.6493 2.69169 10.5426 2.58496L8.43318 0.550922C8.28251 0.40653 8.15067 0.356307 7.99372 0.356307C7.84305 0.356307 7.70494 0.40653 7.55427 0.550922L5.45117 2.58496C5.34445 2.69169 5.28167 2.80469 5.28167 2.95536C5.28167 3.24414 5.50767 3.45759 5.79646 3.45759C5.94085 3.45759 6.09152 3.39481 6.19196 3.28181L7.07087 2.3464L7.4601 1.88184L7.41616 2.81724V8.89425C7.41616 9.20187 7.67983 9.45926 7.99372 9.45926ZM2.61984 15.1282H13.3739C14.7299 15.1282 15.433 14.4314 15.433 13.0942V9.40276C15.433 8.74358 15.364 8.39202 15.0564 8.00907L13.2169 5.74902C12.382 4.732 12.0744 4.48717 10.9255 4.48717H9.73898V5.51674H10.9569C11.3963 5.51674 11.6726 5.60463 12.0304 6.04409L13.9766 8.46108C14.2088 8.74358 14.1147 8.86914 13.7945 8.86914H9.85198C9.52553 8.86914 9.37486 9.10142 9.37486 9.35254V9.37137C9.37486 10.0557 8.84752 10.7839 7.99372 10.7839C7.14621 10.7839 6.61886 10.0557 6.61886 9.37137V9.35254C6.61886 9.10142 6.46819 8.86914 6.13546 8.86914H2.2055C1.87277 8.86914 1.80371 8.73103 2.01716 8.46108L3.95075 6.06292C4.32115 5.61091 4.5911 5.51674 5.03055 5.51674H6.26102V4.48717H5.06822C3.91936 4.48717 3.61803 4.72573 2.76423 5.76158L0.937362 8.00907C0.629744 8.38574 0.560687 8.74358 0.560687 9.40276V13.0942C0.560687 14.4314 1.26381 15.1282 2.61984 15.1282ZM2.67634 13.8977C2.0925 13.8977 1.77232 13.5964 1.77232 12.9874V9.95522H5.5579C5.75251 11.079 6.72559 11.9139 7.99372 11.9139C9.26186 11.9139 10.2412 11.079 10.4358 9.95522H14.2151V12.9874C14.2151 13.5964 13.8887 13.8977 13.3111 13.8977H2.67634Z" fill="#fff"></path> </svg> </span>
                    <p>ارفع صور المنتج</p>
                </div>
                <div class="blok-4-wrapper__left-item font-description"><span> <svg width="16" height="14" viewbox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5.67718 10.0395H12.9847C13.2797 10.0395 13.5371 9.81348 13.5371 9.48703C13.5371 9.16057 13.2797 8.93457 12.9847 8.93457H5.81529C5.50767 8.93457 5.31934 8.71484 5.27539 8.39467L5.18122 7.74177H13.0349C13.9891 7.74177 14.4914 7.15792 14.6357 6.20996L15.1066 3.05218C15.1191 2.96429 15.1317 2.85756 15.1317 2.79478C15.1317 2.43066 14.8743 2.18583 14.4474 2.18583H4.37137L4.27093 1.49526C4.19559 0.955357 3.98214 0.679129 3.2853 0.679129H1.1257C0.81808 0.679129 0.54813 0.949079 0.54813 1.26925C0.54813 1.58315 0.81808 1.8531 1.1257 1.8531H3.10324L4.08259 8.52023C4.2207 9.46191 4.72293 10.0395 5.67718 10.0395ZM13.8447 3.29074L13.4429 6.09696C13.399 6.42341 13.2232 6.63058 12.9093 6.63058L5.018 6.63686L4.5346 3.29074H13.8447ZM6.18569 13.1784C6.79464 13.1784 7.27176 12.695 7.27176 12.0924C7.27176 11.4834 6.79464 11 6.18569 11C5.58301 11 5.09961 11.4834 5.09961 12.0924C5.09961 12.695 5.58301 13.1784 6.18569 13.1784ZM11.9927 13.1784C12.6017 13.1784 13.0851 12.695 13.0851 12.0924C13.0851 11.4834 12.6017 11 11.9927 11C11.3901 11 10.9004 11.4834 10.9004 12.0924C10.9004 12.695 11.3901 13.1784 11.9927 13.1784Z" fill="#fff"></path> </svg> </span>
                    <p>قدم طلبك</p>
                </div>
                <div class="blok-4-wrapper__left-item font-description"><span> <svg width="12" height="14" viewbox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5.95605 13.0089C6.06906 13.0089 6.23856 12.965 6.40179 12.8771C10.0053 10.9121 11.2609 10.0081 11.2609 7.72294V2.97056C11.2609 2.22977 10.9721 1.9661 10.3506 1.70243C9.65374 1.40737 7.29953 0.578683 6.60896 0.352678C6.40806 0.283621 6.1695 0.239676 5.95605 0.239676C5.74888 0.239676 5.51032 0.296177 5.30315 0.352678C4.61886 0.541015 2.26465 1.41364 1.5678 1.70243C0.946289 1.95982 0.657505 2.22977 0.657505 2.97056V7.72294C0.657505 10.0081 1.91309 10.9058 5.5166 12.8771C5.67983 12.965 5.84933 13.0089 5.95605 13.0089ZM5.95605 11.6906C5.86816 11.6906 5.774 11.6592 5.59821 11.5462C2.72293 9.80092 1.83147 9.3238 1.83147 7.48437V3.17146C1.83147 2.95173 1.8817 2.86384 2.0512 2.79478C2.98033 2.41811 4.78836 1.82171 5.6296 1.48898C5.76772 1.43876 5.86816 1.41992 5.95605 1.41992C6.05022 1.41992 6.14439 1.43876 6.28251 1.48898C7.13002 1.82171 8.91922 2.45578 9.86091 2.79478C10.0367 2.85756 10.0806 2.95173 10.0806 3.17146V7.48437C10.0806 9.33636 9.15778 9.83859 6.32017 11.5462C6.13811 11.6592 6.05022 11.6906 5.95605 11.6906ZM5.28432 9.27358C5.51032 9.27358 5.70494 9.16685 5.83677 8.95968L8.64927 4.57143C8.73089 4.43959 8.79994 4.28892 8.79994 4.15081C8.79994 3.83691 8.52372 3.62974 8.22866 3.62974C8.04032 3.62974 7.87081 3.73647 7.74526 3.94364L5.26549 7.92383L4.09152 6.43597C3.94085 6.24135 3.79018 6.17229 3.60812 6.17229C3.3005 6.17229 3.05566 6.42341 3.05566 6.73103C3.05566 6.8817 3.11216 7.01981 3.21889 7.15165L4.70047 8.96596C4.87626 9.17941 5.05204 9.27358 5.28432 9.27358Z" fill="#fff"></path> </svg> </span>
                    <p>نحن نفحص المنتج</p>
                </div>
                <div class="blok-4-wrapper__left-item font-description"><span> <svg width="12" height="15" viewbox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.65388 14.2663H9.33984C10.6833 14.2663 11.3802 13.5569 11.3802 12.2072V6.51311C11.3802 5.64049 11.2672 5.2387 10.721 4.68624L7.42508 1.33384C6.89774 0.800223 6.46456 0.674665 5.67983 0.674665H2.65388C1.31041 0.674665 0.61356 1.38407 0.61356 2.73382V12.2072C0.61356 13.5632 1.31041 14.2663 2.65388 14.2663ZM2.75432 13.0359C2.14537 13.0359 1.84403 12.7157 1.84403 12.1318V2.80915C1.84403 2.23158 2.14537 1.90513 2.75432 1.90513H5.42871V5.34542C5.42871 6.24316 5.87444 6.67634 6.7659 6.67634H10.1497V12.1318C10.1497 12.7157 9.84208 13.0359 9.23312 13.0359H2.75432ZM6.87891 5.59654C6.62151 5.59654 6.51479 5.48354 6.51479 5.22614V2.07464L9.98019 5.59654H6.87891ZM8.23493 8.32743H3.63951C3.40095 8.32743 3.23145 8.50321 3.23145 8.72294C3.23145 8.94894 3.40095 9.12472 3.63951 9.12472H8.23493C8.46094 9.12472 8.63044 8.94894 8.63044 8.72294C8.63044 8.50321 8.46094 8.32743 8.23493 8.32743ZM8.23493 10.4368H3.63951C3.40095 10.4368 3.23145 10.6126 3.23145 10.8386C3.23145 11.0583 3.40095 11.2278 3.63951 11.2278H8.23493C8.46094 11.2278 8.63044 11.0583 8.63044 10.8386C8.63044 10.6126 8.46094 10.4368 8.23493 10.4368Z" fill="#fff"></path> </svg> </span>
                    <p>أنت تستلم النتيجة</p>
                </div>
            </div>
        </div>
        <div class="blok-4-wrapper__right">
            <div class="blok-4-wrapper__right-content">
                <p class="block-title-mb font-title">4 خطوات سهلة لمصادقة عنصر</p>
                <p class="font-description">تنوي شراء منتج ما؟ لديك شكوك حول كون أحد ممتلكاتك منتج أصلي؟. أكثر من<br /> <span class="blok-4-wrapper__bold">80.000+ </span> <br /> من العملاء والشركات حول العالم<br /><br />ظهرنا على:
                </p>
              <div class="blok-4-wrapper__right-content-img"><a href="https://www.nicekicks.com/infinite-app-introduces-a-better-way-to-authenticate-sneakers/"><img src="{{ 'nicekicks-2.png' | asset_url }}" alt="" /></a><a href="https://www.forbes.com/sites/richardkestenbaum/2021/02/22/the-realreal-is-still-battling-fakes-it-wont-be-easy-to-get-it-right/?sh=66bf2c471cff"><img src="{{ 'forbes-3.png' | asset_url }}" alt="" /></a></div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Section Steps",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
