    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title font-title">
                <span></span>
                <h2>لماذا أخترتنا</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" loading="lazy"  alt="">
                    <p class="why-choose_item-title font-title">
                        ملاحظات العملاء الممتازة
                    </p>
                    <p class="why-choose_item-desc font-description">
                        مكتبة من الأدلة المجانية المبنية على معرفة الخبراء ، راجعها عملاؤنا
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.png' | asset_url }}" loading="lazy"  alt="why-2">
                    <p class="why-choose_item-title font-title">
                        ضمان استعادة الاموال
                    </p>
                    <p class="why-choose_item-desc font-description">
                        نقوم برد الأموال في حالة حدوث خطأ في المصادقة لدينا
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3.png' | asset_url }}" loading="lazy"  alt="why-3">
                    <p class="why-choose_item-title font-title">
                        الاتصالات<br>سهل
                    </p>
                    <p class="why-choose_item-desc font-description">
                        يمكنك التواصل عبر الدردشة الحية أو إرسال بريد إلكتروني إلى المصدقين لدينا في أي وقت ، متاح على مدار الساعة طوال أيام الأسبوع.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-4.png' | asset_url }}" loading="lazy"  alt="why-4">
                    <p class="why-choose_item-title font-title">
                        شهادة التحقق
                    </p>
                    <p class="why-choose_item-desc font-description">
                        احصل على نتائج سريعة وموثوقة وشهادة تحقق رسمية
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

