<style>
  .article_column-quarter {
    width: calc(25% - 37.5px);
  }
  .article_column-quarter .article_column-image {
    height: 260px;
  }
  @media(max-width: 1450px) {
    .article_column-quarter {
      width: calc(25% - 22.5px);
    }
  }
  @media(max-width: 1250px) {
    .article_column-quarter {
        width: calc(50% - 15px);
    }
  }
  @media(max-width: 750px) {
    .article_column-quarter {
        width: 100%;
        gap: 30px;
    }
  }
</style>

<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="rebranding-section-title block-flex-wrap block-gap-15 block-flex-center-center">
    <h3 class="h2-heading-ss w-100">
      Examining  
      <span class="h2-heading-pp">
        hardware details
      </span>
    </h3>
    <p class="body-text block-max-width">
      When it comes to authenticating a Balenciaga handbag, examining the hardware details is crucial. The brand’s unique hardware is a distinctive feature of their bags, and counterfeiters often struggle to replicate these elements accurately. Here are some key things to look for:
    </p>
  </div>
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-center">
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "balenciaga_examining-hardware-details-1.webp" | asset_url }}" alt="To authenticate a Balenciaga handbag, check Notched Rivets">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Step 1</p>
        <h4 class="article_column-title h3-heading-pp w-100">Notched rivets:</h4>
        <p class="article_column-desc body-text taj w-100">
         The back of the bag’s handles should have notched rivets, a signature detail in authentic Balenciaga bags.
        </p>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "balenciaga_examining-hardware-details-2.webp" | asset_url }}" alt="To authenticate a Balenciaga handbag, check Lampo Zippers">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Step 2</p>
        <h4 class="article_column-title h3-heading-pp w-100">Lampo zippers:</h4>
        <p class="article_column-desc body-text taj w-100">
          The zippers should be marked “Lampo,” a high-quality brand used by Balenciaga. This branding is a strong indicator of authenticity.
        </p>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "balenciaga_examining-hardware-details-3.webp" | asset_url }}" alt="To authenticate a Balenciaga handbag, check Handle Bales">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Step 3</p>
        <h4 class="article_column-title h3-heading-pp w-100">Handle bales:</h4>
        <p class="article_column-desc body-text taj w-100">
          The bales attached to the handle should be rounded, crimped, and form a double layer, showcasing the meticulous craftsmanship of Balenciaga.
        </p>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "balenciaga_examining-hardware-details-4.webp" | asset_url }}" alt="To authenticate a Balenciaga handbag, check Hardware Evolution">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Step 4</p>
        <h4 class="article_column-title h3-heading-pp w-100">Hardware evolution:</h4>
        <p class="article_column-desc body-text taj w-100">
          Note that the Giant Silver and Rose Gold hardware was discontinued from Spring 2012, replaced with the new Giant 12 hardware. This change can help date the bag and verify its authenticity.
        </p>
      </div>
    </div>
  </div>
  <p class="body-text tac block-bottom-text w-100">
      By paying close attention to these hardware details, you can better determine whether a Balenciaga bag is genuine or counterfeit.
  </p>
</div>

{% schema %}
  {
    "name": "Article Three columns",
    "class": "article_columns article_three-columns rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}