{%- assign product = all_products[blog.metafields.custom.product] -%}
<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss ivory-text tac">Final Thoughts: <span class="h2-heading-pp">Get Professional Balenciaga Authentication</span></h2>
      <p class="body-text ivory-text w-100 tac block-max-width">
        Even if a bag looks authentic, <strong>counterfeiters are getting smarter</strong>. The best way to be sure is to get it professionally authenticated.
        <br><br>
        Need help? Our expert team offers trusted <a class="standart-hover" href="{{ product.url }}">Balenciaga bag authentication services</a> — fast, accurate, and backed by years of experience in luxury goods.
      </p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="{{ product.url }}" class="rebranding_btn rebranding_btn-main">Authenticate now</a>
    </div>
</div>

{% schema %}
  {
    "name": "Blogs CTA",
    "class": "rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}