<style>
    .business-solutions_hiw-step {
        border-radius: 18px;
        border: 1px solid #DADADA;
        width: calc(50% - 15px);
        padding: 40px 30px 0 30px;
    }
    img.business-solutions_hiw-step-img {
        height: 440px;
        margin-top: auto;
    }
    .business-solutions_hiw-step:nth-child(1) {
        padding: 40px 0 0 0;
    }
    .business-solutions_hiw-step:nth-child(1) img.business-solutions_hiw-step-img, .business-solutions_hiw-step:nth-child(2) img.business-solutions_hiw-step-img {
        width: 100%;
        height: auto;
    }
    .business-solutions_hiw-step-text {
        padding: 0 15px;
    }
    @media(max-width: 1250px) {
        .business-solutions_hiw-step {
            padding: 30px 20px 0 20px;
        }
        .business-solutions_hiw-step:nth-child(1) {
            padding: 30px 0 0 0;
        }
    }
    @media(max-width: 950px) {
        .business-solutions_hiw-step {
            width: 100%
        }
    }
    @media(max-width: 750px) {
        .business-solutions_hiw-step {
            gap: 20px;
        }
        img.business-solutions_hiw-step-img {
            height: 300px;
        }
        .business-solutions_hiw-steps {
            gap: 30px;
        }
    }
</style>

<div class="business-solutions_hiw-content rebranding_container block-flex-wrap block-gap-50">
    <h2 class="h2-heading-ss w-100 tac">
        How <span class="h2-heading-pp">it works</span>
    </h2>
    <div class="business-solutions_hiw-steps block-flex-wrap block-gap-30">
        <div class="business-solutions_hiw-step block-flex-wrap block-flex-start-center block-gap-30 tac">
            <div class="block-flex-wrap block-gap-20 block-flex-center-center">
                <p class="caption w-100">Step 1</p>
                <div class="business-solutions_hiw-step-text block-flex-wrap block-gap-15 block-flex-center-center w-100">
                    <h3 class="h3-heading-ss w-100">
                        Submit <span class="h3-heading-pp">Your Item</span>
                    </h3>
                    <p class="body-text w-100">
                        Upload clear photos and complete item details via your LegitGrails account, or authenticate at scale using our <a href="https://legit-grails.stoplight.io/" target="_blank">API integration</a>
                    </p>
                </div>
            </div>
            <img src="{{ 'b2b_step-1.webp' | asset_url }}" class="business-solutions_hiw-step-img">
        </div>
        <div class="business-solutions_hiw-step block-flex-wrap block-flex-start-center block-gap-30 tac">
            <div class="block-flex-wrap block-gap-20 block-flex-center-center">
                <p class="caption w-100">Step 2</p>
                <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
                    <h3 class="h3-heading-ss w-100">
                        Expert <span class="h3-heading-pp">Analysis</span>
                    </h3>
                    <p class="body-text w-100">
                        Two human experts & AI review every detail to deliver precise authentication results
                    </p>
                </div>
            </div>
            <img src="{{ 'b2b_step-2.webp' | asset_url }}" class="business-solutions_hiw-step-img">
        </div>
        <div class="business-solutions_hiw-step block-flex-wrap block-flex-start-center block-gap-30 tac">
            <div class="block-flex-wrap block-gap-20 block-flex-center-center">
                <p class="caption w-100">Step 3</p>
                <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
                    <h3 class="h3-heading-ss w-100">
                        Receive <span class="h3-heading-pp">Your Results</span>
                    </h3>
                    <p class="body-text w-100">
                        Get a clear pass/fail verdict and detailed report in your dashboard within your selected timeframe
                    </p>
                </div>
            </div>
            <img src="{{ 'b2b_step-3.webp' | asset_url }}" class="business-solutions_hiw-step-img">
        </div>
        <div class="business-solutions_hiw-step block-flex-wrap block-flex-start-center block-gap-30 tac">
            <div class="block-flex-wrap block-gap-20 block-flex-center-center">
                <p class="caption w-100">Step 4</p>
                <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
                    <h3 class="h3-heading-ss w-100">
                        Build <span class="h3-heading-pp">Trust and Confidence</span>
                    </h3>
                    <p class="body-text w-100">
                        Share verified certificates with your customers to boost trust, increase conversions, and reduce returns
                    </p>
                </div>
            </div>
            <img src="{{ 'b2b_step-4.webp' | asset_url }}" class="business-solutions_hiw-step-img">
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "BS How it works",
    "class": "business-solutions_hiw rebranding-section",
    "settings": []
  }
{% endschema %}