
<style>
    .search-bc_search-item-code {
        width: 130px;
    }
    .search-bc_search-item-codes {
        gap: 28px;
    }
    .search-bc_search-item-code-year {
        width: 100%;
        height: 30px;
        background: #3C1F1B;
    }
    .search-bc_search-item-code-year p {
        color: #F2F2EA;
    }
    .search-bc_search-item-code-text {
        width: 100%;
        height: 64px;
        background: #F2F2EA;
    }
    @media(max-width: 1450px) {
    .search-bc_search-item-code {
        width: 143px;
    }
    }
    @media(max-width: 1250px) {
      .search-bc_search-item-code {
          width: 130px;
      }
    }
    @media(max-width: 950px) {
      .search-bc_search-item-codes {
          gap: 25px;
      }
      .search-bc_search-item-code {
          width: calc(20% - 20.84px);
      }
    }
    @media(max-width: 750px) {
      .search-bc_search-item-code-text {
        height: 45px;
      }
      .search-bc_search-item-codes {
          gap: 20px;
      }
      .search-bc_search-item-code {
          width: calc(20% - 16px);
      }
    }
    @media(max-width: 650px) {
      .search-bc_search-item-code {
          width: calc(25% - 15px);
      }
    }
    @media(max-width: 500px) {
      .search-bc_search-item-code {
          width: calc(33.333334% - 14px);
      }
    }
    @media(max-width: 400px) {
      .search-bc_search-item-code {
          width: calc(50% - 10px);
      }
    }
</style>

<div class="search-bc_wrapp rebranding_container block-flex-wrap block-gap-50 block-flex-center-center">
  <h2 class="search-bc_title h2-heading-ss w-100 tac">
    Chanel <span class="h2-heading-pp">date code</span> chart
  </h2>
  <div class="search-input-type block-flex-wrap block-gap-10 block-flex-center-center w-100">
  <label for="search-code-input" class="search-brand-input-label input-search-label font-description">
        <input id="search-code-input" class="search-brand-input body-text" type="text" placeholder="Search"/>
        <div class="search-brand-input-svg">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.0574 25.7071C24.448 26.0976 25.0811 26.0976 25.4716 25.7071C25.8622 25.3166 25.8622 24.6834 25.4716 24.2929L24.0574 25.7071ZM18.1659 4.73317C21.8102 8.3774 21.8102 14.2859 18.1659 17.9301L19.5801 19.3443C24.0054 14.919 24.0054 7.74423 19.5801 3.31896L18.1659 4.73317ZM18.1659 17.9301C14.5217 21.5743 8.61324 21.5743 4.96901 17.9301L3.5548 19.3443C7.98007 23.7696 15.1549 23.7696 19.5801 19.3443L18.1659 17.9301ZM4.96901 17.9301C1.32478 14.2859 1.32478 8.3774 4.96901 4.73317L3.5548 3.31896C-0.870479 7.74423 -0.870479 14.919 3.5548 19.3443L4.96901 17.9301ZM4.96901 4.73317C8.61324 1.08894 14.5217 1.08894 18.1659 4.73317L19.5801 3.31896C15.1549 -1.10632 7.98007 -1.10632 3.5548 3.31896L4.96901 4.73317ZM17.9302 19.5799L24.0574 25.7071L25.4716 24.2929L19.3444 18.1656L17.9302 19.5799Z" fill="white"/>
          </svg>
        </div>
        <div class="search-brand_zero">
          <p class="body-text">Didn’t find your code? Don’t worry, we can help anyway!</p>
          <a href="#product_boxes" class="rebranding_btn-main rebranding_btn">Authenticate Other Code</a>
        </div>
  </label>
  </div>
  <div class="search-bc_search-items block-flex-wrap block-gap-40 w-100">
    <div class="search-bc_search-item block-flex-wrap block-gap-30 w-100">
      <div class="search-bc_search-item-codes block-flex-wrap w-100 block-flex-center-center">
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2021</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">31XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2020</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">30XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2019</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">29XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2019</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">28XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2019</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">27XXXXXX</p>
            </div>
        </div>

        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2018 - 2019</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">26XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2018</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">25XXXXXX</p>
            </div>
        </div>

        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2017 - 2018</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">24XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2015 - 2016</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">23XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2016 - 2017</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">22XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2015 - 2016</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">21XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2014 - 2015</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">20XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2014</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">19XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2013 - 2014</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">18XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2012 - 2013</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">17XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2012</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">16XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2011</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">15XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2010 - 2011</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">14XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2009 - 2010</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">13XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2008 - 2009</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">12XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2006 - 2008</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">11XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2005 - 2006</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">10XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2004 - 2005</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">9XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2003 - 2004</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">8XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2002 - 2003</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">7XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2000 - 2002</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">6XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1997 - 1999</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">5XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1996 - 1997</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">4XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1994 - 1996</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">3XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1991 - 1994</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">2XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1989 - 1991</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1XXXXXX</p>
            </div>
        </div>
        <div class="search-bc_search-item-code block-flex-wrap">
            <div class="search-bc_search-item-code-year block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">1986 - 1988</p>
            </div>
            <div class="search-bc_search-item-code-text block-flex-wrap w-100 block-flex-center-center">
                <p class="body-text">0XXXXXX</p>
            </div>
        </div>
      </div>
        <div class="search-bc_search-item-empty block-flex-wrap block-gap-20 block-flex-center-center w-100">
        <p class="body-text w-100 tac">
            Didn’t find your code? Don’t worry, we can help anyway!
        </p>
        <a href="#product_boxes" class="rebranding_btn rebranding_btn-main">Authenticate Other Code</a>
        </div>
    </div>
  </div>
</div>

<script>
(() => {
  'use strict';

  // small helpers (scoped here, no collisions)
  const norm = (s) => (s ?? '').toString().toLowerCase().replace(/\s+/g,' ').trim();

  function setupChanelCodes(wrapper){
    if (!wrapper || wrapper.dataset.codesV2Init === '1') return;
    const input = wrapper.querySelector('#search-code-input');
    if (!input) return;                     // not the codes block
    wrapper.dataset.codesV2Init = '1';

    // categories that contain code items
    const categories = Array.from(wrapper.querySelectorAll('.search-bc_search-item'))
      .filter(cat => cat.querySelector('.search-bc_search-item-codes'));

    const readYear = (item) =>
      norm(item.querySelector('.search-bc_search-item-code-year p')?.textContent);

    // supports either ...-code-text p or ...-code-code p
    const readCode = (item) => {
      const t1 = item.querySelector('.search-bc_search-item-code-text p')?.textContent;
      const t2 = item.querySelector('.search-bc_search-item-code-code p')?.textContent;
      return norm(t1 || t2 || '');
    };

    function applyFilter(qRaw){
      const q = norm(qRaw);

      categories.forEach((cat) => {
        const items = Array.from(cat.querySelectorAll('.search-bc_search-item-code'));
        const emptyBlock = cat.querySelector('.search-bc_search-item-empty');

        let visible = 0;

        if (!q) {
          items.forEach(it => { it.style.display = ''; visible++; });
        } else {
          items.forEach(it => {
            const hit = readYear(it).includes(q) || readCode(it).includes(q);
            it.style.display = hit ? '' : 'none';
            if (hit) visible++;
          });
        }

        // show empty only when this category has 0 visible items
        if (emptyBlock) emptyBlock.style.display = (visible === 0) ? '' : 'none';
      });
    }

    input.addEventListener('input', (e) => applyFilter(e.target.value));
    // initial pass
    applyFilter(input.value || '');
  }

  // initialize only wrappers that actually have the code input
  const run = () => {
    document.querySelectorAll('.search-bc_wrapp').forEach((wrap) => {
      if (wrap.querySelector('#search-code-input')) setupChanelCodes(wrap);
    });
  };
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', run);
  } else {
    run();
  }
})();
</script>


{% schema %}
  {
    "name": "Brand Coverage Search",
    "settings": []
  }
{% endschema %}