<div class="container rebranding_container">
  <div class="offers-image_wrapp block-flex-wrap">
    <div class="offers-image_content block-flex-wrap block-gap-40">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-20 block-flex-wrap">
        <h2 class="h2-heading-ss">
         The current state of 
          <span class="h2-heading-pp">
           Chanel fakes
          </span>
        </h2>
        <p class="body-text offers-image_text">
          Counterfeiting is a serious issue for Chanel, as its luxury status makes it a constant target. Fake Chanel items are common on online marketplaces and social media, ranging from poor knockoffs to high-quality replicas. Many come from manufacturing hubs like China and Turkey. The counterfeit market is massive, accounting for a large share of luxury sales and fuelling organised crime.
          <br><br>
          Chanel is now suing New York reseller What Goes Around Comes Around (WGACA), accusing it of selling fake items, including bags with stolen or voided serial numbers and display pieces never meant for sale. Chanel also claims WGACA used its logos in ads and social media in a way that falsely suggests a partnership.
          <br><br>
          WGACA denies all allegations, saying it only sells genuine products and never claimed any official connection to Chanel. The case revolves around nominative fair use and could set an important precedent for how resellers use brand trademarks and handle authenticity in the growing secondhand luxury market.
          </p>
      </div>
    <a href="#product_boxes" class="offers-image_btn rebranding_btn rebranding_btn-main product_authenticate-now-btn-track">Authenticate now</a>
    </div>
      <div class="offers-image_image" style="background-image: url('{{ "chanel_fakes.webp" | asset_url }}');">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Offers Text",
    "class": "offers-image offers-text rebranding-section",
    "settings": []
  }
{% endschema %}