{%- assign product = all_products[blog.metafields.custom.product] -%}
<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss ivory-text tac">Final Thoughts: <span class="h2-heading-pp">Get Expert Chanel Bag Authentication</span></h2>
      <p class="body-text ivory-text w-100 tac block-max-width">
        While spotting a fake Chanel bag can be done by checking these signs, the best way to guarantee authenticity is with professional help.
        <br><br>
        Need peace of mind? Our authentication experts specialize in Chanel bags, offering <a class="standart-hover" href="{{ product.url }}">reliable and detailed verification</a> — so you never have to second-guess your luxury purchase.
      </p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="{{ product.url }}" class="rebranding_btn rebranding_btn-main">Authenticate now</a>
    </div>
</div>

{% schema %}
  {
    "name": "Blogs CTA",
    "class": "rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}