<style>
  .cta {
    padding: 110px 0;
    background: #F2F2EA;
  }
  .cta_content {
    justify-content: center;
  }
  .cta a.rebranding_btn {
    width: max-content;
  }
  @media(max-width: 950px) {
    .cta {
      padding: 100px 0;
    }
  }
</style>

<div class="rebranding_container">
  <div class="cta_content block-gap-30 block-flex-wrap">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
        Get your authentication results<br>
        <span class="h2-heading-pp">
         in 30 minutes
        </span>
      </h2>
      <p class="body-text">Available 24/7</p>
    </div>
    <a href="https://legitgrails.com/pages/choose-your-brand" class="rebranding_btn rebranding_btn-main homepage_other-brands-track">Authenticate now</a>
  </div>
</div>

{% schema %}
  {
    "name": "CTA",
    "class": "cta",
    "settings": []
  }
{% endschema %}