<div class="container rebranding_container">
  <div class="offers-image_wrapp block-flex-wrap">
    <div class="offers-image_content block-flex-wrap block-gap-40">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-20 block-flex-wrap">
        <h2 class="h2-heading-ss">
         The current state of 
          <span class="h2-heading-pp">
           Dior fakes
          </span>
        </h2>
        <p class="body-text offers-image_text">
          Counterfeiting is a significant issue for Dior, as the brand’s prestige makes it a prime target for fakes. In 2016, the global counterfeit market was valued at $509 billion, with luxury brands like Dior particularly affected. Fake Dior items are common on online platforms and social media, ranging from low-quality replicas to more convincing fakes. Many of these counterfeits come from countries like China, known for large-scale manufacturing.
          <br><br>
          Dior has actively fought back, filing lawsuits against counterfeiters using its trademarks like “Christian Dior” and “CD” to sell fake products. These counterfeiters often create fake websites resembling legitimate Dior stores and use SEO and social media to mislead buyers. Dior’s legal actions aim to stop the sale of fake products and recover millions in damages. The brand also educates consumers on identifying authentic Dior items by focusing on key details, including inner labels, stitching, hardware, and authenticity cards.
        </p>
      </div>
    <a href="#product_boxes" class="offers-image_btn rebranding_btn rebranding_btn-main product_authenticate-now-btn-track">Authenticate now</a>
    </div>
      <div class="offers-image_image" style="background-image: url('{{ "dior_fakes.webp" | asset_url }}');">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Offers Text",
    "class": "offers-image offers-text rebranding-section",
    "settings": []
  }
{% endschema %}