<style>
    .dior-seo_codes-desc {
        width: calc(50% - 15px);
    }
    .dior-seo_codes-table {
        border-radius: 8px;
        border: 1px solid rgba(60, 31, 27, 0.20);   
        padding: 20px 30px;
        gap: 37px;
        width: calc(50% - 15px);
    }
    .dior-seo_codes-table svg {
        width: 100%;
        height: auto;
    }
    .dior-seo_codes-desc p.caption {
        font-weight: 600;
    }
    @media(max-width: 1250px) {
        .dior-seo_codes-desc, .dior-seo_codes-table {
            width: 100%;
        }
        .dior-seo_codes-desc {
            justify-content: center;
            text-align: center;
        }
        .dior-seo_codes-desc p.caption {
            width: 100%;
        }
    }
    @media(max-width: 750px) {
    .dior-seo_codes-table {
    padding: 15px 20px;
}
}
</style>
<div class="rebranding_container block-flex-wrap block-flex-center-sb block-gap-30">
    <div class="dior-seo_codes-desc block-flex-wrap block-gap-40">
        <h2 class="h2-heading-ss w-100">
            Dior <span class="h2-heading-pp">date code</span>
        </h2>
        <div class="block-flex-wrap block-gap-20">
            <p class="caption tal">Newer bags (post-2000s):</p>
            <p class="body-text w-100">
                You can ignore the first two numbers — they're just control numbers.
<br><br>
The two letters indicate the country of manufacture (e.g., MA for Italy, MC for Spain).
<br><br>
The final four numbers reveal the production date.
            </p>
        </div>
        <div class="block-flex-wrap block-gap-20">
            <p class="caption tal">Vintage bags (late 1990s):</p>
            <p class="body-text w-100">
                The code may be more straightforward, consisting of just two letters followed by four numbers (e.g., MA-0959).
            </p>
        </div>
        <a class="rebranding_btn rebranding_btn-main m-0">
            Authenticate now
        </a>
    </div>
    <div class="dior-seo_codes-table block-flex-wrap">
        <h3 class="h3-heading-ss w-100 tac">
            How to 
            <span class="h3-heading-pp">
                read the Date Code
            </span>
        </h3>
        <svg width="626" height="165" viewBox="0 0 626 165" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="45" width="626" height="75" rx="11" fill="#3C1F1B"/>
        <path d="M147.482 99.598C138.604 99.598 134.51 92.882 134.51 82.302C134.51 71.768 138.604 65.052 147.482 65.052C156.36 65.052 160.454 71.768 160.454 82.302C160.454 92.882 156.36 99.598 147.482 99.598ZM147.482 96.102C152.726 96.102 155.992 91.594 155.992 82.302C155.992 73.056 152.726 68.548 147.482 68.548C142.238 68.548 138.972 73.056 138.972 82.302C138.972 91.594 142.238 96.102 147.482 96.102ZM175.908 99V72.918H168.18V70.066C172.964 69.882 175.402 69.284 177.242 65.65H180.094V99H175.908ZM206.573 88.466V84.326H221.661V88.466H206.573ZM248.019 99V65.65H260.025C266.235 65.65 271.755 67.26 271.755 73.884C271.755 77.058 270.375 79.91 268.075 81.244C271.249 82.578 273.135 85.062 273.135 89.156C273.135 96.24 267.845 99 261.175 99H248.019ZM252.711 95.044H261.221C265.959 95.044 268.305 92.974 268.305 89.202C268.305 85.292 265.959 83.636 260.945 83.636H252.711V95.044ZM252.711 79.91H260.761C264.579 79.91 267.017 78.438 267.017 74.528C267.017 71.124 264.487 69.606 260.761 69.606H252.711V79.91ZM297.55 99.598C287.936 99.598 281.91 92.376 281.91 82.302C281.91 72.228 287.936 65.052 297.55 65.052C307.164 65.052 313.19 72.228 313.19 82.302C313.19 92.376 307.164 99.598 297.55 99.598ZM297.55 95.642C303.622 95.642 308.406 90.904 308.406 82.302C308.406 73.7 303.622 69.008 297.55 69.008C291.478 69.008 286.694 73.7 286.694 82.302C286.694 90.904 291.478 95.642 297.55 95.642ZM337.745 88.466V84.326H352.833V88.466H337.745ZM390.599 99.598C381.721 99.598 377.627 92.882 377.627 82.302C377.627 71.768 381.721 65.052 390.599 65.052C399.477 65.052 403.571 71.768 403.571 82.302C403.571 92.882 399.477 99.598 390.599 99.598ZM390.599 96.102C395.843 96.102 399.109 91.594 399.109 82.302C399.109 73.056 395.843 68.548 390.599 68.548C385.355 68.548 382.089 73.056 382.089 82.302C382.089 91.594 385.355 96.102 390.599 96.102ZM419.025 99V72.918H411.297V70.066C416.081 69.882 418.519 69.284 420.359 65.65H423.211V99H419.025ZM446.408 99.598C438.082 99.598 434.264 93.802 434.264 83.498C434.264 74.068 437.622 65.052 447.282 65.052C453.814 65.052 456.896 69.146 457.586 73.378H453.032C452.48 70.388 450.18 68.548 446.776 68.548C441.624 68.548 438.818 73.7 438.588 81.382C440.106 78.806 442.958 76.782 447.374 76.782C453.584 76.782 458.138 81.428 458.138 88.098C458.138 94.308 453.538 99.598 446.408 99.598ZM446.362 96.102C450.64 96.102 453.676 92.882 453.676 88.328C453.676 83.774 450.686 80.416 446.408 80.416C442.038 80.416 439.094 83.774 439.094 88.328C439.094 92.928 441.946 96.102 446.362 96.102ZM479.443 99.598C472.543 99.598 467.253 95.964 467.253 89.616C467.253 86.58 468.541 82.992 472.911 81.244C469.599 79.45 468.311 76.276 468.311 73.562C468.311 68.64 472.589 65.052 479.443 65.052C486.251 65.052 490.575 68.64 490.575 73.562C490.575 76.276 489.287 79.45 485.975 81.244C490.299 82.992 491.587 86.58 491.587 89.616C491.587 95.964 486.297 99.598 479.443 99.598ZM479.443 96.102C484.135 96.102 487.171 93.526 487.171 89.616C487.171 85.706 484.135 82.992 479.443 82.992C474.705 82.992 471.715 85.706 471.715 89.616C471.715 93.526 474.705 96.102 479.443 96.102ZM479.443 79.91C483.583 79.91 486.343 77.426 486.343 74.068C486.343 70.756 483.583 68.548 479.443 68.548C475.257 68.548 472.497 70.756 472.497 74.068C472.497 77.426 475.257 79.91 479.443 79.91Z" fill="white"/>
        <path d="M254.038 15.38H256.018C255.378 18.58 252.878 20.26 249.738 20.26C245.578 20.26 243.158 17.14 243.158 12.72C243.158 8.22 245.798 5.24 249.898 5.24C252.898 5.24 255.318 7.02 255.938 10.12H253.958C253.518 8.32 252.118 6.96 249.798 6.96C247.238 6.96 245.238 8.96 245.238 12.72C245.238 16.38 247.158 18.54 249.858 18.54C252.158 18.54 253.578 17.24 254.038 15.38ZM262.408 20.26C259.888 20.26 257.208 18.56 257.208 14.66C257.208 10.76 259.888 9.06 262.408 9.06C264.928 9.06 267.608 10.76 267.608 14.66C267.608 18.56 264.928 20.26 262.408 20.26ZM262.408 18.66C264.048 18.66 265.628 17.52 265.628 14.66C265.628 11.8 264.048 10.66 262.408 10.66C260.768 10.66 259.188 11.8 259.188 14.66C259.188 17.52 260.768 18.66 262.408 18.66ZM276.299 20V18.46C275.679 19.48 274.699 20.26 272.919 20.26C270.419 20.26 269.479 18.58 269.479 16.12V9.24H271.299V15.58C271.299 17.24 271.579 18.68 273.559 18.68C275.279 18.68 276.299 17.46 276.299 15.16V9.24H278.119V20H276.299ZM280.839 20V9.24H282.659V10.86C283.279 9.84 284.319 9.06 286.139 9.06C288.739 9.06 289.679 10.74 289.679 13.2V20H287.859V13.74C287.859 12.08 287.579 10.64 285.499 10.64C283.739 10.64 282.659 11.86 282.659 14.16V20H280.839ZM296.597 20H295.277C293.217 20 292.737 19.54 292.737 17.3V10.7H291.037V9.24H292.737V6.54H294.557V9.24H296.597V10.7H294.557V17.08C294.557 18.2 294.637 18.48 295.677 18.48H296.597V20ZM298.457 20V9.24H300.237V11.12C300.777 9.9 301.877 9.22 303.277 9.18C303.457 9.18 303.617 9.18 303.817 9.2V11.14C303.397 11.08 303.097 11.06 302.797 11.06C301.117 11.06 300.277 12 300.277 14.36V20H298.457ZM304.92 23.5V21.98H305.66C306.86 21.98 307.4 21.94 307.92 20.26L308 20L304.12 9.24H306.14L308.88 17.54L311.54 9.24H313.44L309.6 20.46C308.8 22.8 308.26 23.5 305.86 23.5H304.92Z" fill="#3C1F1B"/>
        <path d="M245.5 41V29H310.5V41" stroke="#3C1F1B"/>
        <path d="M342.038 19V4.5H346.578C350.118 4.5 352.598 5.3 352.598 8.88C352.598 12.48 350.118 13.26 346.578 13.26H344.078V19H342.038ZM344.078 11.48H346.738C348.858 11.48 350.518 11.26 350.518 8.88C350.518 6.52 348.858 6.22 346.738 6.22H344.078V11.48ZM354.31 19V8.24H356.09V10.12C356.63 8.9 357.73 8.22 359.13 8.18C359.31 8.18 359.47 8.18 359.67 8.2V10.14C359.25 10.08 358.95 10.06 358.65 10.06C356.97 10.06 356.13 11 356.13 13.36V19H354.31ZM365.383 19.26C362.863 19.26 360.183 17.56 360.183 13.66C360.183 9.76 362.863 8.06 365.383 8.06C367.903 8.06 370.583 9.76 370.583 13.66C370.583 17.56 367.903 19.26 365.383 19.26ZM365.383 17.66C367.023 17.66 368.603 16.52 368.603 13.66C368.603 10.8 367.023 9.66 365.383 9.66C363.743 9.66 362.163 10.8 362.163 13.66C362.163 16.52 363.743 17.66 365.383 17.66ZM379.993 19V17.38C379.333 18.52 378.193 19.26 376.473 19.26C374.013 19.26 371.873 17.22 371.873 13.66C371.873 10.12 374.013 8.06 376.473 8.06C378.193 8.06 379.333 8.8 379.993 9.94V4.5H381.813V19H379.993ZM376.933 17.7C378.553 17.7 380.073 16.5 380.073 13.66C380.073 10.82 378.553 9.62 376.933 9.62C375.073 9.62 373.853 11.1 373.853 13.66C373.853 16.22 375.073 17.7 376.933 17.7ZM391.236 19V17.46C390.616 18.48 389.636 19.26 387.856 19.26C385.356 19.26 384.416 17.58 384.416 15.12V8.24H386.236V14.58C386.236 16.24 386.516 17.68 388.496 17.68C390.216 17.68 391.236 16.46 391.236 14.16V8.24H393.056V19H391.236ZM402.997 15.5H404.877C404.517 17.52 402.577 19.26 400.077 19.26C396.997 19.26 395.057 16.92 395.057 13.64C395.057 10.44 397.077 8.06 400.257 8.06C402.857 8.06 404.517 10.02 404.757 11.84H402.917C402.657 10.56 401.537 9.66 400.137 9.66C398.517 9.66 397.037 10.92 397.037 13.62C397.037 16.36 398.537 17.66 400.137 17.66C401.657 17.66 402.737 16.64 402.997 15.5ZM411.144 19H409.824C407.764 19 407.284 18.54 407.284 16.3V9.7H405.584V8.24H407.284V5.54H409.104V8.24H411.144V9.7H409.104V16.08C409.104 17.2 409.184 17.48 410.224 17.48H411.144V19ZM413.004 19V8.24H414.824V19H413.004ZM413.004 6.7V4.5H414.824V6.7H413.004ZM422.026 19.26C419.506 19.26 416.826 17.56 416.826 13.66C416.826 9.76 419.506 8.06 422.026 8.06C424.546 8.06 427.226 9.76 427.226 13.66C427.226 17.56 424.546 19.26 422.026 19.26ZM422.026 17.66C423.666 17.66 425.246 16.52 425.246 13.66C425.246 10.8 423.666 9.66 422.026 9.66C420.386 9.66 418.806 10.8 418.806 13.66C418.806 16.52 420.386 17.66 422.026 17.66ZM429.216 19V8.24H431.036V9.86C431.656 8.84 432.696 8.06 434.516 8.06C437.116 8.06 438.056 9.74 438.056 12.2V19H436.236V12.74C436.236 11.08 435.956 9.64 433.876 9.64C432.116 9.64 431.036 10.86 431.036 13.16V19H429.216ZM445.119 19V4.5H448.539L452.239 16.58L455.939 4.5H459.359V19H457.319V6.36L453.319 19H451.159L447.159 6.36V19H445.119ZM466.597 19.26C464.077 19.26 461.397 17.56 461.397 13.66C461.397 9.76 464.077 8.06 466.597 8.06C469.117 8.06 471.797 9.76 471.797 13.66C471.797 17.56 469.117 19.26 466.597 19.26ZM466.597 17.66C468.237 17.66 469.817 16.52 469.817 13.66C469.817 10.8 468.237 9.66 466.597 9.66C464.957 9.66 463.377 10.8 463.377 13.66C463.377 16.52 464.957 17.66 466.597 17.66ZM473.788 19V8.24H475.608V9.86C476.228 8.84 477.268 8.06 479.088 8.06C481.688 8.06 482.628 9.74 482.628 12.2V19H480.808V12.74C480.808 11.08 480.528 9.64 478.448 9.64C476.688 9.64 475.608 10.86 475.608 13.16V19H473.788ZM489.546 19H488.226C486.166 19 485.686 18.54 485.686 16.3V9.7H483.986V8.24H485.686V5.54H487.506V8.24H489.546V9.7H487.506V16.08C487.506 17.2 487.586 17.48 488.626 17.48H489.546V19ZM491.406 19V4.5H493.226V9.86C493.846 8.84 494.886 8.06 496.706 8.06C499.306 8.06 500.246 9.74 500.246 12.2V19H498.426V12.74C498.426 11.08 498.146 9.64 496.066 9.64C494.306 9.64 493.226 10.86 493.226 13.16V19H491.406Z" fill="#3C1F1B"/>
        <path d="M391 41V28H451V41" stroke="#3C1F1B"/>
        <path d="M481.5 124L481.5 137L420.5 137L420.5 124" stroke="#3C1F1B"/>
        <path d="M381.331 160V145.5H385.871C389.411 145.5 391.891 146.3 391.891 149.88C391.891 153.48 389.411 154.26 385.871 154.26H383.371V160H381.331ZM383.371 152.48H386.031C388.151 152.48 389.811 152.26 389.811 149.88C389.811 147.52 388.151 147.22 386.031 147.22H383.371V152.48ZM393.603 160V149.24H395.383V151.12C395.923 149.9 397.023 149.22 398.423 149.18C398.603 149.18 398.763 149.18 398.963 149.2V151.14C398.543 151.08 398.243 151.06 397.943 151.06C396.263 151.06 395.423 152 395.423 154.36V160H393.603ZM404.675 160.26C402.155 160.26 399.475 158.56 399.475 154.66C399.475 150.76 402.155 149.06 404.675 149.06C407.195 149.06 409.875 150.76 409.875 154.66C409.875 158.56 407.195 160.26 404.675 160.26ZM404.675 158.66C406.315 158.66 407.895 157.52 407.895 154.66C407.895 151.8 406.315 150.66 404.675 150.66C403.035 150.66 401.455 151.8 401.455 154.66C401.455 157.52 403.035 158.66 404.675 158.66ZM419.285 160V158.38C418.625 159.52 417.485 160.26 415.765 160.26C413.305 160.26 411.165 158.22 411.165 154.66C411.165 151.12 413.305 149.06 415.765 149.06C417.485 149.06 418.625 149.8 419.285 150.94V145.5H421.105V160H419.285ZM416.225 158.7C417.845 158.7 419.365 157.5 419.365 154.66C419.365 151.82 417.845 150.62 416.225 150.62C414.365 150.62 413.145 152.1 413.145 154.66C413.145 157.22 414.365 158.7 416.225 158.7ZM430.528 160V158.46C429.908 159.48 428.928 160.26 427.148 160.26C424.648 160.26 423.708 158.58 423.708 156.12V149.24H425.528V155.58C425.528 157.24 425.808 158.68 427.788 158.68C429.508 158.68 430.528 157.46 430.528 155.16V149.24H432.348V160H430.528ZM442.289 156.5H444.169C443.809 158.52 441.869 160.26 439.369 160.26C436.289 160.26 434.349 157.92 434.349 154.64C434.349 151.44 436.369 149.06 439.549 149.06C442.149 149.06 443.809 151.02 444.049 152.84H442.209C441.949 151.56 440.829 150.66 439.429 150.66C437.809 150.66 436.329 151.92 436.329 154.62C436.329 157.36 437.829 158.66 439.429 158.66C440.949 158.66 442.029 157.64 442.289 156.5ZM450.436 160H449.116C447.056 160 446.576 159.54 446.576 157.3V150.7H444.876V149.24H446.576V146.54H448.396V149.24H450.436V150.7H448.396V157.08C448.396 158.2 448.476 158.48 449.516 158.48H450.436V160ZM452.296 160V149.24H454.116V160H452.296ZM452.296 147.7V145.5H454.116V147.7H452.296ZM461.318 160.26C458.798 160.26 456.118 158.56 456.118 154.66C456.118 150.76 458.798 149.06 461.318 149.06C463.838 149.06 466.518 150.76 466.518 154.66C466.518 158.56 463.838 160.26 461.318 160.26ZM461.318 158.66C462.958 158.66 464.538 157.52 464.538 154.66C464.538 151.8 462.958 150.66 461.318 150.66C459.678 150.66 458.098 151.8 458.098 154.66C458.098 157.52 459.678 158.66 461.318 158.66ZM468.508 160V149.24H470.328V150.86C470.948 149.84 471.988 149.06 473.808 149.06C476.408 149.06 477.348 150.74 477.348 153.2V160H475.528V153.74C475.528 152.08 475.248 150.64 473.168 150.64C471.408 150.64 470.328 151.86 470.328 154.16V160H468.508ZM487.348 160V154.34L482.228 145.5H484.468L488.428 152.58L492.468 145.5H494.708L489.388 154.38V160H487.348ZM498.644 150.62C497.164 150.62 495.704 151.32 495.404 153.66H501.744C501.624 151.9 500.384 150.62 498.644 150.62ZM501.644 156.88H503.524C503.024 158.74 501.324 160.26 498.704 160.26C495.304 160.26 493.424 157.82 493.424 154.64C493.424 151.24 495.704 149.06 498.644 149.06C501.744 149.06 503.684 151.54 503.684 154.64C503.684 154.82 503.684 155 503.664 155.18H495.364C495.584 157.68 497.204 158.66 498.704 158.66C500.304 158.66 501.184 157.94 501.644 156.88ZM514.218 160H512.378C512.278 159.44 512.238 158.98 512.238 158.52C511.578 159.62 510.458 160.26 508.558 160.26C506.538 160.26 504.858 159.14 504.858 157.16C504.858 154.62 507.718 153.88 512.138 153.38V153.12C512.138 151.16 511.038 150.5 509.698 150.5C508.198 150.5 507.318 151.32 507.238 152.64H505.358C505.538 150.32 507.538 149.02 509.678 149.02C512.638 149.02 513.938 150.44 513.938 153.46V155.94C513.938 157.74 514.018 158.98 514.218 160ZM512.278 155.5V154.82C508.978 155.16 506.878 155.64 506.878 157.12C506.878 158.14 507.658 158.82 508.958 158.82C510.658 158.82 512.278 158.04 512.278 155.5ZM516.567 160V149.24H518.347V151.12C518.887 149.9 519.987 149.22 521.387 149.18C521.567 149.18 521.727 149.18 521.927 149.2V151.14C521.507 151.08 521.207 151.06 520.907 151.06C519.227 151.06 518.387 152 518.387 154.36V160H516.567Z" fill="#3C1F1B"/>
        </svg>
        <p class="body-text w-100">
            1. Use the first and third digits to determine the month (e.g., 05 = May, 11 = November).
<br><br>
2. Use the second and fourth digits to determine the year (e.g., 23 = 2023, 09 = 2009).
<br><br>
For example, with the code 0168, the month is June (0 and 6 = 06), and the year is 2018 (1 and 8 = 18).
        </p>
    </div>
</div>

{% schema %}
  {
    "name": "Dior Date Codes",
    "class": "dior-seo_codes rebranding-section-bottom",
    "settings": []
  }
{% endschema %}