<style>
    .disclaimer {
        padding: 30px 0 0 0;
    }
</style>

<div class="rebranding_container">
    <p class="legal-disclaimer tiny-text legal-disclaimer--collapsed">
                <span class="legal-disclaimer-short">
                  LegitGrails provides independent authentication and verification services based on expert analysis and industry experience.
                </span>
                <span class="legal-disclaimer-rest">
                  <br><br>
                  Our assessments and certificates represent our professional opinion only and are not official determinations issued by the respective brands. LegitGrails operates independently and is not affiliated with, endorsed, sponsored, or authorized by any brands featured, mentioned, or authenticated on this website.<br><br>
                  All trademarks, logos, product names, and distinctive design elements remain the property of their respective owners and are used strictly for identification, descriptive, and educational purposes.<br><br>
                  Any brand references, comparisons, or illustrative visuals on this website are provided solely for educational and informational purposes and do not imply any cooperation, partnership, or approval from the original brand owners.
                    </span>
                <a href="#" class="legal-disclaimer-toggle standart-hover">Expand</a>
              </p>
</div>

{% schema %}
{
  "name": "Brand blocks",
  "class": "disclaimer section"
}
{% endschema %}