<section class="text-section text-section-left">
    <div class="container">
        <div class="text-section-wrapp">
            <div class="text-section_text">
                <span></span>
                <h2 class="text-section_text-title font-title">
                    Te engañaron para que compraras una falsificación?
                </h2>
                <p class="text-section_text-desc font-description">
                    Consulta nuestro servicio RefundGrails para ayudarte a recuperar el dinero que gastaste en una falsificación. Si nuestros autenticadores determinan que su artículo no es auténtico, nuestro equipo de RefundGrails hará un esfuerzo adicional para ayudarle con su conflicto.
                </p>
                <a href="https://legitgrails.com/products/refundgrails" class="text-section_text-a font-title">
                   Aprende Más
                </a>
            </div>
            <img src="{{ 'got-tricked.jpg' | asset_url }}" class="text-section_img" loading="lazy" alt="got-tricked">
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Image & Text bottom",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

