<section class="featured-on">
    <div class="container">
        <div class="featured-on_wrapp">
            <p class="featured-on_title font-title">
                Presentado en
            </p>
            <div class="featured-on_imgs">
              <a href="https://www.nicekicks.com/infinite-app-introduces-a-better-way-to-authenticate-sneakers/"><img src="{{ 'nicekicks.png' | asset_url }}" loading="lazy"  alt="nicekicks"></a>
              <a href="https://www.forbes.com/sites/richardkestenbaum/2021/02/22/the-realreal-is-still-battling-fakes-it-wont-be-easy-to-get-it-right/?sh=66bf2c471cff"><img src="{{ 'forbes-2.png' | asset_url }}" loading="lazy" alt=""  alt="forbes"></a>
            </div>
            <p class="featured-on_desc font-description">
                & more
            </p>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Featured on",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
