    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title">
                <span></span>
                <h2 class="font-title">Por qué elegirnos</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title font-title">
                        Excelentes comentarios de los clientes
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Biblioteca de guías gratuitas basada en el conocimiento experto, revisada por nuestros clientes
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title font-title">
                        Garantía de devolución del dinero
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Devolvemos dinero en caso nuestro error en autentificación
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title font-title">
                        Comunicación<br>fácil
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Puedes comunicarte por el chat en vivo o enviar un correo electrónico a nuestros autentificadores en cualquier momento, disponible 24/7.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-4.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title font-title">
                        Certificado de Verificación
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Obtenga resultados rápidos y confiables & un certificado de verificación oficial
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

