<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-start">
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <h2 class="article_column-title h3-heading-pp w-100 tal">Authenticity cards and controllato cards</h2>
        <p class="article_column-desc body-text taj w-100">
          Authenticity cards and Controllato cards are essential components of a genuine Gucci bag. These cards serve as proof of authenticity and are usually found inside the bag or attached to the packaging.
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <h3 class="article_column-title h3-heading-pp w-100 tal">What is an authenticity card?</h3>
        <p class="article_column-desc body-text taj w-100">
          An authenticity card is a document that verifies the authenticity of a Gucci bag. It typically features the Gucci logo, a unique serial number, and a description of the bag. The card should be made of high-quality paper or cardstock and should have a distinctive Gucci design. This card is a vital piece of documentation that adds credibility to the authenticity of the bag.
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <h3 class="article_column-title h3-heading-pp w-100 tal">What are Gucci controllato cards?</h3>
        <p class="article_column-desc body-text taj w-100">
          Gucci Controllato cards are special cards that are issued with every new Gucci bag. These cards feature the Gucci logo, a unique serial number, and the words “Controllato” in all lowercase letters. The card should be white in color and should have a distinctive Gucci design. The presence of a Controllato card is another strong indicator of an authentic Gucci bag, as it signifies that the bag has passed quality control checks.
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Three text columns",
    "class": "article_columns article_three-columns article_three-text-columns rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}