<style>
  h1, h2, h3 {
    margin: 0;
  }
  .guides-hero {
    height: calc(100vh - 197px);
    padding: 50px 0;
    min-height: 870px;
  }
  .guides-hero_text {
    height: max-content;
    width: calc(50% - 25px);
  }
  .guides-hero_image {
    height: 100%;
    width: calc(50% - 25px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 11px;
  }
  @media(max-width: 1450px) {
    .guides-hero {
      min-height: 930px;
    }
  }
  @media(max-width: 1250px) {
    .guides-hero_text, .guides-hero_image {
      width: 100%
    }
    .guides-hero_image {
      height: 600px;
    }
    .guides-hero {
      height: max-content;
      min-height: max-content;
    }
  }
  @media(max-width: 750px) {
    .guides-hero .rebranding_container {
      padding: 0;
    }
    .guides-hero_text {
      padding: 0 15px;
    }
    .guides-hero {
      padding-bottom: 0;
    }
    .guides-hero_image {
      border-radius: 0;
      height: 400px;
    }
  }
</style>

<div class="rebranding_container h-100">
  <div class="guides-hero_content block-flex-wrap block-gap-50 h-100 block-flex-center-center">
    <div class="guides-hero_text block-flex-wrap block-gap-40 block-flex-center-center">
      <h1 class="h1-heading-ss tac w-100">
        Choose your 
        <span class="h1-heading-pp">
          authentication path
        </span>
      </h1>
      <div class="block-flex-wrap block-gap-20 block-flex-center-center">
        <div class="block-flex-wrap block-gap-15 block-flex-center-center">
          <svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.93225 0.151593H5.92944C5.77418 0.1512 5.62039 0.187042 5.47696 0.257049C5.33352 0.327057 5.20328 0.429842 5.09375 0.559474C4.98208 0.690031 4.89354 0.845422 4.83327 1.01662C4.773 1.18782 4.74221 1.37143 4.74268 1.55676V22.627C4.74268 23.3997 5.27837 24.0298 5.93696 24.0318C8.71341 24.0396 13.3651 24.7213 16.5741 28.6773V6.62663C16.5741 6.36472 16.5173 6.11867 16.4101 5.91507C13.7763 0.918434 8.71498 0.159262 5.93225 0.151593ZM30.2573 22.627V1.55663C30.2573 1.17956 30.1326 0.825355 29.9062 0.559342C29.7967 0.429745 29.6665 0.326979 29.523 0.256973C29.3796 0.186967 29.2258 0.151107 29.0706 0.151461H29.0677C26.285 0.159262 21.2238 0.918434 18.5899 5.91507C18.4827 6.11867 18.426 6.36472 18.426 6.62663V28.6772C21.635 24.7212 26.2867 24.0395 29.0632 24.0317C29.7216 24.0297 30.2573 23.3996 30.2573 22.627Z" fill="#3C1F1B"/>
          <path d="M32.9741 5.01068H32.1092V22.6269C32.1092 24.5997 30.7447 26.2084 29.0675 26.2133C26.7125 26.2199 22.8294 26.7624 20.0794 29.8285C24.8356 28.4567 29.8495 29.3485 32.7071 30.1156C32.8821 30.1632 33.064 30.1634 33.2392 30.1164C33.4143 30.0694 33.5781 29.9763 33.7184 29.8441C33.8585 29.7128 33.9717 29.5459 34.0494 29.3558C34.127 29.1657 34.1671 28.9574 34.1666 28.7465V6.41558C34.1667 5.64095 33.6316 5.01068 32.9741 5.01068ZM2.89072 22.6269V5.01068H2.02585C1.36839 5.01068 0.833252 5.64095 0.833252 6.41558V28.7462C0.833252 29.1758 0.996664 29.5759 1.28152 29.8436C1.42173 29.9759 1.58558 30.0691 1.76073 30.1162C1.93589 30.1632 2.11782 30.1628 2.29285 30.1152C5.15033 29.3479 10.1644 28.4563 14.9204 29.8282C12.1705 26.7622 8.28738 26.2197 5.93238 26.2132C4.25527 26.2084 2.89072 24.5997 2.89072 22.6269Z" fill="#3C1F1B"/>
          </svg>
          <h3 class="h3-heading-pp w-100 tac">Library of guides</h3>
          <p class="body-text w-100 tac">
            Our guides show side-by-side image comparisons to help you authenticate your items. We provides step-by-step instructions, ideal for any level of knowledge.
          </p>
        </div>
          <a href="#shopify-section-guides_library" class="rebranding_btn ma">
            View free guides
          </a>
      </div>
      <div class="block-flex-wrap block-gap-20 block-flex-center-center">
        <div class="block-flex-wrap block-gap-15 block-flex-center-center">
          <svg width="39" height="31" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.255 18.0636V23.5013C31.255 25.4763 30.1618 27.2389 28.4691 28.0639C26.412 29.064 23.297 30.1515 19.5002 30.1515C15.7034 30.1515 12.5883 29.064 10.5195 28.0639C8.83856 27.2389 7.74536 25.4763 7.74536 23.5013V18.0636L16.103 22.1262C17.1727 22.6513 18.3247 22.9138 19.5002 22.9138C20.6756 22.9138 21.8276 22.6513 22.8973 22.1262L31.255 18.0636ZM35.9569 15.7761V23.9013C35.9569 24.5888 35.4279 25.1513 34.7814 25.1513C34.1349 25.1513 33.6059 24.5888 33.6059 23.9013V16.9261L35.9569 15.7761Z" fill="#3C1F1B"/>
          <path d="M17.0762 19.8562C17.837 20.2257 18.6637 20.417 19.5001 20.417C20.3365 20.417 21.1631 20.2257 21.9239 19.8562L36.936 12.5585C37.7823 12.1472 38.3078 11.2759 38.3078 10.2847C38.3078 9.29338 37.7823 8.42086 36.936 8.0096L21.9239 0.713129C21.1635 0.343046 20.337 0.151489 19.5007 0.151489C18.6644 0.151489 17.8379 0.343046 17.0774 0.713129L2.06417 8.00835C1.21782 8.42086 0.692383 9.29213 0.692383 10.2834C0.692383 11.2747 1.21782 12.146 2.06417 12.5585L17.0762 19.8562Z" fill="#3C1F1B"/>
          </svg>
          <h3 class="h3-heading-pp w-100 tac">Courses about authentication</h3>
          <p class="body-text w-100 tac">
            Our courses offer video lessons and practice materials that teach you how to authenticate. Whether you're a beginner or an expert, you will get insights and tips to enhance your knowledge.
          </p>
        </div>
        <a href="https://academy.legitgrails.com" target="_blank" class="rebranding_btn rebranding_btn-main ma">
            LegitGrails Academy
        </a>
      </div>
      <div class="block-flex-wrap block-flex-center-center" style="height: 97px;">
          <!-- TrustBox widget - Mini -->
          <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="97" data-style-width="200">
          <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
          <!-- End TrustBox widget -->
      </div>
    </div>
    <div class="guides-hero_image" style="background-image: url('{{ "blogs_hero-image.webp" | asset_url }}');"></div>
  </div>
</div>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

{% schema %}
  {
    "name": "Guides Hero",
    "class": "guides-hero",
    "tag": "section",
    "presets": [
    {
      "name": "Guides Hero"
    }
  ]
  }
{% endschema %}