<style>
  .homepage_academy-content {
    align-items: center;
  }
  .homepage_academy-text {
      width: calc(55% - 10px);
      justify-content: flex-start;
  }
  .homepage_academy-text .rebranding_btn {
    margin: 0;
  }
  .homepage_academy-image {
    width: calc(45% - 10px)
  }
  .homepage_academy-image img {
    width: 100%;
  }
  @media(max-width: 1250px) {
    .homepage_academy-text {
      width: 100%;
      justify-content: center;
    }
    .homepage_academy-image {
        width: 600px;
        margin: 0 auto;
    }
    .homepage_academy-image {
      order: 1;
    }
    .homepage_academy-text {
      order: 2;
    }
    .homepage_academy-content {
    gap: 40px;
}
    p.left-offers-item-title {
    width: 100%;
}
  }
  @media(max-width: 750px) {
    .homepage_academy-items {
    gap: 40px;
}
    .homepage_academy-image {
      width: 100%;
    }
  }
</style>

<div class="rebranding_container">
  <div class="homepage_academy-content block-gap-20 block-flex-wrap block-wider-mobile-gap">
    <div class="homepage_academy-text block-gap-40 block-flex-wrap">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-15 block-flex-wrap">
        <h2 class="h2-heading-ss">
         LegitGrails 
          <span class="h2-heading-pp">
           Account
          </span>
        </h2>
        <p class="body-text">
            Get up to 40% off your authentications with a LegitGrails Account. Track every order, earn cashback credits, and manage everything from one intuitive dashboard.
        </p>
      </div>
      <div class="homepage_academy-items left-offers-items block-gap-20 block-flex-wrap">
        <div class="homepage_academy-item left-offers-item block-gap-15 block-flex-wrap">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_4952_16771)">
<path d="M24.082 0.514648V5.85945H29.4264L24.082 0.514648Z" fill="#3C1F1B"/>
<path d="M23.2031 7.61719C22.7177 7.61719 22.3242 7.22367 22.3242 6.73828V0H9.72656C8.27268 0 7.08984 1.18283 7.08984 2.63672V12.4622C7.37941 12.436 7.67244 12.4219 7.96875 12.4219C10.9645 12.4219 13.6463 13.7916 15.4211 15.9375H24.9609C25.4463 15.9375 25.8398 16.331 25.8398 16.8164C25.8398 17.3018 25.4463 17.6953 24.9609 17.6953H16.579C17.1405 18.7911 17.4859 19.9846 17.5963 21.2109H24.9609C25.4463 21.2109 25.8398 21.6045 25.8398 22.0898C25.8398 22.5752 25.4463 22.9688 24.9609 22.9688H17.5963C17.3335 25.8714 15.7826 28.4078 13.521 30H27.3047C28.7586 30 29.9414 28.8172 29.9414 27.3633V7.61719H23.2031ZM24.9609 12.4219H12.0703C11.5849 12.4219 11.1914 12.0284 11.1914 11.543C11.1914 11.0576 11.5849 10.6641 12.0703 10.6641H24.9609C25.4463 10.6641 25.8398 11.0576 25.8398 11.543C25.8398 12.0284 25.4463 12.4219 24.9609 12.4219Z" fill="#3C1F1B"/>
<path d="M7.96875 14.1797C3.60709 14.1797 0.0585938 17.7282 0.0585938 22.0898C0.0585938 26.4515 3.60709 30 7.96875 30C12.3304 30 15.8789 26.4515 15.8789 22.0898C15.8789 17.7282 12.3304 14.1797 7.96875 14.1797ZM10.3125 22.9688H7.96875C7.48336 22.9688 7.08984 22.5752 7.08984 22.0898V18.5742C7.08984 18.0888 7.48336 17.6953 7.96875 17.6953C8.45414 17.6953 8.84766 18.0888 8.84766 18.5742V21.2109H10.3125C10.7979 21.2109 11.1914 21.6045 11.1914 22.0898C11.1914 22.5752 10.7979 22.9688 10.3125 22.9688Z" fill="#3C1F1B"/>
</g>
<defs>
<clipPath id="clip0_4952_16771">
<rect width="30" height="30" fill="white"/>
</clipPath>
</defs>
</svg>
          <div class="left-offers-item-text block-gap-10 block-flex-wrap">
            <p class="left-offers-item-title h3-heading-pp">
              Track order history
            </p>
            <p class="left-offers-item-description body-text">
              Monitor all your authentication orders and statuses in one convenient place — no more lost emails or confusion.
            </p>
          </div>
        </div>
        <div class="homepage_academy-item left-offers-item block-gap-15 block-flex-wrap">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_4952_16777)">
<path d="M24.9857 6.46165C22.8217 4.22313 20.0209 2.79971 16.9813 2.3667L17.8477 1.50034C18.1909 1.15709 18.1909 0.60063 17.8477 0.257388C17.5045 -0.0857959 16.9479 -0.0857959 16.6047 0.257388L14.3789 2.48313C14.0357 2.82631 14.0357 3.38284 14.3789 3.72608L16.6046 5.95182C16.7763 6.12344 17.0012 6.20928 17.2261 6.20928C17.451 6.20928 17.676 6.12344 17.8475 5.95182C18.1908 5.60864 18.1908 5.05211 17.8475 4.70887L17.3498 4.21112C19.7646 4.68368 21.9794 5.88098 23.7218 7.68333C25.9194 9.95653 27.1296 12.9502 27.1296 16.1128C27.1297 22.8009 21.6885 28.2421 15.0004 28.2421C8.31234 28.2421 2.87109 22.8009 2.87109 16.1129C2.87109 13.5608 3.65432 11.1196 5.13615 9.05307C6.58723 7.02942 8.58762 5.5194 10.9212 4.68631C11.3784 4.52307 11.6166 4.02022 11.4534 3.56301C11.2903 3.10586 10.7873 2.86762 10.3301 3.03081C7.65809 3.98477 5.36807 5.71305 3.70758 8.02873C2.01035 10.3957 1.11328 13.1911 1.11328 16.1129C1.11328 19.8223 2.55779 23.3096 5.18074 25.9326C7.80369 28.5554 11.291 29.9999 15.0004 29.9999C18.7098 29.9999 22.1971 28.5554 24.8201 25.9325C27.443 23.3096 28.8875 19.8223 28.8875 16.1129C28.8875 12.4919 27.5018 9.06432 24.9857 6.46165Z" fill="#3C1F1B"/>
<path d="M5.96973 16.1128C5.96973 21.092 10.0207 25.143 15 25.143C19.9792 25.143 24.0301 21.092 24.0301 16.1128C24.0301 11.1336 19.9792 7.08252 15 7.08252C10.0206 7.08252 5.96973 11.1335 5.96973 16.1128ZM15.5395 16.8951C14.2743 16.4479 13.5413 16.0954 13.0095 15.6782C12.355 15.1649 12.0554 14.2783 12.2276 13.3645C12.4144 12.3732 13.1057 11.5841 14.0318 11.3051C14.0446 11.3013 14.0572 11.2982 14.07 11.2944V10.9405C14.07 10.4551 14.4635 10.0616 14.9489 10.0616C15.4343 10.0616 15.8278 10.4551 15.8278 10.9405V11.2385C16.4414 11.3822 16.8697 11.6627 17.0429 11.7921C17.4317 12.0828 17.5112 12.6335 17.2206 13.0223C16.9299 13.4112 16.3793 13.4906 15.9904 13.2001C15.8043 13.061 15.2906 12.7617 14.5388 12.9882C14.0946 13.122 13.9797 13.5592 13.955 13.69C13.9063 13.9484 13.9623 14.1916 14.0943 14.2951C14.5541 14.6556 15.3789 14.974 16.1253 15.2378C17.4905 15.7204 18.2496 16.9851 18.0143 18.3848C17.8988 19.0721 17.5531 19.7098 17.0407 20.1805C16.6884 20.5042 16.2778 20.7343 15.8278 20.8642V21.285C15.8278 21.7704 15.4343 22.1639 14.9489 22.1639C14.4635 22.1639 14.07 21.7704 14.07 21.285V20.9506C13.4853 20.8819 12.9973 20.7018 12.3412 20.2726C11.9349 20.0068 11.8211 19.4621 12.0868 19.0559C12.3525 18.6496 12.8973 18.5358 13.3035 18.8015C13.9119 19.1995 14.1419 19.2361 14.943 19.2305C15.7317 19.2253 16.1894 18.6374 16.2808 18.0934C16.3256 17.8277 16.3428 17.179 15.5395 16.8951Z" fill="#3C1F1B"/>
</g>
<defs>
<clipPath id="clip0_4952_16777">
<rect width="30" height="30" fill="white"/>
</clipPath>
</defs>
</svg>
          <div class="left-offers-item-text block-gap-10 block-flex-wrap">
            <p class="left-offers-item-title h3-heading-pp">
              Earn credits & cashback
            </p>
            <p class="left-offers-item-description body-text">
             Collect credits for every authentication and redeem them to save even more on future orders.
            </p>
          </div>
        </div>
      </div>
      <a href="https://legitgrails.com/pages/account" class="rebranding_btn rebranding_btn-main">View more details</a>   
    </div>
    <div class="homepage_academy-image">
      <img src="{{ "homepage_account-block.webp" | asset_url }}"
    </div>
  </div>
</div>
          </div>

{% schema %}
  {
    "name": "Homepage Academy",
    "class": "homepage_academy rebranding-section",
    "settings": []
  }
{% endschema %}