<style>
  .homepage_academy-content {
    align-items: center;
  }
  .homepage_academy-text {
      width: calc(55% - 10px);
      justify-content: flex-start;
  }
  .homepage_academy-text .rebranding_btn {
    margin: 0;
  }
  .homepage_academy-image {
    width: calc(45% - 10px)
  }
  .homepage_academy-image img {
    width: 100%;
  }
  @media(max-width: 1250px) {
    .homepage_academy-text {
      width: 100%;
      justify-content: center;
    }
    .homepage_academy-image {
        width: 600px;
        margin: 0 auto;
    }
    .homepage_academy-image {
      order: 1;
    }
    .homepage_academy-text {
      order: 2;
    }
    .homepage_academy-content {
    gap: 40px;
}
    p.left-offers-item-title {
    width: 100%;
}
  }
  @media(max-width: 750px) {
    .homepage_academy-items {
    gap: 40px;
}
    .homepage_academy-image {
      width: 100%;
    }
  }
</style>

<div class="rebranding_container">
  <div class="homepage_academy-content block-gap-20 block-flex-wrap block-wider-mobile-gap">
    <div class="homepage_academy-text block-gap-40 block-flex-wrap">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-15 block-flex-wrap">
        <h2 class="h2-heading-ss">
         LegitGrails 
          <span class="h2-heading-pp">
           Academy
          </span>
        </h2>
        <p class="body-text">Master the art of luxury authentication with expert-led courses and guides tailored for collectors, resellers, and enthusiasts.</p>
      </div>
      <div class="homepage_academy-items left-offers-items block-gap-20 block-flex-wrap">
        <div class="homepage_academy-item left-offers-item block-gap-15 block-flex-wrap">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.375 17.6662V23.1348C24.375 25.121 23.5031 26.8936 22.1531 27.7233C20.5125 28.729 18.0281 29.8227 15 29.8227C11.9719 29.8227 9.4875 28.729 7.8375 27.7233C6.49687 26.8936 5.625 25.121 5.625 23.1348V17.6662L12.2906 21.7519C13.1437 22.2799 14.0625 22.5439 15 22.5439C15.9375 22.5439 16.8562 22.2799 17.7094 21.7519L24.375 17.6662ZM28.125 15.3657V23.5371C28.125 24.2285 27.7031 24.7941 27.1875 24.7941C26.6719 24.7941 26.25 24.2285 26.25 23.5371V16.5223L28.125 15.3657Z" fill="#3C1F1B"/>
<path d="M13.0669 19.1636C13.6736 19.5076 14.3329 19.6856 15 19.6856C15.6671 19.6856 16.3264 19.5076 16.9331 19.1636L28.9059 12.3704C29.5809 11.9876 30 11.1766 30 10.2539C30 9.33111 29.5809 8.51892 28.9059 8.13609L16.9331 1.3441C16.3266 0.999602 15.6675 0.821289 15.0005 0.821289C14.3335 0.821289 13.6743 0.999602 13.0678 1.3441L1.09406 8.13493C0.419063 8.51892 0 9.32995 0 10.2527C0 11.1754 0.419063 11.9865 1.09406 12.3704L13.0669 19.1636Z" fill="#3C1F1B"/>
</svg>
          <div class="left-offers-item-text block-gap-10 block-flex-wrap">
            <p class="left-offers-item-title h3-heading-pp">
              Expert Insights
            </p>
            <p class="left-offers-item-description body-text">
              Access insights from professional authenticators to master brand verification.
            </p>
          </div>
        </div>
        <div class="homepage_academy-item left-offers-item block-gap-15 block-flex-wrap">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.1429 17.3931H12.8572C11.6737 17.3931 10.7144 18.3205 10.7144 19.4645V27.7502C10.7144 28.8942 11.6737 29.8216 12.8572 29.8216H17.1429C18.3264 29.8216 19.2858 28.8942 19.2858 27.7502V19.4645C19.2858 18.3205 18.3264 17.3931 17.1429 17.3931Z" fill="#3C1F1B"/>
<path d="M6.42857 20.4995H2.14286C0.95939 20.4995 0 21.4269 0 22.5709V27.7495C0 28.8935 0.95939 29.8209 2.14286 29.8209H6.42857C7.61204 29.8209 8.57143 28.8935 8.57143 27.7495V22.5709C8.57143 21.4269 7.61204 20.4995 6.42857 20.4995Z" fill="#3C1F1B"/>
<path d="M27.8573 12.2139H23.5716C22.3881 12.2139 21.4287 13.1413 21.4287 14.2853V27.7496C21.4287 28.8936 22.3881 29.821 23.5716 29.821H27.8573C29.0407 29.821 30.0001 28.8936 30.0001 27.7496V14.2853C30.0001 13.1413 29.0407 12.2139 27.8573 12.2139Z" fill="#3C1F1B"/>
<path d="M4.28582 16.357C4.37507 16.3569 4.46396 16.3461 4.55046 16.3249C8.38539 15.3805 12.0752 13.9528 15.5251 12.0785C19.2808 10.0269 22.7122 7.46464 25.7144 4.47011V7.03557C25.7144 7.31026 25.8273 7.5737 26.0282 7.76793C26.2291 7.96217 26.5017 8.07129 26.7858 8.07129C27.07 8.07129 27.3425 7.96217 27.5434 7.76793C27.7444 7.5737 27.8572 7.31026 27.8572 7.03557V1.857C27.8572 1.58231 27.7444 1.31888 27.5434 1.12464C27.3425 0.930409 27.07 0.821289 26.7858 0.821289H21.4287C21.1445 0.821289 20.872 0.930409 20.6711 1.12464C20.4701 1.31888 20.3572 1.58231 20.3572 1.857C20.3572 2.13169 20.4701 2.39513 20.6711 2.58936C20.872 2.7836 21.1445 2.89272 21.4287 2.89272H24.2958C21.4109 5.80193 18.1025 8.28895 14.4751 10.2753C11.1887 12.059 7.67395 13.417 4.02118 14.3146C3.76515 14.3743 3.54087 14.5231 3.39114 14.7326C3.24142 14.942 3.17675 15.1975 3.20948 15.4501C3.24221 15.7027 3.37006 15.9348 3.5686 16.1021C3.76714 16.2694 4.02246 16.3601 4.28582 16.357Z" fill="#3C1F1B"/>
</svg>
          <div class="left-offers-item-text block-gap-10 block-flex-wrap">
            <p class="left-offers-item-title h3-heading-pp">
              Up-to-Date
            </p>
            <p class="left-offers-item-description body-text">
              Stay updated on the latest counterfeiting techniques and trends.
            </p>
          </div>
        </div>
      </div>
      <a href="https://legitgrails.com/pages/guides" class="rebranding_btn rebranding_btn-main">Learn to authenticate</a>   
    </div>
    <div class="homepage_academy-image">
      <img src="{{ "homepage_academy-image.png" | asset_url }}" loading="lazy" alt="homepage_academy-image" >
    </div>
  </div>
</div>
          </div>

{% schema %}
  {
    "name": "Homepage Academy",
    "class": "homepage_academy rebranding-section-bottom",
    "settings": []
  }
{% endschema %}