<style>
  .hype_cta {
    padding: 0 0 110px 0;
  }
  .hype_cta-wrapp {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(96deg, rgba(239, 239, 239, 0.20) 23.53%, rgba(214, 214, 214, 0.20) 75.95%);
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    display: flex;
    height: max-content;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    padding: 25px 30px;
    transition: .5s;
    opacity: 0;
    transform: translateY(50px);
  }
  .hype_cta-wrapp.animated {
    opacity: 1;
    transform: translateY(0px);
  }
  .hype_cta-wrapp-text {
    max-width: 546px;
  }
  h2.hype_cta-wrapp-text-title {
    text-align: left;
  }
  p.hype_cta-wrapp-text-desc {
    margin-top: 10px;
    text-align: left;
  }
  a.hype_cta-wrapp-text-btn {
    margin-top: 15px;
  }
  .hype_cta-wrapp-image img {
    height: 244px;
    right: 57px;
    position: absolute;
    top: 50%;
    margin-top: -122px;
    z-index: 4;
  }
  .hype_cta-wrapp-image-backs {
      display: block;
      position: relative;
      height: 100%;
      margin-right: 17px;
      width: 414px;
  }
  span.hype_cta-wrapp-image-back {
    opacity: 0.05;
    background: #966A20;
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 50%;
  }
  span.hype_cta-wrapp-image-back-1 {
    width: 414px;
    height: 414px;
    margin-top: -207px;
    margin-left: -207px;
    z-index: 1;
  }
  span.hype_cta-wrapp-image-back-2 {
    width: 348px;
    height: 348px;
    margin-top: -174px;
    margin-left: -174px;
    z-index: 2;
  }
  span.hype_cta-wrapp-image-back-3 {
    width: 282px;
    height: 282px;
    margin-top: -141px;
    margin-left: -141px;
    z-index: 3;
  }
  @media(max-width: 1250px) {
    h2.hype_cta-wrapp-text-title {
    font-size: 33px;
}
    .hype_cta-wrapp-image img {
    height: 200px;
    margin-top: -100px;
}
    .hype_cta-wrapp-image-backs {
    margin-right: -19px;
}
  }
  @media(max-width: 950px) {
    .hype_cta {
    padding: 0 0 80px 0;
}
  }
  @media(max-width: 900px) {
    .hype_cta-wrapp {
      flex-wrap: wrap;
    }
    .hype_cta-wrapp-text {
    max-width: 100%;
    text-align: center;
    width: 100%;
}
    a.hype_cta-wrapp-text-btn {
    margin: 15px auto 0 auto;
}
    .hype_cta-wrapp-image {
    width: max-content;
    margin: auto;
}
    .hype_cta-wrapp-image-backs {
    margin: auto;
    width: 414px;
    height: 268px;
    margin-bottom: -100px;
    margin-top: 105px;
}
    .hype_cta-wrapp-image img {
    height: 200px;
    right: 50%;
    position: absolute;
    top: auto;
    margin-top: -100px;
    bottom: 10px;
    margin-right: -179px;
}
    h2.hype_cta-wrapp-text-title.second-title-style {
    text-align: center;
}
    p.hype_cta-wrapp-text-desc {
    text-align: center;
}
  }
  @media(max-width: 750px) {
    .hype_cta-wrapp {
      padding: 20px;
    }
  }
  @media(max-width: 600px) {
    .hype_cta {
    padding: 0 0 60px 0;
}
  }
  @media(max-width: 500px) {
    span.hype_cta-wrapp-image-back-1 {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
}
    span.hype_cta-wrapp-image-back-2 {
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
    }
    span.hype_cta-wrapp-image-back-3 {
    width: 180px;
    height: 180px;
    margin-top: -90px;
    margin-left: -90px;
    }
    .hype_cta-wrapp-image-backs {
    width: 300px;
    height: 281px;
    margin-bottom: -113px;
    margin-top: 36px;
}
    .hype_cta-wrapp-image img {
    height: 171px;
    margin-top: -100px;
    bottom: 7px;
    margin-right: -151px;
}
  }
</style>

<div class="container">
  <div class="hype_cta-wrapp">
    <div class="hype_cta-wrapp-text">
      <h2 class="hype_cta-wrapp-text-title second-title-style">
        Don’t Wait, Get Your Legit Check Today
      </h2>
      <p class="hype_cta-wrapp-text-desc section-desc-style">
        Fast, accurate results starting at 15 mins
      </p>
      <a href="#product-box_section" class="new-main-btn new-btn hype_cta-wrapp-text-btn">Start Now</a>
    </div>
    <div class="hype_cta-wrapp-image">
      <img src="{{ 'hype_cta.png' | asset_url }}">
      <div class="hype_cta-wrapp-image-backs">
        <span class="hype_cta-wrapp-image-back hype_cta-wrapp-image-back-1"></span>
        <span class="hype_cta-wrapp-image-back hype_cta-wrapp-image-back-2"></span>
        <span class="hype_cta-wrapp-image-back hype_cta-wrapp-image-back-3"></span>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hype CTA",
    "class": "hype_cta",
    "settings": []
  }
{% endschema %}