{% render 'section-legit-homepage-time-styles' %}
<div class="section-container">
            <div class="homepage_time-content">
                <p class="homepage_time-text font-description">
                    Get your authentication results 
                </p>
                <p class="homepage_time-title font-title">
                    in 30 minutes
                </p>
                <p class="homepage_time-text after-text font-description">
                    Available 24/7
                </p>
                <a href="https://legitgrails.com/pages/choose-your-brand" class="font-title main-btn homepage_other-brands-track">
                    Authenticate Now
                </a>
            </div>
        </div>
        
{% schema %}
  {
    "name": "Legit homepage time",
    "class": "homepage_time",
    "tag": "section",
    "presets": [
    {
      "name": "Legit homepage time"
    }
  ]
  }
{% endschema %}