<style>
  h1, h2, h3 {
    margin: 0;
  }
  .guides-hero {
    height: calc(100vh - 197px);
    padding: 50px 0;
    min-height: 870px;
  }
  .guides-hero_text {
    height: max-content;
    width: calc(50% - 25px);
  }
  .guides-hero_image {
    height: 100%;
    width: calc(50% - 25px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 11px;
  }
  @media(max-width: 1450px) {
    .guides-hero {
      min-height: 930px;
    }
  }
  @media(max-width: 1250px) {
    .guides-hero_text, .guides-hero_image {
      width: 100%
    }
    .guides-hero_image {
      height: 600px;
    }
    .guides-hero {
      height: max-content;
      min-height: max-content;
    }
  }
  @media(max-width: 750px) {
    .guides-hero .rebranding_container {
      padding: 0;
    }
    .guides-hero_text {
      padding: 0 15px;
    }
    .guides-hero {
      padding-bottom: 0;
    }
    .guides-hero_image {
      border-radius: 0;
      height: 400px;
    }
  }
</style>

<div class="rebranding_container h-100">
  <div class="guides-hero_content block-flex-wrap block-gap-50 h-100 block-flex-center-center">
    <div class="guides-hero_text block-flex-wrap block-gap-40 block-flex-center-center">
      <h1 class="h1-heading-ss tac w-100">
        <span class="h1-heading-pp">
          LegitGrails
        </span>
        の教育資料
      </h1>
      <div class="block-flex-wrap block-gap-20 block-flex-center-center">
        <div class="block-flex-wrap block-gap-15 block-flex-center-center">
          <svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.6354 0H2.0954C0.919932 0 0 0.919932 0 2.04429V21.2095C0 22.3339 0.919932 23.3049 2.0954 23.3049H31.6865C32.8109 23.3049 33.7819 22.385 33.7819 21.2095V2.04429C33.7308 0.919932 32.8109 0 31.6354 0ZM16.8654 20.0852C12.2147 20.0852 8.3816 16.3032 8.3816 11.6014C8.3816 6.9506 12.1635 3.11755 16.8654 3.11755C21.5162 3.11755 25.3492 6.89949 25.3492 11.6014C25.3492 16.3032 21.5162 20.0852 16.8654 20.0852Z" fill="#3C1F1B"/>
            <path d="M20.6985 11.6525C20.6985 12.1636 20.4429 12.6235 19.983 12.9302L15.7411 15.4855C15.4855 15.6389 15.23 15.69 14.9744 15.69C14.7189 15.69 14.4634 15.6389 14.2589 15.4855C13.799 15.23 13.4923 14.7189 13.4923 14.2078V9.09711C13.4923 8.58604 13.7479 8.07497 14.2589 7.81943C14.7189 7.56389 15.2811 7.56389 15.7411 7.81943L19.983 10.3748C20.4429 10.6303 20.6985 11.0903 20.6985 11.6525ZM33.7308 28.0068C33.7308 28.2624 33.5264 28.5179 33.2198 28.5179H8.73935C8.4327 29.3867 7.51277 30 6.3373 30C5.21294 30 4.2419 29.3867 3.93526 28.5179H0.971034C0.66439 28.5179 0.459961 28.2624 0.459961 28.0068C0.459961 27.7002 0.66439 27.4957 0.971034 27.4957H3.93526C4.1908 26.6269 5.16183 26.0136 6.3373 26.0136C7.51277 26.0136 8.4327 26.6269 8.73935 27.4957H33.2198C33.5264 27.4957 33.7308 27.7002 33.7308 28.0068Z" fill="#3C1F1B"/>
            </svg>
          <h3 class="h3-heading-pp w-100 tac">教育用動画</h3>
          <p class="body-text w-100 tac">
            10分間の動画で、LegitGrailsアプリおよびLegitGrailsレンズの使用方法をご確認いただけます。
        </p>
        </div>
          <a href="https://www.youtube.com/watch?v=gxs68QLb5Fs" target="_blank" class="rebranding_btn ma">
            見る
          </a>
      </div>
      <div class="block-flex-wrap block-gap-20 block-flex-center-center">
        <div class="block-flex-wrap block-gap-15 block-flex-center-center">
          <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.40053 19.02C6.12453 19.02 5.93853 19.047 5.84253 19.074V20.841C5.95653 20.868 6.09903 20.8755 6.29553 20.8755C7.01403 20.8755 7.45653 20.5125 7.45653 19.9005C7.45653 19.35 7.07553 19.02 6.40053 19.02ZM11.631 19.038C11.331 19.038 11.136 19.065 11.0205 19.092V23.007C11.136 23.034 11.322 23.034 11.49 23.034C12.7155 23.043 13.5135 22.368 13.5135 20.94C13.5225 19.695 12.795 19.038 11.631 19.038Z" fill="#3C1F1B"/>
            <path d="M15 0H3C2.20435 0 1.44129 0.31607 0.87868 0.87868C0.31607 1.44129 0 2.20435 0 3V27C0 27.7956 0.31607 28.5587 0.87868 29.1213C1.44129 29.6839 2.20435 30 3 30H21C21.7956 30 22.5587 29.6839 23.1213 29.1213C23.6839 28.5587 24 27.7956 24 27V9L15 0ZM8.247 21.285C7.7835 21.72 7.0995 21.915 6.303 21.915C6.14856 21.9167 5.99419 21.9076 5.841 21.888V24.027H4.5V18.123C5.1045 18.033 5.7165 17.991 6.3285 18C7.164 18 7.758 18.159 8.1585 18.4785C8.5395 18.7815 8.7975 19.278 8.7975 19.863C8.796 20.451 8.601 20.9475 8.247 21.285ZM13.9575 23.3175C13.3275 23.841 12.369 24.09 11.1975 24.09C10.4955 24.09 9.999 24.045 9.6615 24V18.1245C10.2669 18.0361 10.8782 17.9945 11.49 18C12.6255 18 13.3635 18.204 13.9395 18.639C14.562 19.101 14.952 19.8375 14.952 20.895C14.952 22.0395 14.5335 22.83 13.9575 23.3175ZM19.5 19.155H17.202V20.5215H19.35V21.6225H17.202V24.0285H15.843V18.045H19.5V19.155ZM15 10.5H13.5V3L21 10.5H15Z" fill="#3C1F1B"/>
            </svg>
          <h3 class="h3-heading-pp w-100 tac">教育用PDF</h3>
          <p class="body-text w-100 tac">
            正確な撮影例やその他のガイドラインを、PDF資料にてご覧いただけます。
        </p>
        </div>
        <a href="https://drive.google.com/file/d/1YZKcIcwroNJno8uc94Ke2VlzfwRd4j-R/view?usp=sharing" target="_blank" class="rebranding_btn rebranding_btn-main ma">
            見る
        </a>
      </div>
      <div class="block-flex-wrap block-flex-center-center" style="height: 97px;">
          <!-- TrustBox widget - Mini -->
          <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="97" data-style-width="200">
          <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
          <!-- End TrustBox widget -->
      </div>
    </div>
    <div class="guides-hero_image" style="background-image: url('{{ "lenses_hero-image.webp" | asset_url }}');"></div>
  </div>
</div>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

{% schema %}
  {
    "name": "Lenses Hero",
    "class": "guides-hero",
    "tag": "section",
    "presets": [
    {
      "name": "Guides Hero"
    }
  ]
  }
{% endschema %}