{%- assign product = all_products[blog.metafields.custom.product] -%}
<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss ivory-text tac">Final Thoughts: <span class="h2-heading-pp">Need a Louis Vuitton Bag Authenticated?</span></h2>
      <p class="body-text ivory-text w-100 tac block-max-width">
        Louis Vuitton fakes can be incredibly convincing, especially with newer “superfakes.” While these tips can help, <a class="standart-hover" href="{{ product.url }}">professional authentication</a> is the only way to be sure.
        <br><br>
        <strong>Our team specializes in Louis Vuitton authentication</strong>, using a multi-point inspection process and years of luxury fashion experience to help you shop with confidence.
      </p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="{{ product.url }}" class="rebranding_btn rebranding_btn-main">Authenticate now</a>
    </div>
</div>

{% schema %}
  {
    "name": "Blogs CTA",
    "class": "rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}