{% render 'section-new-reviews-styles' %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<div class="section-container">
  <h2 class="reviews-title hero__overlay-title section-title has-animated">
        Reviews
  </h2>
  <div class="new-review-section-1__wrapper">
    <a href="javascript:void(0)" class="new-review-section-1__arrow new-review-section-1__arrow-prev">
      <svg width="20" height="39" viewBox="0 0 20 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 37L2 19.5L18 2" stroke="#CBAD73" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>

          
    <div class="new-review-section-1__slider-wrapper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Reseller-friendly</p>
            <div class="new-review-section-1__slider-desc font-description"><p>Wonderful experience! I was hesitant to sell my Cartier jewelry online due to authenticity concerns, but LegitGrails confirmed it's genuine, giving me confidence to proceed.</p></div>
            <p class="new-review-section-1__slider-name font-title">Rose T</p>
          </div>

          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Always satisfied</p>
            <div class="new-review-section-1__slider-desc font-description"><p>LegitGrails has consistently provided excellent service. Their turnaround time matches what they promise. I'll keep using them for my reselling business.</p></div>
            <p class="new-review-section-1__slider-name font-title">Olivia B</p>
          </div>
                    
          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Quick and accurate</p>
            <div class="new-review-section-1__slider-desc font-description"><p>I'm pleased with the service and what I received. LegitGrails is worth every dollar, they are reliable and thorough!! Finally I am sure I don't buy a fake</p></div>
            <p class="new-review-section-1__slider-name font-title">Alejandro D</p>
          </div>

          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Works great for resellers</p>
            <div class="new-review-section-1__slider-desc font-description"><p>It's so easy to use the LegitGrails platform for authentication, I love it - all my authentications are visible with outcomes and statuses. Thanks team!</p></div>
            <p class="new-review-section-1__slider-name font-title">Stacey M</p>
          </div>


          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Extremely satisfied</p>
            <div class="new-review-section-1__slider-desc font-description"><p>Used LegitGrails to authenticate my Chanel bag, and they were faster than expected. Quick responses, I will use you again, thank you!</p></div>
            <p class="new-review-section-1__slider-name font-title">Emily G</p>
          </div>


          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="new-review-section-1__slider-title font-title">Very fast and professional</p>
            <div class="new-review-section-1__slider-desc font-description"><p>Highly recommend LegitGrails authentication for anyone needing quick and accurate check of luxury handbags and shoes. Thanks for the great service!</p></div>
            <p class="new-review-section-1__slider-name font-title">Rebecca R</p>
          </div>
        </div>
        
        <div class="swiper-pagination"></div>
    </div>


          
  <!--{%- if section.blocks.size > 0 -%}
    <div class="new-review-section-1__slider-wrapper swiper">
        <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="new-review-section-1__slider-stars">
              {% for i in (1..5) %}
                  {% assign rate = block.settings.rate | plus: 0 %}
                  {% if i <= rate %}
                      <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  {% else %}
                      <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  {% endif %}
              {% endfor %}
            </div>
            <p class="new-review-section-1__slider-title font-title">{{ block.settings.title | escape }}</p>
            <div class="new-review-section-1__slider-desc font-description">{{ block.settings.text }}</div>
            <p class="new-review-section-1__slider-name font-title">{{ block.settings.author }}</p>
          </div>
      {%- endfor -%}
        </div>
        
        <div class="swiper-pagination"></div>
    </div>

{%- endif -%} -->

                      
    <a href="javascript:void(0)" class="new-review-section-1__arrow new-review-section-1__arrow-next">
      <svg width="20" height="39" viewBox="0 0 20 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 37L18 19.5L2 2" stroke="#CBAD73" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
          
<script>
const swiper = new Swiper('.swiper', {
  direction: 'horizontal',
  loop: true,
  slidesPerView: 1,
  spaceBetween: 15,
  pagination: {
    el: '.swiper-pagination',
  },
  navigation: {
    nextEl: '.new-review-section-1__arrow-next',
    prevEl: '.new-review-section-1__arrow-prev',
  },
  breakpoints: {
    550: {
      slidesPerView: 2,
      spaceBetween: 15
    },
    1250: {
      slidesPerView: 3,
      spaceBetween: 20
    }
  }
});
</script>

          
{% schema %}

{
  "name": "Reviews",
  "class": "new-reviews-1",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Block content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "Revew title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Revew text"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Jane Doe",
          "label": "Review author"
        },
        {
          "type": "select",
          "id": "rate",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            }
          ],
          "default": "5",
          "label": "Rate"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Review Blocks 1",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}