{% render 'section-new-faq-bag-styles-min' %}
<div class="section-container">
                <h2 class="faq-title hero__overlay-title section-title has-animated">
                    Purse Authentication FAQs
                </h2>
            <div class="new-faq_wrapp">
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How much does it cost to get a bag authenticated?
                        </p>
                        <a href="javascript:void(0)"  class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            The cost of our designer handbag authentication services ranges from $15 to $50. However, the specific price can vary depending on factors such as the brand and the desired turnaround time for authentication.
<br><br>
For instance, if you need to authenticate a Hermes handbag within 30 minutes, the cost would be $55. On the other hand, if you can wait for 12 hours, the authentication fee for the same product would be only $15.
<br><br>
Ultimately, the price is determined by the time constraints and the brand of your handbag Additionally, it's worth noting that the more prestigious and exclusive the brand, the higher the authentication cost will be.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How can I verify the authenticity of a bag?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            The process is incredibly straightforward, making it accessible for anyone to get their luxury item authenticated.
<br><br>
To begin, you'll need to capture high-resolution pictures of your bag. Nowadays, even simple photos taken with your iPhone will suffice, as long as you ensure good lighting for optimal clarity.
<br><br>
Next, you'll upload the photos onto our website and select your desired response time. You have the option to choose between 12 hours and 30 minutes. Our team of experts will then handle the meticulous task of authenticating the product on your behalf.
<br><br>
Finally, you'll receive a confirmation regarding the authenticity of your bag, accompanied by an official certificate that serves as proof of the verification outcome.

                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           What happens if you buy a counterfeit luxury bag?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                           It's not the end of the world. Unfortunately, purchasing counterfeit luxury handbags and other fake items is a common occurrence within the fashion industry.
<br><br>
If our expertise confirms that the bag you purchased, regardless of the brand, is indeed fake, it is crucial to immediately contact the store where you made the purchase. If you have read our reviews of different stores, you will know which ones offer the best chances of receiving a full refund if any issues arise.
<br><br>
Therefore, if you find yourself in possession of a counterfeit luxury bag, you can expect to receive a complete refund and, perhaps, even apologies from the store. However, if the store you bought from is not reputable, you may encounter difficulties in obtaining a refund for the counterfeit product.
<br><br>
Nevertheless, rest assured that you will eventually receive a refund, bringing an end to your encounter with the fake bag. 
                        </p>
                    </div>
                </div>
                
            </div>
  <div class="new-faq_bottom font-title">
      <p>Have more questions? Visit our <a href="https://legitgrails.frontkb.com/en">Help Center</a></p>
  </div>
        </div>


<script>
$(".new-faq_item").on("click",function(){$(this).toggleClass("active")});
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "How much does it cost to get a bag authenticated?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The cost of our designer handbag authentication services ranges from $15 to $50. However, the specific price can vary depending on factors such as the brand and the desired turnaround time for authentication. For instance, if you need to authenticate a Hermes handbag within 30 minutes, the cost would be $55. On the other hand, if you can wait for 12 hours, the authentication fee for the same product would be only $15. Ultimately, the price is determined by the time constraints and the brand of your handbag Additionally, it's worth noting that the more prestigious and exclusive the brand, the higher the authentication cost will be."
      }
    },
    {
      "@type": "Question",
      "name": "How can I verify the authenticity of a bag?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The process is incredibly straightforward, making it accessible for anyone to get their luxury item authenticated. To begin, you'll need to capture high-resolution pictures of your bag. Nowadays, even simple photos taken with your iPhone will suffice, as long as you ensure good lighting for optimal clarity. Next, you'll upload the photos onto our website and select your desired response time. You have the option to choose between 12 hours and 30 minutes. Our team of experts will then handle the meticulous task of authenticating the product on your behalf. Finally, you'll receive a confirmation regarding the authenticity of your bag, accompanied by an official certificate that serves as proof of the verification outcome."
      }
    },
    {
      "@type": "Question",
      "name": "What happens if you buy a counterfeit luxury bag?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "It's not the end of the world. Unfortunately, purchasing counterfeit luxury handbags and other fake items is a common occurrence within the fashion industry. If our expertise confirms that the bag you purchased, regardless of the brand, is indeed fake, it is crucial to immediately contact the store where you made the purchase. If you have read our reviews of different stores, you will know which ones offer the best chances of receiving a full refund if any issues arise. Therefore, if you find yourself in possession of a counterfeit luxury bag, you can expect to receive a complete refund and, perhaps, even apologies from the store. However, if the store you bought from is not reputable, you may encounter difficulties in obtaining a refund for the counterfeit product. Nevertheless, rest assured that you will eventually receive a refund, bringing an end to your encounter with the fake bag."
      }
    }
  ]
}
</script>

{% schema %}
  {
    "name": "New FAQ Bag",
    "class": "new-faq",
    "tag": "section",
    "presets": [
    {
      "name": "New FAQ Bag"
    }
  ]
  }
{% endschema %}