{% render 'section-new-faq-eyewear-styles-min' %}
<div class="section-container">
                <h2 class="faq-title hero__overlay-title section-title has-animated">
                    Eyewear Featured Questions
                </h2>
            <div class="new-faq_wrapp">
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How reliable is LegitGrails? 
                        </p>
                        <a href="javascript:void(0)"  class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We have a dedicated team of authentication experts with more than 6 years of experience. We run bi-weekly authentication tests to ensure 99%+ accuracy rate on all authentications performed. We also leverage a system that tracks authenticators' stats (average response times, accuracy rates, and more). Continuous research on industry trends and counterfeiting technologies allows us to offer a state-of-the-art authentication service.</p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How long does it take to authenticate luxury eyewear?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            You have the flexibility to select the turnaround time for your authentication results based on your urgency. We offer four options: 12 hours, 6 hours, 2 hours, or 30 minutes. If you require quick results, we suggest opting for our 30-minute or 2-hour authentication service. However, if you can afford to wait for 6 or 12 hours, choosing one of these options will provide a more cost-effective solution.</p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           How much does it cost to get my glasses authenticated?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                           Our luxury eyewear authentication services are typically priced between $15 and $55, with variations based on factors such as the brand and desired turnaround time.
<br><br>
For example, if you require authentication for a pair of Chanel glasses within 30 minutes, the cost would be $55. However, if you can wait for 12 hours, the fee for authenticating the same hoodie would be only $25.
<br><br>
Ultimately, the pricing is determined by the specific time requirements and the brand associated with your clothing. It's important to note that renowned and prestigious brands often entail higher authentication costs.
                        </p>
                    </div>
                </div>
                
            </div>
  <div class="new-faq_bottom font-title">
      <p>Have more questions? Visit our <a href="https://legitgrails.frontkb.com/en">Help Center</a></p>
  </div>
        </div>



<script>
$(".new-faq_item").on("click",function(){$(this).toggleClass("active")});
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "How reliable is LegitGrails?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "We have a dedicated team of authentication experts with more than 6 years of experience. We run bi-weekly authentication tests to ensure 99%+ accuracy rate on all authentications performed. We also leverage a system that tracks authenticators' stats (average response times, accuracy rates, and more). Continuous research on industry trends and counterfeiting technologies allows us to offer a state-of-the-art authentication service."
      }
    },
    {
      "@type": "Question",
      "name": "How long does it take to authenticate luxury eyewear?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You have the flexibility to select the turnaround time for your authentication results based on your urgency. We offer four options: 12 hours, 6 hours, 2 hours, or 30 minutes. If you require quick results, we suggest opting for our 30-minute or 2-hour authentication service. However, if you can afford to wait for 6 or 12 hours, choosing one of these options will provide a more cost-effective solution."
      }
    },
    {
      "@type": "Question",
      "name": "How much does it cost to get my glasses authenticated?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Our luxury eyewear authentication services are typically priced between $15 and $55, with variations based on factors such as the brand and desired turnaround time. For example, if you require authentication for a pair of Chanel glasses within 30 minutes, the cost would be $55. However, if you can wait for 12 hours, the fee for authenticating the same hoodie would be only $25. Ultimately, the pricing is determined by the specific time requirements and the brand associated with your clothing. It's important to note that renowned and prestigious brands often entail higher authentication costs."
      }
    }
  ]
}
</script>

{% schema %}
  {
    "name": "New FAQ Eyewear",
    "class": "new-faq",
    "tag": "section",
    "presets": [
    {
      "name": "New FAQ Eyewear"
    }
  ]
  }
{% endschema %}