<section class="text-section text-section-right">
    <div class="container">
        <div class="text-section-wrapp">
            <div class="text-section_text">
                <span></span>
                <h2 class="text-section_text-title font-title">
                    Reliable Verification
                </h2>
                <p class="text-section_text-desc font-description">
                    {{ page.metafields.custom.reliable_verification }}
                </p>
                <a href="javascript:void(0)" class="font-title text-section_text-a text-section_text-a-scroll">
                    check my item
                </a>
            </div>
            <img src="{{ page.metafields.custom.reliable_image | image_url: width: 590 }}" loading="lazy" class="text-section_img" alt="Reliable Verification">
        </div>

    </div>
</section>
{% schema %}
  {
    "name": "Reliable Verification",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}