<section class="text-section text-section-left">
    <div class="container">
        <div class="text-section-wrapp">
            <div class="text-section_text">
                <span></span>
                <h2 class="text-section_text-title font-title">
                    Authenticity Certificates
                </h2>
                <p class="text-section_text-desc font-description">
                    LegitGrails provides a certificate of authenticity linked to each authenticated item, helping sellers build trust from buyers and increase sales.
                </p>
            </div>
            <img src="{{ 'certificate.webp' | asset_url }}" loading="lazy" class="text-section_img" alt="Authenticity Certificates">
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Image & Text bottom",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

