    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title">
                <span></span>
                <h2 class="font-title">Unlimited Authentication Knowledge</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="Complex Made Easy" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Complex Made Easy
                    </p>
                    <p class="why-choose_item-desc font-description">
                        The process of authenticating luxury handbags can be complex and overwhelming, but our book simplifies and breaks down the process, making it easy and accessible to anyone.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2-refund.png' | asset_url }}" alt="Created by Industry Experts" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Created by Industry Experts
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Our authentication book is created by industry experts who have spent years working with luxury handbags, studying their construction and design, and gaining in-depth knowledge of the brands and their unique characteristics.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3-refund.png' | asset_url }}" alt="From Zero to Hero" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        From Zero to Hero
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Whether you're a seasoned collector or a first-time buyer, our authentication book is the ultimate tool for anyone who wants to own a luxury handbag with confidence.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.png' | asset_url }}" alt="Satisfaction Guarantee" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Satisfaction Guarantee
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Your satisfaction is our top priority, that's why we offer a money-back guarantee (terms apply) on our authentication book, so you can purchase with confidence. If for any reason you're not happy with your purchase, we'll make it right.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

