    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title font-title">
                <span></span>
                <h2>Why choose us?</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="Hybrid Authentication" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Hybrid Authentication
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Experience unmatched authentication accuracy above 99.3% with our Hybrid Authentication Process, where luxury expertise meets AI precision
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.png' | asset_url }}" alt="Money Back Guarantee" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Money Back Guarantee
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Get a full refund if we commit a mistake in the authentication
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3.png' | asset_url }}" alt="Easy Communication" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Easy<br>Communication
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Live chat or email our authenticators at any point, available 24/7
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-4.png' | asset_url }}" alt="Authenticity Certificate" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Authenticity Certificate
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Get quick and reliable results & an official authenticity certificate
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us AI",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

