<section class="text-section text-section-left">
    <div class="container">
        <div class="text-section-wrapp">
            <div class="text-section_text">
                <span></span>
                <h2 class="text-section_text-title font-title">
                    Got tricked into buying a fake?
                </h2>
                <p class="text-section_text-desc font-description">
                    Check out our RefundGrails service to help you get back the money you spent on a fake. If our authenticators determine that your item is not authentic, our RefundGrails team will go the extra mile to help you with your dispute.
                </p>
                <a href="https://legitgrails.com/products/refundgrails" class="text-section_text-a font-title">
                    Learn more
                </a>
            </div>
            <img src="{{ 'got-tricked.webp' | asset_url }}" class="text-section_img" alt="">
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Image & Text bottom",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

