<style>
  .offers-image-ivory {
    background: #F2F2EA;
  }
  .offers-image-ivory .offers-image_image {
    background-color: #fff;
  }
</style>
<div class="container rebranding_container">
  <div class="offers-image_wrapp offers-image_left-wrapp block-flex-wrap">
    <div class="offers-image_content block-flex-wrap">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-15 block-flex-wrap">
        <h2 class="h2-heading-ss">
        How we ensure  
          <span class="h2-heading-pp">
           the highest accuracy
          </span>
        </h2>
      </div>
      <div class="offers-image_items block-flex-wrap">
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="30" height="37" viewBox="0 0 30 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1911_4608)">
<ellipse cx="15" cy="15" rx="15" ry="15" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip1_1911_4608)">
<ellipse cx="15" cy="15" rx="15" ry="15" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip2_1911_4608)">
<ellipse cx="15" cy="15" rx="15" ry="15" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip3_1911_4608)">
<ellipse cx="14.5" cy="15" rx="15" ry="15" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip4_1911_4608)">
<path d="M7 34.8682V21H23V34.8682C23 35.8693 21.9681 36.5378 21.0545 36.1285L15.5645 33.6693C15.2054 33.5084 14.7946 33.5084 14.4355 33.6693L8.9455 36.1285C8.03189 36.5378 7 35.8693 7 34.8682Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip5_1911_4608)">
<path d="M7 34.8682V21H23V34.8682C23 35.8693 21.9681 36.5378 21.0545 36.1285L15.5645 33.6693C15.2054 33.5084 14.7946 33.5084 14.4355 33.6693L8.9455 36.1285C8.03189 36.5378 7 35.8693 7 34.8682Z" fill="#3C1F1B"/>
</g>
<defs>
<clipPath id="clip0_1911_4608">
<rect width="2" height="30" fill="white"/>
</clipPath>
<clipPath id="clip1_1911_4608">
<rect width="2" height="30" fill="white" transform="translate(3.5)"/>
</clipPath>
<clipPath id="clip2_1911_4608">
<rect width="2" height="30" fill="white" transform="translate(7)"/>
</clipPath>
<clipPath id="clip3_1911_4608">
<rect width="19" height="30" fill="white" transform="translate(10.5)"/>
</clipPath>
<clipPath id="clip4_1911_4608">
<rect width="2" height="16" fill="white" transform="translate(7 21)"/>
</clipPath>
<clipPath id="clip5_1911_4608">
<rect width="14" height="16" fill="white" transform="translate(10.5 21)"/>
</clipPath>
</defs>
</svg>
          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Professionals</p>
            <p class="left-offers-item-desc small-text">Trained experts with 99%+ accuracy and extensive insight.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1911_4647)">
<path d="M0 6.0894C0 2.80916 2.65916 0.150002 5.93939 0.150002H24.0606C27.3408 0.150002 30 2.80916 30 6.0894V30.4354C30 31.7408 28.4365 32.4109 27.4911 31.5106L25.6102 29.7192C25.058 29.1933 24.3247 28.9 23.5621 28.9H5.93939C2.65916 28.9 0 26.2408 0 22.9606V6.0894Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip1_1911_4647)">
<path d="M0 6.0894C0 2.80916 2.65916 0.150002 5.93939 0.150002H24.0606C27.3408 0.150002 30 2.80916 30 6.0894V30.4354C30 31.7408 28.4365 32.4109 27.4911 31.5106L25.6102 29.7192C25.058 29.1933 24.3247 28.9 23.5621 28.9H5.93939C2.65916 28.9 0 26.2408 0 22.9606V6.0894Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip2_1911_4647)">
<path d="M0 6.0894C0 2.80916 2.65916 0.150002 5.93939 0.150002H24.0606C27.3408 0.150002 30 2.80916 30 6.0894V30.4354C30 31.7408 28.4365 32.4109 27.4911 31.5106L25.6102 29.7192C25.058 29.1933 24.3247 28.9 23.5621 28.9H5.93939C2.65916 28.9 0 26.2408 0 22.9606V6.0894Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip3_1911_4647)">
<path d="M0 6.0894C0 2.80916 2.65916 0.150002 5.93939 0.150002H24.0606C27.3408 0.150002 30 2.80916 30 6.0894V30.4354C30 31.7408 28.4365 32.4109 27.4911 31.5106L25.6102 29.7192C25.058 29.1933 24.3247 28.9 23.5621 28.9H5.93939C2.65916 28.9 0 26.2408 0 22.9606V6.0894Z" fill="#3C1F1B"/>
</g>
<path d="M20.7907 9.94544C21.0063 9.2478 21.9937 9.2478 22.2093 9.94544L22.8728 12.0923C22.9689 12.4034 23.2565 12.6156 23.5821 12.6156H25.8052C26.5153 12.6156 26.8202 13.5168 26.2559 13.948L24.3943 15.3701C24.1471 15.5589 24.0438 15.882 24.1357 16.1792L24.8314 18.4308C25.0448 19.1214 24.2458 19.6787 23.6714 19.2399L21.9507 17.9254C21.6846 17.7221 21.3154 17.7221 21.0493 17.9254L19.3286 19.2399C18.7542 19.6787 17.9552 19.1214 18.1686 18.4308L18.8643 16.1792C18.9562 15.882 18.8529 15.5589 18.6057 15.3701L16.7441 13.948C16.1798 13.5168 16.4847 12.6156 17.1948 12.6156H19.4179C19.7435 12.6156 20.0311 12.4034 20.1272 12.0923L20.7907 9.94544Z" fill="white"/>
<defs>
<clipPath id="clip0_1911_4647">
<rect width="2" height="29" fill="white" transform="translate(0 0.150002)"/>
</clipPath>
<clipPath id="clip1_1911_4647">
<rect width="2" height="29" fill="white" transform="translate(3.5 0.150002)"/>
</clipPath>
<clipPath id="clip2_1911_4647">
<rect width="2" height="29" fill="white" transform="translate(7 0.150002)"/>
</clipPath>
<clipPath id="clip3_1911_4647">
<rect width="19" height="32" fill="white" transform="translate(11 0.150002)"/>
</clipPath>
</defs>
</svg>

          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Peer review</p>
            <p class="left-offers-item-desc small-text">Each item is reviewed by 2 – 4 specialists for accurate results.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1911_4747)">
<rect x="3" y="8.40005" width="26" height="19" rx="3.79824" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip1_1911_4747)">
<rect x="3" y="8.40005" width="26" height="19" rx="3.79824" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip2_1911_4747)">
<rect x="3" y="8.40005" width="26" height="19" rx="3.79824" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip3_1911_4747)">
<rect x="3" y="8.40005" width="26" height="19" rx="3.79824" fill="#3C1F1B"/>
</g>
<mask id="mask0_1911_4747" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="10" y="0" width="12" height="13">
<path d="M11.9034 5.99673V11.2041H20.0967V5.99673C20.0967 3.7342 18.2626 1.90005 16 1.90005C13.7375 1.90005 11.9034 3.7342 11.9034 5.99673Z" stroke="#3C1F1B" stroke-width="1.93108" stroke-linecap="round"/>
</mask>
<g mask="url(#mask0_1911_4747)">
<rect x="10" y="0.900055" width="12" height="7.5" fill="#3C1F1B"/>
</g>
<path d="M8.5 5.39734H6.27644C3.36234 5.39734 1 7.75968 1 10.6738V11.648M23.5 5.39734H25.7236C28.6377 5.39734 31 7.75968 31 10.6738V11.648M31 24.1493V25.1235C31 28.0376 28.6377 30.3999 25.7236 30.3999H23.5M8.5 30.3999H6.27644C3.36234 30.3999 1 28.0376 1 25.1235V24.1493" stroke="#3C1F1B" stroke-width="1.97866" stroke-linecap="round"/>
<defs>
<clipPath id="clip0_1911_4747">
<rect width="2" height="19" fill="white" transform="translate(3 8.40005)"/>
</clipPath>
<clipPath id="clip1_1911_4747">
<rect width="2" height="19" fill="white" transform="translate(6.5 8.40005)"/>
</clipPath>
<clipPath id="clip2_1911_4747">
<rect width="2" height="19" fill="white" transform="translate(10 8.40005)"/>
</clipPath>
<clipPath id="clip3_1911_4747">
<rect width="15.5" height="19" fill="white" transform="translate(13.5 8.40005)"/>
</clipPath>
</defs>
</svg>
          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Authentication</p>
            <p class="left-offers-item-desc small-text">Advanced AI analyzes millions of samples for precise verification.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1911_4745)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7416 13.6792C21.4251 12.2695 22.4999 10.1247 22.4999 7.72265C22.4999 3.47688 19.142 0.0350037 14.9999 0.0350037C10.8578 0.0350037 7.49991 3.47688 7.49991 7.72265C7.49991 10.1248 8.57473 12.2695 10.2583 13.6793C4.29781 15.7134 0 21.4775 0 28.2705V28.2712H30V28.2705C30 21.4775 25.7021 15.7133 19.7416 13.6792Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip1_1911_4745)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7416 13.6792C21.4251 12.2695 22.4999 10.1247 22.4999 7.72265C22.4999 3.47688 19.142 0.0350037 14.9999 0.0350037C10.8578 0.0350037 7.49991 3.47688 7.49991 7.72265C7.49991 10.1248 8.57473 12.2695 10.2583 13.6793C4.29781 15.7134 0 21.4775 0 28.2705V28.2712H30V28.2705C30 21.4775 25.7021 15.7133 19.7416 13.6792Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip2_1911_4745)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7416 13.6792C21.4251 12.2695 22.4999 10.1247 22.4999 7.72265C22.4999 3.47688 19.142 0.0350037 14.9999 0.0350037C10.8578 0.0350037 7.49991 3.47688 7.49991 7.72265C7.49991 10.1248 8.57473 12.2695 10.2583 13.6793C4.29781 15.7134 0 21.4775 0 28.2705V28.2712H30V28.2705C30 21.4775 25.7021 15.7133 19.7416 13.6792Z" fill="#3C1F1B"/>
</g>
<g clip-path="url(#clip3_1911_4745)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7416 13.6792C21.4251 12.2695 22.4999 10.1247 22.4999 7.72265C22.4999 3.47688 19.142 0.0350037 14.9999 0.0350037C10.8578 0.0350037 7.49991 3.47688 7.49991 7.72265C7.49991 10.1248 8.57473 12.2695 10.2583 13.6793C4.29781 15.7134 0 21.4775 0 28.2705V28.2712H30V28.2705C30 21.4775 25.7021 15.7133 19.7416 13.6792Z" fill="#3C1F1B"/>
</g>
<defs>
<clipPath id="clip0_1911_4745">
<rect width="2" height="28.23" fill="white" transform="translate(0 0.0350037)"/>
</clipPath>
<clipPath id="clip1_1911_4745">
<rect width="2" height="28.23" fill="white" transform="translate(3.5 0.0350037)"/>
</clipPath>
<clipPath id="clip2_1911_4745">
<rect width="2" height="28.23" fill="white" transform="translate(7 0.0350037)"/>
</clipPath>
<clipPath id="clip3_1911_4745">
<rect width="19.5" height="28.23" fill="white" transform="translate(10.5 0.0350037)"/>
</clipPath>
</defs>
</svg>

          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Hybrid</p>
            <p class="left-offers-item-item-desc small-text">Blending human expertise with AI analysis for the highest accuracy.</p>
          </div>
        </div>
      </div>
    </div>
      {% if product.metafields.custom.offers_image_1 != blank %}
        <div class="offers-image_image" style="background-image: url({{ product.metafields.custom.offers_image_2 | image_url }})"></div>
      {% else %}
        <div class="offers-image_image" style="background-image: url({{ "rebrending_product-offers.jpg" | asset_url }})"></div>
      {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Offers with image",
    "class": "offers-image offers-image-ivory rebranding-section",
    "settings": []
  }
{% endschema %}