    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title font-title">
                <span></span>
                <h2>Why choose us?</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.webp' | asset_url }}" alt="Money Back Guarantee" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Excellent Customer Feedback
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Expert knowledge backed by the library of free guides, reviewed by our clients
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.webp' | asset_url }}" alt="Money Back Guarantee" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Money Back Guarantee
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Get a full refund if there's an error in the authentication process
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3.webp' | asset_url }}" alt="Easy Communication" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Easy<br>Communication
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Live chat or email our authenticators at any point, available 24/7
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-4.webp' | asset_url }}" alt="Authenticity Certificate" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Authenticity Certificate
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Get quick and reliable results & an official authenticity certificate
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

