    <section class="why-choose">
        <div class="container">
            <div class="why-choose_title font-title">
                <span></span>
                <h2>Why RefundGrails?</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="Complex Made Easy" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Complex Made Easy
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Our agents will help you provide PayPal or other payment institutions with valid documentation and report illegal activities. We will help you communicate with the payment institution to return the money for the purchase.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2-refund.png' | asset_url }}" alt="Experienced Agents" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Experienced Agents
                    </p>
                    <p class="why-choose_item-desc font-description">
                        RefundGrails agents assigned to your case have extensive knowledge of payment institution policies. They will be happy to answer any questions you may have! Just send an email to disputes@legitgrails.com.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3-refund.png' | asset_url }}" alt="86% Success Rate" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        86% Success Rate
                    </p>
                    <p class="why-choose_item-desc font-description">
                        Our team is often asked how effective our RefundGrails service is. Our average success rate is 86% based on the specifications of certain payment institutions.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2.png' | asset_url }}" alt="Money Back Guarantee" loading="lazy">
                    <p class="why-choose_item-title font-title">
                        Money Back Guarantee
                    </p>
                    <p class="why-choose_item-desc font-description">
                        We value your money. We value your time. For this reason, we will refund the fee for the service as a credit to your LegitGrails account if we are unable to assist you. This is 100% transparent and always will be.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Why Choose Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

