<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .product_reviews-white {
    width: 100%;
  }
  .product_reviews-wrapper {
    gap: 40px;
  }
  .product_reviews-text {
    margin-left: calc((100% - 1400px) / 2);
    width: 400px;
  }
  .product_reviews-trustpilot-widget {
    margin-top: 20px;
  }
  .product_reviews-slide {
    border: 1px solid #3C1F1B;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    width: 426px;
    height: 280px;
    display: flex !important;
    flex-wrap: wrap;
  }
  .product_reviews-slide-text {
    width: 100%;
  }
  p.product_reviews-slide-desc {
    margin-top: 10px;
  }
  p.product_reviews-slide-name {
    width: 100%;
    text-align: right;
    margin-top: auto;
  }
  .product_reviews-slider-wrapper {
    width: calc(100% - ((100% - 1400px) / 2) - 440px);
    overflow: hidden;
  }
  .slick-slide {
    margin: 0 10px;
    width: 426px;
  }
  button.slick-next.slick-arrow {
      display: none;
  }
  .product_reviews-white ul.slick-dots {
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    gap: 10px;
}
  ul.slick-dots li {
    height: max-content;
    display: block;
}
  ul.slick-dots button {
    font-size: 0px;
    margin: 0;
    height: 15px;
    width: 15px;
    background: #3C1F1B;
    border-radius: 50%;
    opacity: 0.37;
    display: block;
    transition: .3s;
}
  ul.slick-dots button:hover {
    opacity: .85
  }
  ul.slick-dots button:active {
    opacity: .7
  }
  ul.slick-dots li  {
    list-style-type: none;
  }
  ul.slick-dots .slick-active button {
    opacity: 1;
}
  @media(max-width: 1450px) {
    .product_reviews-text {
      margin-left: calc((100% - 1200px) / 2);
    }
    .product_reviews-slider-wrapper {
      width: calc(100% - ((100% - 1200px) / 2) - 440px);
    }
  }
  @media(max-width: 1250px) {
    .product_reviews-text {
      margin-left: calc((100% - 950px) / 2);
    }
    .product_reviews-slider-wrapper {
      width: calc(100% - ((100% - 950px) / 2) - 440px);
    }
  }
  @media(max-width: 950px) {
    .product_reviews-white ul.slick-dots {
    margin: 20px auto 0 auto;
    }
    .slick-slide {
    margin: 0 7.5px;
    width: 100%;
  }
    .product_reviews-text {
      margin-left: 0;
    }
    .product_reviews-slider-wrapper {
      width: 100%;
    }
    .product_reviews {
      padding-left: 15px;
      padding-right: 15px;
    }
    ul.slick-dots {
        justify-content: center;
        width: 100%;
    }
    .product_reviews-text {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .product_reviews-trustpilot-widget {
        margin-top: 20px;
        width: max-content;
        margin: 10px auto 0 auto;
    }
    .product_reviews-wrapper {
      gap: 20px;
    }
    .product_reviews-slide {
        padding: 15px;
        text-align: center;
        height: 250px;
    }
    p.product_reviews-slide-name {
      text-align: center;
    }
  }
  @media(max-width: 750px) {
    .product_reviews {
      padding-left: 15px;
      padding-right: 15px;
    }
    .product_reviews-slide {
      height: 200px;
    }
  }
  @media(max-width: 500px) {
    ul.slick-dots button {
      height: 10px;
      width: 10px;
    }
    .product_reviews-slide {
        height: 220px;
    }
  }
</style>

<div class="product_reviews-wrapper block-flex-wrap">
  <div class="product_reviews-text">
    <h2 class="h3-heading-ss product_reviews-title">
      <span class="h3-heading-pp">LegitGrails</span>
    </h2>
    <div class="product_reviews-trustpilot-widget">
          <div class="trustpilot-widget" data-theme="light" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="97" data-style-width="200">
          <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
    </div>
  </div>
  <div class="product_reviews-slider-wrapper">
    <div class="product_reviews-slider">
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            Excellent!
          </p>
          <p class="product_reviews-slide-desc body-text">
            Used LegitGrails twice now — <br>it's reassuring to trust them when <br>buying an expensive luxury item. <br>Their responses are quick too!
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — Sarah R
        </p>
      </div>
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            Highly recommend!<br>Fantastic service! 
          </p>
          <p class="product_reviews-slide-desc body-text">
            LegitGrails's quick response <br>saved me from buying a fake bag... <br>Highly recommend their certificates <br>for a peace of mind.
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — Daniel L
        </p>
      </div>
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            Protected from a fake
          </p>
          <p class="product_reviews-slide-desc body-text">
            Thanks a lot for saving me from purchasing a fake bag. The seller <br>eagerly sent many photos, but the <br>truth came out in the results. <br>Appreciate the excellent service!
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — Hannah O
        </p>
      </div>
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            Much appreciated!
          </p>
          <p class="product_reviews-slide-desc body-text">
            For a few years now, I've relied <br>on LegitGrails, and they consistently deliver. I have an eye for authenticating vintage bags but LegitGrails adds <br>that extra layer of certainty.
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — Maxime J
        </p>
      </div>
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            I am a high-end <br>brand reseller...
          </p>
          <p class="product_reviews-slide-desc body-text">
            My go-to for verifying luxury items online! LegitGrails always helps me ensure authenticity, and as a business owner, <br>the fees are tax-deductible! 🙌
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — Kim A
        </p>
      </div>
      <div class="product_reviews-slide">
        <div class="product_reviews-slide-text">
          <p class="product_reviews-slide-title h3-heading-pp">
            LegitGrails instills<br>buyer confidence
          </p>
          <p class="product_reviews-slide-desc body-text">
            Discovered LegitGrails through a buyer after a dispute. Their inspections and certificates quickly resolved our issues. Fast customer service adds value.
          </p>
        </div>
        <p class="product_reviews-slide-name body-text">
          — John G
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $('.product_reviews-slider').slick({
  dots: true,
  infinite: true,
  speed: 300,
  arrows: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  variableWidth: true,
  responsive: [
    {
      breakpoint: 950,
      settings: {
        slidesToShow: 2,
        variableWidth: false
      }
    },
    {
      breakpoint: 780,
      settings: {
        slidesToShow: 1,
        variableWidth: false
      }
    }
  ]
});
</script>

{% schema %}
  {
    "name": "Product Reviews White",
    "class": "product_reviews product_reviews-white rebranding-section",
    "settings": []
  }
{% endschema %}