<style>
  .quarter_offers-items {
    width: 100%;
    justify-content: center;
    gap: 40px 30px;
  }
  .icon-center-item svg {
    height: 56px;
    width: auto;
  }
  @media(max-width: 750px) {
    .icon-center-item svg {
      height: 30px;
    }
    .block-quarter-item {
      gap: 15px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap block-gap-50">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
        What is  
        <span class="h2-heading-pp">
         ResaleX?
        </span>
      </h2>
    </div>
    <div class="block-gap-30 block-flex-wrap block-wider-mobile-gap">
      <div class="block-quarter-item block-gap-20 icon-center-item block-flex-wrap">
        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.5001 54.1936C42.4653 54.1936 54.5969 42.062 54.5969 27.0968C54.5969 12.1316 42.4653 0 27.5001 0C12.535 0 0.40332 12.1316 0.40332 27.0968C0.40332 42.062 12.535 54.1936 27.5001 54.1936Z" fill="#3C1F1B"/>
        <path d="M45.5711 14.0008V22.1348C45.5711 22.4945 45.4282 22.8391 45.174 23.0935C44.9197 23.3476 44.575 23.4905 44.2153 23.4905C43.8558 23.4905 43.511 23.3476 43.2568 23.0935C43.0025 22.8391 42.8598 22.4945 42.8598 22.1348V17.2735L31.6171 28.5174C31.3628 28.7712 31.0179 28.9135 30.6586 28.9131H20.3745L9.92638 39.3613C9.6707 39.6082 9.32825 39.745 8.97279 39.7419C8.61734 39.7388 8.27733 39.5961 8.02596 39.3449C7.77461 39.0936 7.63205 38.7534 7.62896 38.3981C7.62587 38.0426 7.76251 37.7001 8.00945 37.4445L18.8549 26.5991C19.1091 26.3447 19.4538 26.202 19.8132 26.2018H30.0961L40.9415 15.3565H36.0814C35.7218 15.3565 35.3769 15.2137 35.1227 14.9594C34.8686 14.7052 34.7257 14.3604 34.7257 14.0008C34.7257 13.6413 34.8686 13.2964 35.1227 13.0422C35.3769 12.788 35.7218 12.6451 36.0814 12.6451H44.2153C44.575 12.6451 44.9197 12.788 45.174 13.0422C45.4282 13.2964 45.5711 13.6413 45.5711 14.0008Z" fill="white"/>
        </svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Smart price predictions
          </p>
          <p class="body-text">
            Use AI to find the best deals and maximize profits
          </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
        <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M55.3502 8.92688C54.511 7.99342 53.3245 7.41358 52.0455 7.31188C48.0069 7.00245 44.0267 6.19266 40.2039 4.90263C36.9948 3.82943 33.9192 2.41763 31.0336 0.693065C30.2775 0.240108 29.4046 0 28.5138 0C27.623 0 26.75 0.240108 25.994 0.693065C23.0959 2.4128 20.0118 3.8243 16.7961 4.90263C12.9733 6.19266 8.99313 7.00245 4.95447 7.31188C3.6755 7.41358 2.48901 7.99342 1.64983 8.92688C1.2333 9.38913 0.918503 9.92773 0.724447 10.5102C0.530391 11.0926 0.461097 11.7068 0.520748 12.3157L1.8426 27.6978C2.24123 32.2351 3.76432 36.6146 6.28445 40.4699C8.80458 44.3252 12.2484 47.5443 16.3279 49.8577L26.0491 55.3645C26.7933 55.7807 27.639 56 28.5 56C29.361 56 30.2067 55.7807 30.9509 55.3645L40.6721 49.8577C44.7516 47.5443 48.1954 44.3252 50.7156 40.4699C53.2357 36.6146 54.7588 32.2351 55.1574 27.6978L56.4793 12.3157C56.5389 11.7068 56.4696 11.0926 56.2756 10.5102C56.0815 9.92773 55.7667 9.38913 55.3502 8.92688ZM38.827 22.747L27.8115 33.3371C27.4243 33.7089 26.8993 33.9178 26.352 33.9178C25.8047 33.9178 25.2797 33.7089 24.8924 33.3371L19.3847 28.042C19.022 27.6571 18.8307 27.1509 18.8516 26.6319C18.8726 26.1129 19.1043 25.6225 19.4969 25.2657C19.8896 24.909 20.412 24.7144 20.9521 24.7236C21.4923 24.7329 22.0072 24.9452 22.3864 25.3151L26.4346 29.2069L35.9905 20.02C36.3787 19.7781 36.8401 19.6684 37.3009 19.7086C37.7616 19.7488 38.1949 19.9366 38.5314 20.2418C38.868 20.547 39.0881 20.952 39.1567 21.3918C39.2253 21.8317 39.1383 22.2809 38.9096 22.6675L38.827 22.747Z" fill="#3C1F1B"/>
        </svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Expert-Backed insights
          </p>
          <p class="body-text">
            Get sourcing advice from industry pros
          </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
        <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.1343 6.62839C30.2964 -2.20946 15.968 -2.20946 7.1323 6.62839C-1.70556 15.4662 -1.70556 29.7946 7.1323 38.6303C15.9702 47.4682 30.2985 47.4682 39.1343 38.6303C47.9721 29.7925 47.9721 15.4662 39.1343 6.62839ZM14.6067 33.8959C14.4272 34.0769 14.2137 34.2206 13.9785 34.3187C13.7433 34.4168 13.491 34.4675 13.2361 34.4677C12.9812 34.4678 12.7288 34.4176 12.4935 34.3199C12.2581 34.2221 12.0444 34.0787 11.8646 33.898C9.67753 31.7081 8.17459 28.9293 7.53895 25.9003C6.90331 22.8713 7.16242 19.7227 8.28469 16.8383C8.47092 16.359 8.83993 15.9734 9.31054 15.7661C9.78114 15.5589 10.3148 15.5471 10.7941 15.7333C11.2734 15.9196 11.6591 16.2886 11.8663 16.7592C12.0735 17.2298 12.0853 17.7635 11.8991 18.2428C11.0489 20.4256 10.8519 22.8087 11.3323 25.1015C11.8127 27.3943 12.9496 29.4979 14.6045 31.156C14.7847 31.3357 14.9276 31.5491 15.0253 31.7841C15.1229 32.0191 15.1732 32.271 15.1734 32.5255C15.1736 32.7799 15.1237 33.0319 15.0264 33.2671C14.9292 33.5022 14.7865 33.7159 14.6067 33.8959ZM54.587 44.8877L45.4239 35.7246C44.3206 37.6221 42.9777 39.3697 41.4283 40.9244C39.8903 42.4645 38.1197 43.7698 36.2199 44.892L45.411 54.0831C46.0133 54.6888 46.7291 55.1698 47.5174 55.4988C48.3057 55.8277 49.1511 55.998 50.0053 56C50.8595 56.002 51.7057 55.8356 52.4956 55.5104C53.2854 55.1852 54.0034 54.7075 54.6086 54.1047C57.1287 51.5866 57.1287 47.4294 54.587 44.8877Z" fill="#3C1F1B"/>
        </svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Easy authentication & valuation
          </p>
          <p class="body-text">
            Verify items and know their true value instantly
          </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
        <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" width="56" height="56" rx="5.6" fill="#3C1F1B"/>
        <path d="M37 14.1655L39.922 17.0875L45.0095 12" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37 27.6523L39.922 30.5743L45.0095 25.4868" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37 41.1401L39.922 44.0621L45.0095 38.9746" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13 16H30" stroke="white" stroke-width="2" stroke-linecap="round"/>
        <path d="M13 29H30" stroke="white" stroke-width="2" stroke-linecap="round"/>
        <path d="M13 43H30" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Better buying decisions
          </p>
          <p class="body-text">
            Use real data to reduce risks and boost sales
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Quarter Offers",
    "class": "quarter_offers resalex-v2_offers rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}