<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss ivory-text tac">Ready to Source <span class="h2-heading-pp">the Best Inventory Deals?</span></h2>
      <p class="body-text ivory-text w-100 tac">Unlock smarter inventory acquisition with the perfect blend of AI & expert insights.<br>Request a custom demo and see how ResaleX can transform your sourcing strategy</p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="mailto:nchen@legitgrails.com?subject=ResaleX&body=Hi%20there%2C%0AI%20hope%20you%27re%20doing%20well%21%20I%27d%20love%20to%20schedule%20a%20demo%20of%20ResaleX%20to%20explore%20how%20it%20can%20benefit%20my%20business%2E%20Please%20let%20me%20know%20a%20convenient%20time%20that%20works%20for%20you%2E" class="rebranding_btn m-0">Talk to Our Team</a>
      <a href="https://playground.resale-x.com/" target="_blank" class="rebranding_btn rebranding_btn-main m-0">Try free demo</a>
    </div>
</div>

{% schema %}
  {
    "name": "ResaleX V2 CTA",
    "class": "resalex-v2_cta rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}