<style>
    .resalex-steps_item img {
        width: 650px;
        border-radius: 12px;
border: 1px solid #E4E4E4;
box-shadow: 6px 12px 29px 0 rgba(0, 0, 0, 0.10);
    }
    .resalex-steps_item-text {
    width: calc(100% - 700px)
}
.resalex-steps_item-text-items svg {
    margin-top: 6px;
    height: 12px;
}
.resalex-steps_item-text-item p {
    width: calc(100% - 32px)
}
@media(max-width: 1450px) {
    .resalex-steps_item-text {
    width: calc(100% - 550px);
}
.resalex-steps_item img {
        width: 500px;
    }
}
@media(max-width: 1250px) {
.resalex-steps_item-text {
    width: 100%;
    order: 1;
    text-align: center;
    justify-content: center;
}
.resalex-steps_item img {
    width: 600px;
    order: 2;
}
.resalex-steps_item {
    justify-content: center;
}
.resalex-steps_item-text-items {
    max-width: 600px;
}
.resalex-steps_wrapper {
justify-content: center;
}
}
@media(max-width: 750px) {
    .resalex-steps_item-text-items {
        max-width: 450px;
        text-align: left;
    }
    .resalex-steps_item-text-items svg {
    margin-top: 5px;
    height: 10px;
}
.resalex-steps_item-text-item p {
    width: calc(100% - 28px)
}
}
@media(max-width: 600px) {
.resalex-steps_item img {
width: 100%;
}
}
</style>

<div class="rebranding_container">
    <div class="block-flex-wrap block-gap-50 block-flex-center-center">
        <div class="block-flex-wrap block-gap-30 block-flex-center-center">
            <p class="caption w-100">How it works?</p>
            <div class="block-flex-wrap block-gap-15 block-flex-center-center">
                <h2 class="h2-heading-ss tac w-100">
                    Your <span class="h2-heading-pp">smart sourcing tool</span>
                </h2>
                <p class="body-text tac w-100">
                    Find the best deals on Vinted, eBay, StockX, The RealReal, and more
                </p>
            </div>
        </div>
        <div class="resalex-steps_wrapper block-flex-wrap block-gap-50 block-flex-center-center">
            <div class="resalex-steps_item block-flex-wrap block-gap-50 block-flex-center-start">
                <img src="{{ "account-steps-1.webp" | asset_url }}" loading="lazy" alt="Upload your photo of the item" >
                <div class="resalex-steps_item-text block-flex-wrap block-gap-15">
                    <h3 class="h3-heading-pp">
                        Upload your photo of the item
                    </h3>
                    <p class="body-text">
                        Our AI instantly identifies the item and pulls market-wide pricing.
                    </p>
                    <div class="resalex-steps_item-text-items block-flex-wrap block-gap-10">
                        <div class="resalex-steps_item-text-item block-flex-wrap block-gap-10">
                            <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.2011 0.409064C16.6562 -0.136527 15.7714 -0.136183 15.2259 0.409064L6.33595 9.29932L2.38477 5.34817C1.83918 4.80258 0.954784 4.80258 0.409193 5.34817C-0.136398 5.89376 -0.136398 6.77815 0.409193 7.32374L5.34795 12.2625C5.62058 12.5351 5.97806 12.6718 6.33557 12.6718C6.69308 12.6718 7.0509 12.5355 7.32353 12.2625L17.2011 2.3846C17.7467 1.83939 17.7467 0.95462 17.2011 0.409064Z" fill="#3C1F1B"/>
                            </svg>
                            <p class="body-text">AI scans millions of data points to find undervalued inventory</p>
                        </div>
                        <div class="resalex-steps_item-text-item block-flex-wrap block-gap-10">
                            <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.2011 0.409064C16.6562 -0.136527 15.7714 -0.136183 15.2259 0.409064L6.33595 9.29932L2.38477 5.34817C1.83918 4.80258 0.954784 4.80258 0.409193 5.34817C-0.136398 5.89376 -0.136398 6.77815 0.409193 7.32374L5.34795 12.2625C5.62058 12.5351 5.97806 12.6718 6.33557 12.6718C6.69308 12.6718 7.0509 12.5355 7.32353 12.2625L17.2011 2.3846C17.7467 1.83939 17.7467 0.95462 17.2011 0.409064Z" fill="#3C1F1B"/>
                            </svg>
                            <p class="body-text">Human experts review and verify the best deals</p>
                        </div>
                        <div class="resalex-steps_item-text-item block-flex-wrap block-gap-10">
                            <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.2011 0.409064C16.6562 -0.136527 15.7714 -0.136183 15.2259 0.409064L6.33595 9.29932L2.38477 5.34817C1.83918 4.80258 0.954784 4.80258 0.409193 5.34817C-0.136398 5.89376 -0.136398 6.77815 0.409193 7.32374L5.34795 12.2625C5.62058 12.5351 5.97806 12.6718 6.33557 12.6718C6.69308 12.6718 7.0509 12.5355 7.32353 12.2625L17.2011 2.3846C17.7467 1.83939 17.7467 0.95462 17.2011 0.409064Z" fill="#3C1F1B"/>
                            </svg>
                            <p class="body-text">Reduce risk with expert-curated buying insights</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resalex-steps_item block-flex-wrap block-gap-50 block-flex-center-start">
                <img src="{{ "account-steps-2.webp" | asset_url }}" loading="lazy" alt=" Get your full pricing breakdown" >
                <div class="resalex-steps_item-text block-flex-wrap block-gap-15">
                    <h3 class="h3-heading-pp">
                        Get your full pricing breakdown
                    </h3>
                    <p class="body-text">
                        See resale value, current listings, deal rating, and authenticity risk.
                    </p>
                </div>
            </div>
            <div class="resalex-steps_item block-flex-wrap block-gap-50 block-flex-center-start">
                <img src="{{ "account-steps-3.webp" | asset_url }}" loading="lazy" alt="Add your item to tracking" >
                <div class="resalex-steps_item-text block-flex-wrap block-gap-15">
                    <h3 class="h3-heading-pp">
                        Add your item to tracking
                    </h3>
                    <p class="body-text">
                        Track price changes, get alerts, and never miss the perfect buying moment.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "ResaleX V3 Steps",
    "class": "resalex_steps rebranding-section",
    "settings": []
  }
{% endschema %}