<style>
  .quarter_offers-items {
    width: 100%;
    justify-content: center;
    gap: 40px 30px;
  }
  .icon-center-item svg {
    height: 56px;
    width: auto;
  }
  @media(max-width: 750px) {
    .icon-center-item svg {
      height: 30px;
    }
    .block-quarter-item {
      gap: 15px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap block-gap-50">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
        <span class="h2-heading-pp">
         The Most Advanced
        </span>
        Digital Authentication Service
      </h2>
    </div>
    <div class="block-gap-30 block-flex-wrap block-wider-mobile-gap">
      <div class="block-quarter-item block-gap-20 icon-center-item block-flex-wrap">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29.384 4.78225C28.9345 4.28219 28.2988 3.97156 27.6137 3.91708C25.4501 3.75131 23.3179 3.3175 21.27 2.62641C19.5508 2.05148 17.9031 1.29516 16.3573 0.371285C15.9523 0.12863 15.4846 0 15.0074 0C14.5302 0 14.0625 0.12863 13.6575 0.371285C12.1049 1.29257 10.4527 2.04873 8.73004 2.62641C6.68211 3.3175 4.54989 3.75131 2.38632 3.91708C1.70116 3.97156 1.06554 4.28219 0.615982 4.78225C0.392838 5.02989 0.224198 5.31843 0.12024 5.63045C0.016281 5.94247 -0.0208406 6.27151 0.0111151 6.5977L0.719251 14.8381C0.9328 17.2688 1.74874 19.615 3.09881 21.6803C4.44888 23.7457 6.29381 25.4701 8.47925 26.7095L13.687 29.6596C14.0857 29.8825 14.5387 30 15 30C15.4613 30 15.9143 29.8825 16.313 29.6596L21.5208 26.7095C23.7062 25.4701 25.5511 23.7457 26.9012 21.6803C28.2513 19.615 29.0672 17.2688 29.2807 14.8381L29.9889 6.5977C30.0208 6.27151 29.9837 5.94247 29.8798 5.63045C29.7758 5.31843 29.6072 5.02989 29.384 4.78225ZM20.5323 12.1859L14.6312 17.8591C14.4237 18.0584 14.1425 18.1702 13.8493 18.1702C13.5561 18.1702 13.2748 18.0584 13.0674 17.8591L10.1168 15.0225C9.92251 14.8163 9.81999 14.5451 9.83123 14.2671C9.84247 13.989 9.96657 13.7263 10.1769 13.5352C10.3873 13.3441 10.6671 13.2399 10.9565 13.2448C11.2459 13.2497 11.5217 13.3635 11.7249 13.5616L13.8935 15.6466L19.0128 10.725C19.2207 10.5954 19.4679 10.5366 19.7147 10.5582C19.9616 10.5797 20.1937 10.6803 20.374 10.8438C20.5543 11.0073 20.6722 11.2243 20.709 11.4599C20.7457 11.6955 20.6991 11.9362 20.5766 12.1433L20.5323 12.1859Z" fill="#3C1F1B"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            LegitGrails is trusted by dozens of businesses and more than <a href="https://uk.trustpilot.com/review/legitgrails.com?utm_medium=trustbox&utm_source=MicroStar" target="_blank" style="text-decoration: underline; color: #F24F14;">100,000 clients</a>
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="28" fill="#3C1F1B"/>
<path d="M35.2576 42.0001C35.0172 42.0001 34.7716 41.9695 34.5283 41.906L14.847 36.6354C13.3287 36.2166 12.4238 34.6462 12.821 33.1291L14.9845 24.8323C15.1169 24.3231 15.6375 24.0138 16.149 24.1502C16.6582 24.2825 16.9649 24.8043 16.8314 25.3147L14.6676 33.6128C14.5341 34.1243 14.8382 34.6524 15.3474 34.7925L35.0172 40.0604C35.5225 40.194 36.0442 39.8936 36.1766 39.3909L36.8484 36.6799C36.9759 36.1684 37.4926 35.8578 38.0041 35.9826C38.5159 36.1099 38.8277 36.6265 38.7016 37.1381L38.0272 39.8619C37.6872 41.1511 36.5266 42 35.2577 42L35.2576 42.0001Z" fill="white"/>
<path d="M40.4081 34.3638H20.681C19.1017 34.3638 17.8174 33.0795 17.8174 31.5002V16.8636C17.8174 15.2843 19.1017 14 20.681 14H40.4081C41.9875 14 43.2717 15.2843 43.2717 16.8636V31.5002C43.2717 33.0795 41.9875 34.3638 40.4081 34.3638ZM20.681 15.9091C20.1541 15.9091 19.7265 16.3367 19.7265 16.8636V31.5002C19.7265 32.0271 20.1541 32.4547 20.681 32.4547H40.4081C40.935 32.4547 41.3627 32.0271 41.3627 31.5002V16.8636C41.3627 16.3367 40.935 15.9091 40.4081 15.9091H20.681Z" fill="white"/>
<path d="M24.1815 22.9092C22.7777 22.9092 21.636 21.7675 21.636 20.3636C21.636 18.9598 22.7777 17.8181 24.1815 17.8181C25.5854 17.8181 26.7268 18.9598 26.7268 20.3636C26.7268 21.7675 25.5854 22.9092 24.1815 22.9092ZM24.1815 19.7272C23.8301 19.7272 23.5451 20.0124 23.5451 20.3636C23.5451 20.7149 23.8301 21.0001 24.1815 21.0001C24.5327 21.0001 24.8177 20.7149 24.8177 20.3636C24.8177 20.0124 24.5327 19.7272 24.1815 19.7272ZM18.7978 33.0654C18.5536 33.0654 18.3092 32.9725 18.1234 32.7856C17.7505 32.4127 17.7505 31.8079 18.1234 31.4351L23.876 25.6824C24.7467 24.8118 26.1631 24.8118 27.0323 25.6824L28.5711 27.2212L33.2978 21.5473C33.7204 21.0407 34.3403 20.748 34.9984 20.7443C35.7059 20.7048 36.2787 21.0266 36.7049 21.527L43.0407 28.9189C43.3841 29.3186 43.337 29.9219 42.9374 30.2654C42.5365 30.6092 41.9346 30.5621 41.5909 30.1624L35.2528 22.768C35.1687 22.6673 35.0657 22.6724 35.0084 22.6545C34.9539 22.6545 34.8481 22.671 34.7642 22.7703L29.3679 29.2487C29.1959 29.4547 28.9454 29.5796 28.6781 29.591C28.4057 29.6062 28.1486 29.5017 27.9601 29.3123L25.6821 27.0341C25.5204 26.8723 25.3868 26.8723 25.2251 27.0341L19.4725 32.7856C19.3842 32.8745 19.279 32.945 19.1632 32.9931C19.0474 33.0411 18.9232 33.0657 18.7978 33.0654Z" fill="white"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            <a href="https://legitgrails.frontkb.com/en/categories/604802-general-photos" target="_blank" style="text-decoration: underline; color: #F24F14;">Upload photos</a> of the item, the outcome will be in 30 minutes
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5028 5.04534C8.38819 5.04534 5.04529 8.39381 5.04529 12.5029C5.04529 16.6117 8.39375 19.9602 12.5029 19.9602C16.6117 19.9602 19.9602 16.6117 19.9602 12.5029C19.9602 8.39376 16.6175 5.04529 12.5029 5.04529L12.5028 5.04534ZM16.2429 10.7152L11.7422 14.9601C11.701 15.0005 11.6522 15.0324 11.5987 15.0538C11.5451 15.0753 11.4878 15.086 11.4301 15.0852C11.3697 15.0857 11.3099 15.0739 11.2542 15.0505C11.1986 15.027 11.1484 14.9924 11.1066 14.9488L8.75136 12.5313C8.57889 12.3521 8.58269 12.0673 8.76021 11.893C8.84549 11.8092 8.96036 11.7625 9.07987 11.763C9.19938 11.7634 9.31389 11.811 9.39852 11.8954L11.4417 13.9953L15.6186 10.0567C15.8003 9.88416 16.0875 9.892 16.2599 10.0737C16.4324 10.2554 16.4246 10.5427 16.2429 10.7152Z" fill="#3C1F1B"/>
<path d="M23.2123 15.2213L25.0058 12.5029L23.2123 9.78422C23.1597 9.70342 23.1338 9.60811 23.1385 9.5118L23.32 6.2542L20.42 4.78439C20.3342 4.74117 20.2646 4.67154 20.2214 4.58575L18.7571 1.68553L15.4995 1.86714C15.4032 1.87186 15.3078 1.846 15.2271 1.79325L12.5028 0L9.78417 1.79325C9.70349 1.84594 9.60822 1.87178 9.51197 1.86708L6.2542 1.68553L4.78439 4.58575C4.74117 4.67154 4.67154 4.74117 4.58575 4.78439L1.68553 6.24841L1.86714 9.50624C1.87178 9.60252 1.84603 9.69782 1.79353 9.77866L0 12.5029L1.79353 15.2213C1.84603 15.3021 1.87177 15.3974 1.86708 15.4937L1.68558 18.7514L4.58581 20.2156C4.6716 20.2588 4.74123 20.3285 4.78445 20.4142L6.24869 23.3145L9.5063 23.1326H9.52889C9.6174 23.1337 9.7039 23.1593 9.77877 23.2065L12.4972 25L15.2158 23.2065C15.2966 23.154 15.3918 23.1282 15.488 23.1327L18.7459 23.3145L20.21 20.4142C20.2532 20.3285 20.3228 20.2588 20.4086 20.2156L23.3086 18.7514L23.1271 15.4937C23.1319 15.3971 23.1612 15.3034 23.2122 15.2213H23.2123ZM12.5028 20.8683C7.88876 20.8683 4.13729 17.1167 4.13729 12.5029C4.13723 7.88871 7.88876 4.13723 12.5029 4.13723C17.117 4.13723 20.8683 7.88876 20.8683 12.5029C20.8683 17.1167 17.117 20.8683 12.5028 20.8683Z" fill="#3C1F1B"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            Our <a href="https://certificates.legitgrails.com/" target="_blank" style="text-decoration: underline; color: #F24F14;">authenticity certificates</a> increase the selling price of your item
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="5.6" fill="#3C1F1B"/>
<path d="M36.5 14.1655L39.422 17.0875L44.5095 12" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M36.5 27.6523L39.422 30.5743L44.5095 25.4868" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M36.5 41.1401L39.422 44.0621L44.5095 38.9746" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.5 16H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
<path d="M12.5 29H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
<path d="M12.5 43H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            Discover the most reliable library of free <a href="https://legitgrails.com/pages/guides" style="text-decoration: underline; color: #F24F14;">legit check guides</a> as a free alternative
        </p>
        </div>
      </div>
      <a class="rebranding_btn rebranding_btn-main" href="https://legitgrails.com/pages/choose-your-brand">Authenticate now</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "R Quarter Offers",
    "class": "quarter_offers rebranding-section",
    "settings": []
  }
{% endschema %}