<style>
  .icon-center-item svg {
    height: 56px;
    width: auto;
  }
  @media(max-width: 750px) {
    .icon-center-item svg {
      height: 30px;
    }
    .block-third-item {
      gap: 15px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap block-gap-50">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
        Why become a  
        <span class="h2-heading-pp">
         LegitGrails Verified partner?
        </span>
      </h2>
    </div>
    <div class="block-gap-30 block-flex-wrap block-wider-mobile-gap block-flex-center-center">
      <div class="block-third-item icon-center-item block-gap-20 block-flex-wrap">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="28" fill="#3C1F1B"/>
<path d="M26.864 15.292H28.404V17.336C32.212 17.644 34.592 19.996 34.564 23.692H31.932C31.848 20.808 30.224 19.688 28.404 19.464V26.408L28.824 26.52C31.904 27.36 35.04 28.564 35.04 32.428C35.04 36.208 32.016 38.112 28.404 38.336V40.716H26.864V38.336C23 38.028 20.34 35.256 20.424 31.56H23.056C23.14 34.528 24.932 35.984 26.864 36.208V28.62L26.248 28.452C23.224 27.64 20.956 25.792 20.956 22.656C20.956 19.436 23.84 17.644 26.864 17.336V15.292ZM32.408 32.82C32.408 30.468 30.868 29.712 28.404 29.04V36.236C30.532 36.096 32.408 34.976 32.408 32.82ZM23.588 22.628C23.588 24.308 24.624 25.344 26.836 25.988L26.864 26.016V19.436C25.212 19.576 23.588 20.528 23.588 22.628Z" fill="white"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Credibility that converts
          </p>
          <p class="body-text">
            Earn customer trust with verified status. Get listed publicly on our Verified Map. Stand out as a trusted reseller worldwide.
          </p>
        </div>
      </div>
      <div class="block-third-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="5.6" fill="#3C1F1B"/>
<path d="M46.9422 15.3557V23.4897C46.9422 23.8493 46.7993 24.194 46.5451 24.4483C46.2908 24.7025 45.9461 24.8454 45.5864 24.8454C45.2269 24.8454 44.8821 24.7025 44.6279 24.4483C44.3736 24.194 44.2309 23.8493 44.2309 23.4897V18.6283L32.9882 29.8722C32.7339 30.126 32.389 30.2684 32.0297 30.268H21.7456L11.2975 40.7162C11.0418 40.9631 10.6993 41.0998 10.3439 41.0968C9.98843 41.0937 9.64842 40.951 9.39706 40.6997C9.14571 40.4484 9.00314 40.1083 9.00005 39.753C8.99696 39.3974 9.1336 39.0549 9.38054 38.7993L20.226 27.9539C20.4802 27.6996 20.8248 27.5569 21.1843 27.5567H31.4672L42.3126 16.7113H37.4525C37.0928 16.7113 36.748 16.5685 36.4938 16.3143C36.2397 16.06 36.0968 15.7152 36.0968 15.3557C36.0968 14.9961 36.2397 14.6513 36.4938 14.3971C36.748 14.1428 37.0928 14 37.4525 14H45.5864C45.9461 14 46.2908 14.1428 46.5451 14.3971C46.7993 14.6513 46.9422 14.9961 46.9422 15.3557Z" fill="white"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Exposure & traffic
          </p>
          <p class="body-text">
            Get featured on our website, social media, and boost visibility through co-marketing. Connect with sellers in our private network.
          </p>
        </div>
      </div>
      <div class="block-third-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.0744 1.92744L21.1182 5.81619C20.9853 5.98152 20.805 6.10213 20.6014 6.16175C20.3979 6.22136 20.181 6.21712 19.9799 6.14958L15.1978 4.66493C14.4746 4.44048 13.71 4.38316 12.9614 4.49732C12.2129 4.61147 11.5001 4.8941 10.8767 5.32391C10.2477 5.7552 9.73274 6.33274 9.37614 7.00691C9.01955 7.68109 8.83193 8.43175 8.82942 9.19442V14.0026C8.82942 14.3751 8.55072 14.685 8.18086 14.8022L3.39872 16.2869C2.67096 16.5084 2.00598 16.8991 1.45819 17.4269C0.910412 17.9548 0.495392 18.6048 0.247091 19.3239C0.00132595 20.0471 -0.0623618 20.8198 0.0616651 21.5735C0.185692 22.3272 0.493608 23.0387 0.958161 23.645L3.91184 27.5364C4.01448 27.6691 4.07017 27.8322 4.07017 28C4.07017 28.1678 4.01448 28.3309 3.91184 28.4636L0.958161 32.355C0.493608 32.9613 0.185692 33.6728 0.0616651 34.4265C-0.0623618 35.1802 0.00132595 35.9529 0.247091 36.6761C0.495392 37.3952 0.910412 38.0452 1.45819 38.5731C2.00598 39.1009 2.67096 39.4916 3.39872 39.7131L8.18086 41.1978C8.55072 41.315 8.82942 41.6249 8.82942 41.9974V46.8056C8.82942 48.3345 9.58216 49.7775 10.8767 50.6761C11.5001 51.1059 12.2129 51.3885 12.9614 51.5027C13.71 51.6168 14.4746 51.5595 15.1978 51.3351L19.9799 49.8504C20.181 49.7829 20.3979 49.7786 20.6014 49.8383C20.805 49.8979 20.9853 50.0185 21.1182 50.1838L24.0744 54.0726C24.9887 55.2759 26.4447 56 27.9997 56C29.5546 56 31.0106 55.2759 31.9249 54.0726L34.8811 50.1838C35.014 50.0185 35.1943 49.8979 35.3979 49.8383C35.6014 49.7786 35.8183 49.7829 36.0194 49.8504L40.8015 51.3351C41.5247 51.5595 42.2893 51.6168 43.0379 51.5027C43.7864 51.3885 44.4992 51.1059 45.1226 50.6761C46.4171 49.7775 47.1699 48.3345 47.1699 46.8056V41.9974C47.1699 41.6249 47.4486 41.315 47.8184 41.1978L52.6006 39.7131C53.3283 39.4916 53.9933 39.1009 54.5411 38.5731C55.0889 38.0452 55.5039 37.3952 55.7522 36.6761C55.998 35.9529 56.0617 35.1802 55.9376 34.4265C55.8136 33.6728 55.5057 32.9613 55.0411 32.355L52.0875 28.4636C51.9848 28.3309 51.9291 28.1678 51.9291 28C51.9291 27.8322 51.9848 27.6691 52.0875 27.5364L55.0411 23.645C55.5057 23.0387 55.8136 22.3272 55.9376 21.5735C56.0617 20.8198 55.998 20.0471 55.7522 19.3239C55.5039 18.6048 55.0889 17.9548 54.5411 17.4269C53.9933 16.8991 53.3283 16.5084 52.6006 16.2869L47.8184 14.8022C47.4486 14.685 47.1699 14.3751 47.1699 14.0026V9.19442C47.1699 7.66549 46.4171 6.22251 45.1226 5.32391C44.4992 4.8941 43.7864 4.61147 43.0379 4.49732C42.2893 4.38316 41.5247 4.44048 40.8015 4.66493L36.0194 6.14958C35.8183 6.21712 35.6014 6.22136 35.3979 6.16175C35.1943 6.10213 35.014 5.98152 34.8811 5.81619L31.9249 1.92744C31.0106 0.724093 29.5546 0 27.9997 0C26.4447 0 24.9887 0.724093 24.0744 1.92744ZM37.814 32.9202C37.2675 32.3728 36.5709 31.9998 35.8123 31.8484C35.0537 31.6971 34.2673 31.7741 33.5526 32.0698C32.8378 32.3655 32.2268 32.8666 31.797 33.5097C31.3671 34.1528 31.1376 34.9089 31.1376 35.6824C31.1376 36.4559 31.3671 37.2121 31.797 37.8551C32.2268 38.4982 32.8378 38.9993 33.5526 39.295C34.2673 39.5907 35.0537 39.6678 35.8123 39.5164C36.5709 39.365 37.2675 38.9921 37.814 38.4447C38.5458 37.7116 38.9568 36.7182 38.9568 35.6824C38.9568 34.6466 38.5458 33.6532 37.814 32.9202ZM35.8266 17.4095L17.4091 35.827C17.2277 36.0084 17.0837 36.2239 16.9855 36.4609C16.8873 36.698 16.8368 36.9521 16.8368 37.2087C16.8368 37.4654 16.8873 37.7195 16.9855 37.9566C17.0837 38.1936 17.2277 38.4091 17.4091 38.5905C17.5906 38.772 17.806 38.9159 18.0431 39.0141C18.2802 39.1123 18.5343 39.1629 18.7909 39.1629C19.0475 39.1629 19.3016 39.1123 19.5387 39.0141C19.7758 38.9159 19.9912 38.772 20.1727 38.5905L38.5902 20.173C38.9566 19.8066 39.1625 19.3095 39.1625 18.7913C39.1625 18.273 38.9566 17.776 38.5902 17.4095C38.2237 17.043 37.7267 16.8371 37.2084 16.8371C36.6901 16.8371 36.1931 17.043 35.8266 17.4095ZM23.7124 17.5553C23.3495 17.1924 22.9186 16.9046 22.4445 16.7082C21.9703 16.5117 21.4621 16.4107 20.9489 16.4107C20.4356 16.4107 19.9274 16.5117 19.4532 16.7082C18.9791 16.9046 18.5482 17.1924 18.1853 17.5553C17.8224 17.9183 17.5345 18.3491 17.3381 18.8233C17.1417 19.2974 17.0406 19.8056 17.0406 20.3189C17.0406 20.8321 17.1417 21.3403 17.3381 21.8145C17.5345 22.2887 17.8224 22.7195 18.1853 23.0824C18.9183 23.8154 19.9123 24.2271 20.9489 24.2271C21.9854 24.2271 22.9795 23.8154 23.7124 23.0824C24.4453 22.3495 24.8571 21.3554 24.8571 20.3189C24.8571 19.2824 24.4453 18.2883 23.7124 17.5553Z" fill="#3C1F1B"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="h3-heading-pp">
            Referral & credit perks
          </p>
          <p class="body-text">
            Earn authentication credits from referrals. Your clients get a discount—you get rewarded. Grow with exclusive tools and incentives.
          </p>
        </div>
      </div>
    </div>
   <div class="block-flex-wrap block-gap-10 block-flex-center-center w-100">
     <a href="mailto:nchen@legitgrails.com" class="rebranding_btn m-0">
       Talk to Our Team
     </a>
     <a href="https://forms.gle/TkK2J53KSrEU88CV6" target="_blank" class="rebranding_btn rebranding_btn-main m-0">
       Apply to Get Verified
     </a>
   </div>
  <div class="block-flex-wrap block-gap-10 block-flex-center-center w-100">
     <p class="body-text tac">Not ready to apply? <a href="#shopify-section-verified_faq" class="rebranding_main-a standart-hover">Learn more about the program</a></p>
   </div>
  </div>
</div>

{% schema %}
  {
    "name": "R Quarter Offers",
    "class": "third_offers rebranding-section",
    "settings": []
  }
{% endschema %}