<style>
  .quarter_offers-items {
    width: 100%;
    justify-content: center;
    gap: 40px 30px;
  }
  .icon-center-item svg {
    height: 56px;
    width: auto;
  }
  @media(max-width: 750px) {
    .icon-center-item svg {
      height: 30px;
    }
    .block-quarter-item {
      gap: 15px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap block-gap-50">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
       Why You Should 
        <span class="h2-heading-pp">
         Choose LegitGrails
        </span>
      </h2>
    </div>
    <div class="block-gap-30 block-flex-wrap block-wider-mobile-gap">
      <div class="block-quarter-item block-gap-20 icon-center-item block-flex-wrap">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="30" height="29.4737" rx="14.7368" fill="#3C1F1B"/>
<path d="M14.7907 7.79544C15.0063 7.0978 15.9937 7.0978 16.2093 7.79544L17.3449 11.4702C17.441 11.7813 17.7286 11.9934 18.0542 11.9934H21.8052C22.5153 11.9934 22.8202 12.8947 22.2559 13.3258L19.1582 15.6922C18.911 15.8811 18.8077 16.2041 18.8996 16.5014L20.0675 20.2808C20.2809 20.9714 19.4819 21.5287 18.9075 21.0899L15.9507 18.8311C15.6846 18.6279 15.3154 18.6279 15.0493 18.8311L12.0925 21.0899C11.5181 21.5287 10.7191 20.9714 10.9325 20.2808L12.1004 16.5014C12.1923 16.2041 12.089 15.8811 11.8418 15.6922L8.74413 13.3258C8.1798 12.8947 8.48467 11.9934 9.19483 11.9934H12.9458C13.2714 11.9934 13.559 11.7813 13.6551 11.4702L14.7907 7.79544Z" fill="white"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            Our authenticators achieve the highest level of accuracy with the experience of more than 6 years in the industry and by improving knowledge through constant research.
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.6948 3.55092C15.9603 -1.18364 8.28434 -1.18364 3.55092 3.55092C-1.18364 8.28549 -1.18364 15.9614 3.55092 20.6948C8.28549 25.4294 15.9614 25.4294 20.6948 20.6948C25.4294 15.9603 25.4294 8.28549 20.6948 3.55092ZM7.55505 18.1585C7.45892 18.2555 7.34455 18.3324 7.21854 18.385C7.09253 18.4376 6.95736 18.4647 6.82082 18.4648C6.68428 18.4649 6.54907 18.438 6.42297 18.3856C6.29687 18.3333 6.18239 18.2565 6.0861 18.1596C4.91444 16.9865 4.1093 15.4979 3.76878 13.8752C3.42825 12.2525 3.56706 10.5657 4.16827 9.02054C4.26804 8.76377 4.46573 8.55715 4.71784 8.44614C4.96995 8.33512 5.25583 8.32881 5.5126 8.42858C5.76937 8.52835 5.97599 8.72603 6.087 8.97814C6.19802 9.23025 6.20433 9.51613 6.10457 9.7729C5.64908 10.9423 5.54358 12.2189 5.80092 13.4472C6.05826 14.6755 6.66733 15.8025 7.5539 16.6907C7.65041 16.787 7.727 16.9013 7.7793 17.0272C7.8316 17.1531 7.85857 17.288 7.85868 17.4244C7.85878 17.5607 7.83202 17.6957 7.77993 17.8216C7.72783 17.9476 7.65141 18.0621 7.55505 18.1585ZM28.9731 24.047L24.0643 19.1382C23.4732 20.1547 22.7538 21.0909 21.9238 21.9238C21.0999 22.7488 20.1513 23.4481 19.1336 24.0493L24.0574 28.9731C24.38 29.2976 24.7635 29.5553 25.1858 29.7315C25.6081 29.9077 26.061 29.9989 26.5186 30C26.9762 30.0011 27.4295 29.9119 27.8527 29.7377C28.2758 29.5635 28.6605 29.3076 28.9846 28.9846C30.3347 27.6357 30.3347 25.4086 28.9731 24.047Z" fill="#3C1F1B"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            Accuracy rates are also enhanced by requiring photos of specific details of your items. The result of each authentication is explained in detail.
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5028 5.04534C8.38819 5.04534 5.04529 8.39381 5.04529 12.5029C5.04529 16.6117 8.39375 19.9602 12.5029 19.9602C16.6117 19.9602 19.9602 16.6117 19.9602 12.5029C19.9602 8.39376 16.6175 5.04529 12.5029 5.04529L12.5028 5.04534ZM16.2429 10.7152L11.7422 14.9601C11.701 15.0005 11.6522 15.0324 11.5987 15.0538C11.5451 15.0753 11.4878 15.086 11.4301 15.0852C11.3697 15.0857 11.3099 15.0739 11.2542 15.0505C11.1986 15.027 11.1484 14.9924 11.1066 14.9488L8.75136 12.5313C8.57889 12.3521 8.58269 12.0673 8.76021 11.893C8.84549 11.8092 8.96036 11.7625 9.07987 11.763C9.19938 11.7634 9.31389 11.811 9.39852 11.8954L11.4417 13.9953L15.6186 10.0567C15.8003 9.88416 16.0875 9.892 16.2599 10.0737C16.4324 10.2554 16.4246 10.5427 16.2429 10.7152Z" fill="#3C1F1B"/>
<path d="M23.2123 15.2213L25.0058 12.5029L23.2123 9.78422C23.1597 9.70342 23.1338 9.60811 23.1385 9.5118L23.32 6.2542L20.42 4.78439C20.3342 4.74117 20.2646 4.67154 20.2214 4.58575L18.7571 1.68553L15.4995 1.86714C15.4032 1.87186 15.3078 1.846 15.2271 1.79325L12.5028 0L9.78417 1.79325C9.70349 1.84594 9.60822 1.87178 9.51197 1.86708L6.2542 1.68553L4.78439 4.58575C4.74117 4.67154 4.67154 4.74117 4.58575 4.78439L1.68553 6.24841L1.86714 9.50624C1.87178 9.60252 1.84603 9.69782 1.79353 9.77866L0 12.5029L1.79353 15.2213C1.84603 15.3021 1.87177 15.3974 1.86708 15.4937L1.68558 18.7514L4.58581 20.2156C4.6716 20.2588 4.74123 20.3285 4.78445 20.4142L6.24869 23.3145L9.5063 23.1326H9.52889C9.6174 23.1337 9.7039 23.1593 9.77877 23.2065L12.4972 25L15.2158 23.2065C15.2966 23.154 15.3918 23.1282 15.488 23.1327L18.7459 23.3145L20.21 20.4142C20.2532 20.3285 20.3228 20.2588 20.4086 20.2156L23.3086 18.7514L23.1271 15.4937C23.1319 15.3971 23.1612 15.3034 23.2122 15.2213H23.2123ZM12.5028 20.8683C7.88876 20.8683 4.13729 17.1167 4.13729 12.5029C4.13723 7.88871 7.88876 4.13723 12.5029 4.13723C17.117 4.13723 20.8683 7.88876 20.8683 12.5029C20.8683 17.1167 17.117 20.8683 12.5028 20.8683Z" fill="#3C1F1B"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            We provide <a href="https://certificates-legitgrails.com/" target="_blank" style="text-decoration: underline; color: #F24F14;">authenticity certificates</a> that are unique to each verified item. Buyers can use it in a dispute if their item is fake. Sellers build trust with their customers and increase sales.
        </p>
        </div>
      </div>
      <div class="block-quarter-item icon-center-item block-gap-20 block-flex-wrap">
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="5.6" fill="#3C1F1B"/>
<path d="M36.5 14.1655L39.422 17.0875L44.5095 12" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M36.5 27.6523L39.422 30.5743L44.5095 25.4868" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M36.5 41.1401L39.422 44.0621L44.5095 38.9746" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.5 16H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
<path d="M12.5 29H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
<path d="M12.5 43H29.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg>
        <div class="icon-center-item-text block-gap-10 block-flex-wrap">
          <p class="body-text">
            Our team has put together the most extensive <a href="https://legitgrails.com/pages/guides" style="text-decoration: underline; color: #F24F14;">library of authentication guides</a>. Browse it on our website as a free alternative to our service.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "R Quarter Offers",
    "class": "quarter_offers rebranding-section",
    "settings": []
  }
{% endschema %}