<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap block-gap-15 block-flex-center-center">
      <h2 class="h2-heading-ss w-100 ivory-text tac"><span class="h2-heading-pp">Transparency </span>Project</h2>
      <p class="body-text ivory-text w-100 tac block-max-width">
        We strive for authenticity in everything our company does. While the authentication process may seem secretive, our team goal is to achieve 100% transparency in our methods. Check out our case studies to learn how the process of authenticating your items from our end works!
    </p>
    </div>
    <div class="block-flex-wrap block-gap-15 block-flex-center-center w-100">
      <a href="https://legitgrails.com/blogs/case-studies/" target="_blank" class="rebranding_btn rebranding_btn-main m-0">Check Case Studies</a>
    </div>
</div>

{% schema %}
  {
    "name": "Why LG CTA",
    "class": "rebranding-wider-section dark-background",
    "settings": []
  }
{% endschema %}