<style>
  a.guides-section_item {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    height: max-content;
  }
  .guides-section_item-image {
    border-radius: 11px;
    border: 1px solid #E9E9E9;
    background: #F3F3F3;
    height: 295px;
    width: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .guides-section_item-text {
    gap: 10px;
    justify-content: center;
  }
  a.guides-section_item:hover p.guides-section_item-title {
    text-decoration: underline;
  }
  .guides-section_item-image img {
    height: 200px;
    width: auto;
    margin-top: -30px;
}
  @media(max-width: 1450px) {
    .guides-section_item-image {
      height: 265px;
    }
  }
  @media(max-width: 1250px) {
    a.guides-section_item:last-child {
      display: none;
    }
    .guides-section_item-image img {
        height: 170px;
    }
  }
  @media(max-width: 950px) {
    .guides-section_items {
    gap: 30px 15px;
}
    a.guides-section_item:nth-child(3) {
      display: flex;
    }
    a.guides-section_item:last-child {
      display: flex;
    }
  }
  @media(max-width: 750px) {
    .guides-section_item-title {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }
  @media(max-width: 550px) {
    .guides-section_item-image img {
        height: 120px;
        margin-top: -20px;
    }
    .guides-section_item-image {
        height: 195px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap">
    <div class="rebranding-section-title block-gap-15 block-flex-wrap">
      <h2 class="h2-heading-ss">
        Explore our 
        <span class="h2-heading-pp">
         Saint Laurent authentication guides
        </span>
      </h2>
    </div>
    <div class="guides-section_items block-flex-wrap block-gap-20">
      <a href="https://legitgrails.com/blogs/saint-laurent/how-to-spot-real-vs-fake-ysl-bags" class="guides-section_item block-flex-wrap block-gap-20 block-quarter-item-20">
        <div class="guides-section_item-image block-flex-wrap block-flex-center-center">
            <img src="{{ "ysl-wwa_classic-monogram-wallet-on-chain.webp" | asset_url }}" loading="lazy" alt="How to Spot Real vs. Fake YSL Bags" >
        </div>
        <div class="guides-section_item-text block-flex-wrap">
          <p class="guides-section_item-title h3-heading-pp">
            How to Spot Real vs. Fake YSL Bags
          </p>
          <p class="guides-section_item-desc small-text">
            7 minute read
          </p>
        </div>
      </a>
      <a href="https://legitgrails.com/blogs/saint-laurent/real-vs-fake-saint-laurent-college-bag-legit-check" class="guides-section_item block-flex-wrap block-gap-20 block-quarter-item-20">
        <div class="guides-section_item-image block-flex-wrap block-flex-center-center">
            <img src="{{ "ysl-wwa_classic-monogram-college-bag.webp" | asset_url }}" loading="lazy" alt="How To Spot Fake Saint Laurent College Bag" >
        </div>
        <div class="guides-section_item-text block-flex-wrap">
          <p class="guides-section_item-title h3-heading-pp">
            How To Spot Fake Saint Laurent College Bag
          </p>
          <p class="guides-section_item-desc small-text">
            6 minute read
          </p>
        </div>
      </a>
      <a href="https://legitgrails.com/blogs/saint-laurent/real-vs-fake-ysl-niki-medium-bag-legit-check" class="guides-section_item block-flex-wrap block-gap-20 block-quarter-item-20">
        <div class="guides-section_item-image block-flex-wrap block-flex-center-center">
            <img src="{{ "dior-wwa_lady-dior-bag.webp" | asset_url }}" loading="lazy" alt="How To Spot Fake YSL NIKI Medium Bag" >
        </div>
        <div class="guides-section_item-text block-flex-wrap">
          <p class="guides-section_item-title h3-heading-pp">
            How To Spot Fake YSL NIKI Medium Bag
          </p>
          <p class="guides-section_item-desc small-text">
            7 minute read
          </p>
        </div>
      </a>
      <a href="https://legitgrails.com/blogs/saint-laurent/real-vs-fake-ysl-loulou-medium-bag-legit-check" class="guides-section_item block-flex-wrap block-gap-20 block-quarter-item-20">
        <div class="guides-section_item-image block-flex-wrap block-flex-center-center">
            <img src="{{ "ysl-wwa_loulou-shoulder-bag.webp" | asset_url }}" loading="lazy" alt="How To Spot Fake YSL LouLou Medium Bag" >
        </div>
        <div class="guides-section_item-text block-flex-wrap">
          <p class="guides-section_item-title h3-heading-pp">
           How To Spot Fake YSL LouLou Medium Bag
          </p>
          <p class="guides-section_item-desc small-text">
            7 minute read
          </p>
        </div>
      </a>
    </div>
    <a href="https://legitgrails.com/blogs/saint-laurent/" class="rebranding_btn rebranding_btn-main">View all</a>
  </div>
</div>

{% schema %}
  {
    "name": "Guides Section",
    "class": "guides-section rebranding-section",
    "settings": []
  }
{% endschema %}