<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="rebranding-section-title block-flex-wrap block-gap-15 block-flex-center-center">
    <h2 class="h2-heading-ss w-100">
      Saint Laurent 
      <span class="h2-heading-pp">
        date codes
      </span>
    </h2>
    <p class="body-text block-max-width">
      Saint Laurent date codes are a unique combination of letters and numbers that serve as a reference point for when and where a bag was manufactured. To decipher the date code:
    </p>
  </div>
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-start">
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
         Look for the date code on the interior leather tag near the top zipper of the bag
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Check if the date code is debossed on the interior material directly behind the interior logo panel
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Note that the placement of the date code can vary depending on the bag's style
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Verify that the date code is a combination of three letters followed by six digits
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Ensure that the last four digits signify the date code and represent the month of production using the first two numbers
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Check that the last two digits of the date code represent the year of production
        </p>
      </div>
    </div>
  </div>
  <p class="body-text tac block-bottom-text w-100">
      Understanding Saint Laurent date codes can help fashion enthusiasts and collectors make informed purchasing decisions.
  </p>
</div>

{% schema %}
  {
    "name": "Three text columns",
    "class": "article_columns article_three-columns article_three-text-columns rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}