<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="rebranding-section-title block-flex-wrap block-gap-15 block-flex-center-center">
    <h3 class="h2-heading-ss w-100">
      <span class="h2-heading-pp">
        Serial number 
      </span>
      verification
    </h3>
    <p class="body-text block-max-width">
      Verifying the serial number is an essential step in authenticating Saint Laurent bags. The serial number can be found on the interior label or on the other side of the interior label. Make sure to:
    </p>
  </div>
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-start">
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
         Check that the serial number is present and correct
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Verify that the serial number matches the style number embossed on the inside of modern Saint Laurent bags
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Ensure that the serial number is not tampered with or altered in any way
        </p>
      </div>
    </div>
  </div>
  <p class="body-text tac block-bottom-text w-100">
      A valid serial number can provide peace of mind and confirm the bag’s authenticity.
  </p>
</div>

{% schema %}
  {
    "name": "Three text columns",
    "class": "article_columns article_three-columns article_three-text-columns rebranding-wider-section",
    "settings": []
  }
{% endschema %}