<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="rebranding-section-title block-flex-wrap block-gap-15 block-flex-center-center">
    <h2 class="h2-heading-ss w-100">
      Trust and 
      <span class="h2-heading-pp">
        verification
      </span>
    </h2>
    <p class="body-text block-max-width">
      LegitGrails’ authentication service is trusted by fashion enthusiasts and collectors worldwide. With a proven track record of verifying the authenticity of luxury items, LegitGrails provides:
    </p>
  </div>
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-start">
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
         A confirmation certificate that validates the authenticity of purchases
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          A reliable and professional service that ensures the authenticity of Saint Laurent bags
        </p>
      </div>
    </div>
    <div class="article_column article_column-third article_column-text-third block-flex-wrap block-gap-30">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center">
        <p class="article_column-desc body-text taj w-100">
          Expertise and technology that detect counterfeit items and provide peace of mind
        </p>
      </div>
    </div>
  </div>
  <p class="body-text tac block-bottom-text w-100">
      By choosing LegitGrails’ authentication service, fashion enthusiasts and collectors can trust that their Saint Laurent bags are authentic and of high quality.
  </p>
</div>

{% schema %}
  {
    "name": "Three text columns",
    "class": "article_columns article_three-columns article_three-text-columns rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}