<style>
  .content-for-layout {
    padding-bottom: 0!important;
  }
  a, p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #3C1F1B;
  }
</style>

{% section "business-solutions_hero" %}
<div class="product_hero-label block-flex-wrap">
    <p class="body-text">Featured by</p>
    <div class="product_hero-label-items block-flex-wrap">
      {% render "icon-rapaport" %}
      {% render "icon-insider" %}
      {% render "icon-forbes" %}
      {% render "icon-nice" %}
    </div>
  </div>
{% section "business-solutions_how-it-works" %}
{% section "business-solutions_type" %}
{% section "account_loyalty" %}
{% section "products-seo_partners" %}
{% section "product_reviews" %}
{% section "account_slides" %}
{% section "business-solutions_verified" %}
{% section "business-solutions_why-lg" %}
{% section "products-seo_partners-label" %}
