{% render 'styles-product-landing-page-min' %}
{% render 'partners-styles-min' %}
{% section 'legit-page-partners-hero' %}
{% section 'legit-partners-tabs' %}
{% section 'legit-steps-bundle' %}
{% section 'partners-mosaic' %}
{% section 'legit-page-partners-our-partners' %}
{% section 'partners_platform-block' %}
{% section 'legit-authentication-benefits-white' %}
<div class="frame" data-tf-widget="qspsn7oe" data-tf-iframe-props="title=Let's Get Personal" data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>

{% section 'legit-page-partners-bottom' %}
